Packs/XSOAR_Engineer_Training/Playbooks/XSOAR_Engineer_Training_-_AD_User_Lookup_(Sub-Playbook).yml
id: XSOAR Engineer Training - AD User Lookup (Sub-Playbook)
version: -1
name: XSOAR Engineer Training - AD User Lookup (Sub-Playbook)
description: "This sub-playbook will check to see if the user exists in AD based on the inputed email address.\n\nIf the user exists, it will add the user to a key called Exists, if not add them to NotExists.  \n\nThese keys are outputs of this sub-playbook which will be returned to the parent."
tags:
- training
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 98b74cd2-5096-4c5b-8d86-f89af8a93fc0
    type: start
    task:
      id: 98b74cd2-5096-4c5b-8d86-f89af8a93fc0
      version: -1
      name: ""
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "6"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: aacb12b5-e224-4879-89f9-c4cb132cf93a
    type: regular
    task:
      id: aacb12b5-e224-4879-89f9-c4cb132cf93a
      version: -1
      name: ad-get-user
      description: Retrieves detailed information about a user account. The user can be specified by username, email address, or as an Active Directory Distinguished Name (DN).
      script: '|||ad-get-user'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      email:
        complex:
          root: inputs.Users
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: ffaa3249-aa13-47f5-8a8d-cc8340c61f9e
    type: condition
    task:
      id: ffaa3249-aa13-47f5-8a8d-cc8340c61f9e
      version: -1
      name: Does User Exist?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "3"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: ActiveDirectory.Users
                accessor: mail
            iscontext: true
      - - operator: isEqualString
          left:
            value:
              simple: ActiveDirectory.Users.mail
            iscontext: true
          right:
            value:
              simple: inputs.Users
            iscontext: true
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 343976dc-7507-4559-8c5d-2ac3dbaddb15
    type: regular
    task:
      id: 343976dc-7507-4559-8c5d-2ac3dbaddb15
      version: -1
      name: Set Exists
      description: Set a value in context under the key you entered.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      key:
        simple: Exists
      value:
        complex:
          root: ActiveDirectory.Users
          accessor: mail
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 41e9fa5f-e30a-471e-829e-c4e92dc93620
    type: regular
    task:
      id: 41e9fa5f-e30a-471e-829e-c4e92dc93620
      version: -1
      name: Set Doesn't Exists
      description: Set a value in context under the key you entered.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      key:
        simple: NotExisted
      value:
        simple: ${inputs.Users}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 71e4ddc9-6285-41a3-8a73-4ceb3e88ffb9
    type: title
    task:
      id: 71e4ddc9-6285-41a3-8a73-4ceb3e88ffb9
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      description: ''
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: dfc8f80e-a59e-4e41-826c-75b43fa6d9f8
    type: regular
    task:
      id: dfc8f80e-a59e-4e41-826c-75b43fa6d9f8
      version: -1
      name: Delete Context
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      all:
        simple: "yes"
      subplaybook:
        simple: "yes"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: be7b5187-abe9-43d1-878a-cdcd7fce784d
    type: regular
    task:
      id: be7b5187-abe9-43d1-878a-cdcd7fce784d
      version: -1
      name: Set User
      description: Set a value in context under the key you entered.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    scriptarguments:
      key:
        simple: User
      value:
        simple: ${inputs.Users}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1085,
        "width": 810,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: Users
  value: {}
  required: true
  description: ""
  playbookInputQuery:
outputs:
- contextPath: Exists
  type: unknown
- contextPath: NotExisted
  type: unknown
tests:
- No tests (auto formatted)
fromversion: 6.8.0
