Packs/PaloAltoNetworks_PAN_OS_EDL_Management/Playbooks/playbook-PAN-OS_EDL_Setup_v3.yml
description: 'Configures an external dynamic list in PAN-OS.

  In the event that the file exists on the web server, it will sync it to demisto.
  Then it will create an EDL object and a matching rule.'
fromversion: 4.0.0
id: PAN-OS EDL Setup v3
inputs:
- description: 'The name of the list that will store the IOCs.

    The name of the file on the web server. This file name is the same as the name
    of the list with the extension ".txt" added.'
  key: list-name
  required: true
  value: {}
- description: The type of the IOCs that the list will store. Can be "ip", "url",
    or "domain".
  key: ioc-type
  required: true
  value: {}
- description: comma separated values
  key: list-items
  required: true
  value: {}
- description: 'The action that will be defined in the rule:

    allow/deny/drop'
  key: action-type
  required: true
  value:
    simple: drop
- description: Whether to commit the configuration automatically.
  key: auto-commit
  required: false
  value:
    simple: false
- description: The server address to which to forward logs.
  key: log-forwarding-object-name
  required: false
  value: {}
- description: The full URL path of the web server on which the files are stored.
  key: web-server-url
  required: true
  value: {}
- description: Either pre-rulebase or post-rulebase,  according to the rule structure.
  key: pre-post-rulebase
  required: true
  value:
    simple: pre-rulebase
- description: "The position of the rule in the ruleset. Valid values are:\n  * top\n\
    \  * bottom\n  * before\n  * after\n\nThe default position is 'top'"
  key: rule-position
  required: false
  value:
    simple: bottom
- description: If the rule-position that is chosen is before or after, specify the
    rule name to which it is related.
  key: relative-rule-name
  required: false
  value: {}
- description: Determines if the rule is inbound or outbound.
  key: inbound-or-outbound-rule
  required: false
  value:
    simple: outbound
- description: The name of the rule to update, or the name of the rule that will be
    created.
  key: rule-name
  required: false
  value: {}
- description: The device group to work on. Exists only in panorama!
  key: device-group
  required: false
  value: {}
name: PAN-OS EDL Setup v3
outputs:
- contextPath: Panorama.EDL.Name
  description: Name of theEDL.
- contextPath: Panorama.Commit.Warnings
  description: Commit Warnings
  type: unknown
- contextPath: Panorama.Push.Warnings
  description: Push  warnings
sourceplaybookid: PAN-OS EDL Setup v2
starttaskid: '0'
tasks:
  '0':
    id: '0'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '1'
    note: false
    separatecontext: false
    task:
      brand: ''
      description: ''
      id: 15be5abe-cd81-459e-8a8d-fd7b40bfe91d
      iscommand: false
      name: ''
      version: -1
    taskid: 15be5abe-cd81-459e-8a8d-fd7b40bfe91d
    timertriggers: []
    type: start
    view: "{\n  \"position\": {\n    \"x\": 255,\n    \"y\": 50\n  }\n}"
  '1':
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Panorama
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: true
    id: '1'
    ignoreworker: false
    nexttasks:
      '#default#':
      - '3'
      true:
      - '2'
    note: false
    separatecontext: false
    task:
      brand: ''
      description: Checks if there is an active instance of the PAN-OS integration
        enabled.
      id: 64be095d-1f01-4967-847f-5fc69d2b3400
      iscommand: false
      name: Is PAN-OS integration enabled?
      type: condition
      version: -1
    taskid: 64be095d-1f01-4967-847f-5fc69d2b3400
    timertriggers: []
    type: condition
    view: "{\n  \"position\": {\n    \"x\": 255,\n    \"y\": 195\n  }\n}"
  '16':
    id: '16'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '45'
    note: false
    scriptarguments:
      file_path:
        simple: ${inputs.list-name}.txt
      list_name:
        simple: ${inputs.list-name}
      type:
        simple: merge
      verbose: {}
    separatecontext: false
    task:
      brand: ''
      description: Fetches the content of the external file and merges it with the
        content of the internal list.
      id: 2720f90b-4027-4694-8373-ffeff3461228
      iscommand: true
      name: Add changes from external file to the internal list
      script: '|||pan-os-edl-update-from-external-file'
      type: regular
      version: -1
    taskid: 2720f90b-4027-4694-8373-ffeff3461228
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 1710,\n    \"y\": 890\n  }\n}"
  '17':
    id: '17'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '19'
    note: false
    scriptarguments:
      add_or_remove:
        simple: add
      file_path:
        simple: ${inputs.list-name}.txt
      list_items:
        simple: ${inputs.list-items}
      list_name:
        simple: ${inputs.list-name}
      verbose: {}
    separatecontext: false
    task:
      brand: ''
      description: Creates an internal list in Demisto and creates an external file
        on the web server.
      id: f82881a1-c5ee-4903-800d-49ef69e5620b
      iscommand: true
      name: Create internal list and external file
      script: '|||pan-os-edl-update'
      type: regular
      version: -1
    taskid: f82881a1-c5ee-4903-800d-49ef69e5620b
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 1060,\n    \"y\": 890\n  }\n}"
  '18':
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: PANOSEDL.FileName
          operator: containsGeneral
          right:
            iscontext: true
            value:
              complex:
                root: inputs.list-name
                transformers:
                - args:
                    prefix: {}
                    suffix:
                      value:
                        simple: .txt
                  operator: concat
      label: true
    id: '18'
    ignoreworker: false
    nexttasks:
      '#default#':
      - '17'
      true:
      - '16'
    note: false
    separatecontext: false
    task:
      brand: ''
      description: Checks if an external file exists on the web server.
      id: ae1e3f95-b83b-4ac4-8980-1f51d4b132f0
      iscommand: false
      name: Is there an external file?
      type: condition
      version: -1
    taskid: ae1e3f95-b83b-4ac4-8980-1f51d4b132f0
    timertriggers: []
    type: condition
    view: "{\n  \"position\": {\n    \"x\": 1342.5,\n    \"y\": 720\n  }\n}"
  '19':
    id: '19'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '42'
    note: false
    scriptarguments:
      certificate_profile: {}
      description: {}
      device-group:
        complex:
          root: inputs.device-group
      name:
        simple: ${inputs.list-name}-${inputs.ioc-type}-edl-object
      recurring:
        simple: five-minute
      type:
        simple: ${inputs.ioc-type}
      url:
        simple: ${inputs.web-server-url}${inputs.list-name}.txt
    separatecontext: false
    task:
      brand: ''
      description: Creates an external dynamic list in PAN-OS and connects it to the
        external file.
      id: 9021dcf2-bcc7-432e-84aa-bcf740cc4c2b
      iscommand: true
      name: Create EDL Object
      script: '|||panorama-create-edl'
      type: regular
      version: -1
    taskid: 9021dcf2-bcc7-432e-84aa-bcf740cc4c2b
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 1060,\n    \"y\": 1080\n  }\n}"
  '2':
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: palo_alto_networks_pan_os_edl_management
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: true
    id: '2'
    ignoreworker: false
    nexttasks:
      '#default#':
      - '3'
      true:
      - '7'
    note: false
    separatecontext: false
    task:
      brand: ''
      description: Checks if there is an active instance of the PAN-OS EDL Management
        integration enabled.
      id: 0e0a0837-5121-4762-8144-9b0c65eb4ad1
      iscommand: false
      name: Is PAN-OS EDL Management integration enabled?
      type: condition
      version: -1
    taskid: 0e0a0837-5121-4762-8144-9b0c65eb4ad1
    timertriggers: []
    type: condition
    view: "{\n  \"position\": {\n    \"x\": 620,\n    \"y\": 370\n  }\n}"
  '23':
    id: '23'
    ignoreworker: false
    nexttasks:
      false:
      - '27'
      true:
      - '48'
    note: false
    results:
    - AreValuesEqual
    scriptarguments:
      left:
        simple: ${inputs.auto-commit}
      right:
        simple: true
    separatecontext: false
    task:
      brand: ''
      description: Checks if the values provided in the arguments are equal. If either
        of the arguments are missing, "no" is returned.
      id: a95785fa-5788-42cb-8339-8126d27af956
      iscommand: false
      name: Is auto-commit defined?
      scriptName: AreValuesEqual
      type: condition
      version: -1
    taskid: a95785fa-5788-42cb-8339-8126d27af956
    timertriggers: []
    type: condition
    view: "{\n  \"position\": {\n    \"x\": 1060,\n    \"y\": 1800\n  }\n}"
  '27':
    id: '27'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '3'
    note: false
    separatecontext: false
    task:
      brand: ''
      description: Allows the analyst to manually commit the changes. This option
        is available when auto-commit is "false".
      id: 7aa57715-2a37-449d-8213-cd6d546a647e
      iscommand: false
      name: Manually commit
      type: regular
      version: -1
    taskid: 7aa57715-2a37-449d-8213-cd6d546a647e
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 1300,\n    \"y\": 1970\n  }\n}"
  '3':
    id: '3'
    ignoreworker: false
    note: false
    separatecontext: false
    task:
      brand: ''
      description: ''
      id: 42adb355-e0d8-4daf-808d-5a6c84d38e9e
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 42adb355-e0d8-4daf-808d-5a6c84d38e9e
    timertriggers: []
    type: title
    view: "{\n  \"position\": {\n    \"x\": 620,\n    \"y\": 2140\n  }\n}"
  '35':
    id: '35'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '3'
    note: false
    scriptarguments:
      add_or_remove:
        simple: add
      file_path:
        simple: ${inputs.list-name}.txt
      list_items:
        simple: ${inputs.list-items}
      list_name:
        simple: ${inputs.list-name}
      verbose: {}
    separatecontext: false
    task:
      brand: ''
      description: Creates an internal list in Demisto and creates an external file
        on the web server.
      id: beecfebc-ceaa-462b-81bd-3207a042ea6f
      iscommand: true
      name: Add the list items to the EDL
      script: '|||pan-os-edl-update'
      type: regular
      version: -1
    taskid: beecfebc-ceaa-462b-81bd-3207a042ea6f
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 1710,\n    \"y\": 1970\n  }\n}"
  '41':
    id: '41'
    ignoreworker: false
    loop:
      exitCondition: ''
      iscommand: false
      wait: 1
    nexttasks:
      '#none#':
      - '23'
    note: false
    scriptarguments:
      action-type:
        complex:
          root: inputs.action-type
      device-group:
        complex:
          root: inputs.device-group
      element-to-add:
        simple: ${Panorama.EDL.Name}
      inbound-or-outbound-rule:
        complex:
          root: inputs.inbound-or-outbound-rule
      log-forwarding-object-name:
        complex:
          root: inputs.log-forwarding-object-name
      pre-post-rulebase:
        complex:
          root: inputs.pre-post-rulebase
      relative-rule-name:
        complex:
          root: inputs.relative-rule-name
      rule-position:
        complex:
          root: inputs.rule-position
      rule_name:
        complex:
          root: inputs.rule-name
    separatecontext: true
    task:
      brand: ''
      description: ''
      id: 601988dc-5e76-46c1-8ba1-151df1df7578
      iscommand: false
      name: PAN-OS - Create Or Edit EDL Rule
      playbookName: PAN-OS - Create Or Edit EDL Rule
      type: playbook
      version: -1
    taskid: 601988dc-5e76-46c1-8ba1-151df1df7578
    timertriggers: []
    type: playbook
    view: "{\n  \"position\": {\n    \"x\": 1060,\n    \"y\": 1620\n  }\n}"
  '42':
    id: '42'
    ignoreworker: false
    nexttasks:
      false:
      - '44'
      true:
      - '49'
    note: false
    results:
    - AreValuesEqual
    scriptarguments:
      left:
        simple: ${inputs.auto-commit}
      right:
        simple: true
    separatecontext: false
    task:
      brand: ''
      description: Checks if the values provided in the arguments are equal. If either
        of the arguments are missing, "no" is returned.
      id: b47e13f7-06e8-42d8-8acc-09d6ab7f4692
      iscommand: false
      name: Is auto-commit defined?
      scriptName: AreValuesEqual
      type: condition
      version: -1
    taskid: b47e13f7-06e8-42d8-8acc-09d6ab7f4692
    timertriggers: []
    type: condition
    view: "{\n  \"position\": {\n    \"x\": 1060,\n    \"y\": 1280\n  }\n}"
  '44':
    id: '44'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '41'
    note: false
    separatecontext: false
    task:
      brand: ''
      description: Allows the analyst to manually commit the changes. This option
        is available when auto-commit is "false".
      id: 6d679c49-0133-43a4-829e-2d49df0342b5
      iscommand: false
      name: Manually commit
      type: regular
      version: -1
    taskid: 6d679c49-0133-43a4-829e-2d49df0342b5
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 1300,\n    \"y\": 1450\n  }\n}"
  '45':
    id: '45'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '46'
    note: false
    scriptarguments:
      action: {}
      category: {}
      cmd:
        simple: <show><system><info></info></system></show>
      command: {}
      dst: {}
      element: {}
      extend-context:
        simple: panorama.model=response.result.system.model
      from: {}
      job-id: {}
      key: {}
      log-type: {}
      pcap-id: {}
      period: {}
      query: {}
      reportname: {}
      reporttype: {}
      search-time: {}
      serialno: {}
      target: {}
      to: {}
      type:
        simple: op
      where: {}
      xpath: {}
    separatecontext: false
    task:
      brand: ''
      description: Run any command supported in the API.
      id: 65e522d7-c2df-47d0-8684-4710e2e534e2
      iscommand: true
      name: Fetch Instance Info
      script: '|||panorama'
      type: regular
      version: -1
    taskid: 65e522d7-c2df-47d0-8684-4710e2e534e2
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 1710,\n    \"y\": 1090\n  }\n}"
  '46':
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: panorama.model
          operator: isEqualString
          right:
            value:
              simple: Panorama
      label: true
    id: '46'
    ignoreworker: false
    nexttasks:
      '#default#':
      - '47'
      true:
      - '35'
    note: false
    separatecontext: false
    task:
      brand: ''
      description: ''
      id: b3e65d83-e451-49db-84b5-c95e81d1054f
      iscommand: false
      name: Is Instance type Panorama?
      type: condition
      version: -1
    taskid: b3e65d83-e451-49db-84b5-c95e81d1054f
    timertriggers: []
    type: condition
    view: "{\n  \"position\": {\n    \"x\": 1710,\n    \"y\": 1260\n  }\n}"
  '47':
    id: '47'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '35'
    note: false
    scriptarguments:
      device-group: {}
      name:
        simple: ${inputs.list-name}-${inputs.ioc-type}-edl-object
    separatecontext: false
    task:
      brand: ''
      description: Returns information for an external dynamic list
      id: 530e2470-d45e-400f-8a36-7106c1e0161b
      iscommand: true
      name: Get EDL Object
      script: '|||panorama-get-edl'
      type: regular
      version: -1
    taskid: 530e2470-d45e-400f-8a36-7106c1e0161b
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 2020,\n    \"y\": 1450\n  }\n}"
  '48':
    id: '48'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '3'
    note: false
    separatecontext: true
    task:
      brand: ''
      description: ''
      id: c8f328b8-325c-4bb9-861b-6b2def304477
      iscommand: false
      name: PAN-OS Commit Configuration
      playbookName: PAN-OS Commit Configuration
      type: playbook
      version: -1
    taskid: c8f328b8-325c-4bb9-861b-6b2def304477
    timertriggers: []
    type: playbook
    view: "{\n  \"position\": {\n    \"x\": 880,\n    \"y\": 1970\n  }\n}"
  '49':
    id: '49'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '41'
    note: false
    separatecontext: true
    task:
      brand: ''
      description: ''
      id: 197e4c4f-f1a1-45e0-8e15-8f6c4086b9ff
      iscommand: false
      name: PAN-OS Commit Configuration
      playbookName: PAN-OS Commit Configuration
      type: playbook
      version: -1
    taskid: 197e4c4f-f1a1-45e0-8e15-8f6c4086b9ff
    timertriggers: []
    type: playbook
    view: "{\n  \"position\": {\n    \"x\": 830,\n    \"y\": 1450\n  }\n}"
  '7':
    continueonerror: true
    id: '7'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '18'
    note: false
    scriptarguments:
      file_path:
        complex:
          root: inputs.list-name
          transformers:
          - args:
              prefix: {}
              suffix:
                value:
                  simple: .txt
            operator: concat
    separatecontext: false
    task:
      brand: ''
      description: Extracts metadata for the external file from the web server.
      id: 7ad2604a-f3e5-4bdf-803e-cc7d61dd3bf1
      iscommand: true
      name: Retrieve external file
      script: '|||pan-os-edl-get-external-file-metadata'
      type: regular
      version: -1
    taskid: 7ad2604a-f3e5-4bdf-803e-cc7d61dd3bf1
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 1342.5,\n    \"y\": 540\n  }\n}"
tests:
- PAN-OS EDL Setup v3 Test
toversion: 4.1.9
version: -1
view: "{\n  \"linkLabelsPosition\": {\n    \"18_16_yes\": 0.44,\n    \"18_17_#default#\"\
  : 0.39,\n    \"1_3_#default#\": 0.1,\n    \"2_3_#default#\": 0.1,\n    \"2_7_yes\"\
  : 0.59\n  },\n  \"paper\": {\n    \"dimensions\": {\n      \"height\": 2155,\n \
  \     \"width\": 2145,\n      \"x\": 255,\n      \"y\": 50\n    }\n  }\n}"
