Packs/Code42/Playbooks/playbook-Code42_File_Search.yml
id: Code42 File Search
version: -1
name: Code42 File Search
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: d045a003-2e7f-4f47-80c7-3882baf399b6
    type: start
    task:
      id: d045a003-2e7f-4f47-80c7-3882baf399b6
      version: -1
      name: ''
      iscommand: false
      brand: ''
      description: ''
    nexttasks:
      '#none#':
      - '1'
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  '1':
    id: '1'
    taskid: f9cdb1dd-4751-462f-86cf-3943bdc1dfe5
    type: condition
    task:
      id: f9cdb1dd-4751-462f-86cf-3943bdc1dfe5
      version: -1
      name: Is Code42 Integration Active?
      description: ''
      type: condition
      iscommand: false
      brand: ''
    nexttasks:
      '#default#':
      - '7'
      'yes':
      - '2'
      - '3'
    separatecontext: false
    conditions:
    - label: 'yes'
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: modules
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: modules.brand
                      iscontext: true
                    right:
                      value:
                        simple: Code42
                - - operator: isEqualString
                    left:
                      value:
                        simple: modules.state
                      iscontext: true
                    right:
                      value:
                        simple: active
                accessor: brand
            iscontext: true
      - - operator: isEqualString
          left:
            value:
              simple: modules.state
            iscontext: true
          right:
            value:
              simple: active
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  '2':
    id: '2'
    taskid: 935cb1d6-e328-4a8e-888f-347c3b33ce11
    type: condition
    task:
      id: 935cb1d6-e328-4a8e-888f-347c3b33ce11
      version: -1
      name: Does SHA256 Exist?
      description: ''
      type: condition
      iscommand: false
      brand: ''
    nexttasks:
      '#default#':
      - '7'
      'yes':
      - '5'
    separatecontext: false
    conditions:
    - label: 'yes'
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: inputs.SHA256
            iscontext: true
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  '3':
    id: '3'
    taskid: 1d0dfb1f-6874-41e9-8593-fca2a96c58c4
    type: condition
    task:
      id: 1d0dfb1f-6874-41e9-8593-fca2a96c58c4
      version: -1
      name: Does MD5 Exist?
      description: ''
      type: condition
      iscommand: false
      brand: ''
    nexttasks:
      '#default#':
      - '7'
      'yes':
      - '6'
    separatecontext: false
    conditions:
    - label: 'yes'
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: inputs.MD5
            iscontext: true
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  '5':
    id: '5'
    taskid: e03a5e72-1695-4322-8072-22f076aeceed
    type: regular
    task:
      id: e03a5e72-1695-4322-8072-22f076aeceed
      version: -1
      name: Code42 Search by SHA256
      description: ''
      script: '|||code42-securitydata-search'
      type: regular
      iscommand: true
      brand: ''
    nexttasks:
      '#none#':
      - '8'
    scriptarguments:
      exposure: {}
      hash:
        simple: ${inputs.SHA256}
      hostname: {}
      json: {}
      results: {}
      username: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 490,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  '6':
    id: '6'
    taskid: 9eda738e-0108-4e18-8d30-d3a20089c0a6
    type: regular
    task:
      id: 9eda738e-0108-4e18-8d30-d3a20089c0a6
      version: -1
      name: Code42 Search by MD5
      description: ''
      script: '|||code42-securitydata-search'
      type: regular
      iscommand: true
      brand: ''
    nexttasks:
      '#none#':
      - '8'
    scriptarguments:
      exposure: {}
      hash:
        simple: ${inputs.MD5}
      hostname: {}
      json: {}
      results: {}
      username: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 920,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  '7':
    id: '7'
    taskid: 7f03d6ab-3bb8-4bd5-867b-fe853fa38684
    type: title
    task:
      id: 7f03d6ab-3bb8-4bd5-867b-fe853fa38684
      version: -1
      name: Complete
      type: title
      iscommand: false
      brand: ''
      description: ''
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  '8':
    id: '8'
    taskid: f1a76998-25e5-4782-81e5-d46caa151544
    type: regular
    task:
      id: f1a76998-25e5-4782-81e5-d46caa151544
      version: -1
      name: Extract Hosts
      description: ''
      scriptName: Set
      type: regular
      iscommand: false
      brand: ''
    nexttasks:
      '#none#':
      - '9'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: FileHosts
      stringify:
        simple: 'true'
      value:
        complex:
          root: Code42
          filters:
          - - operator: isExists
              left:
                value:
                  simple: Code42.SecurityData.FileHostname
                iscontext: true
          accessor: SecurityData.FileHostname
          transformers:
          - operator: uniq
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 705,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  '9':
    id: '9'
    taskid: 9b52020b-081b-4a3c-81c3-3912f3958d05
    type: regular
    task:
      id: 9b52020b-081b-4a3c-81c3-3912f3958d05
      version: -1
      name: Extract Paths
      description: ''
      scriptName: Set
      type: regular
      iscommand: false
      brand: ''
    nexttasks:
      '#none#':
      - '7'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: FilePaths
      stringify:
        simple: 'true'
      value:
        complex:
          root: Code42
          filters:
          - - operator: isExists
              left:
                value:
                  simple: Code42.SecurityData.FilePath
                iscontext: true
          accessor: SecurityData.FilePath
          transformers:
          - operator: uniq
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 705,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1085,
        "width": 1250,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: MD5
  value: {}
  required: false
  description: MD5 hash to search for
- key: SHA256
  value: {}
  required: false
  description: SHA256 hash to search for
outputs:
- contextPath: FileHosts
  description: Hosts where file is located
  type: string
- contextPath: FilePaths
  description: Paths where file is located
  type: string
description: ''
fromversion: 5.0.0
tests:
  - "Code42 File Search Test"
