TestPlaybooks/playbook-McAfeeESMTest.yml
id: McAfeeESMTest
version: 20
name: McAfeeESMTest
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 56b86514-7f6a-4e2e-83f0-2bb9d3d25864
    type: start
    task:
      id: 56b86514-7f6a-4e2e-83f0-2bb9d3d25864
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "4"
      - "28"
    view: |-
      {
        "position": {
          "x": 265,
          "y": 50
        }
      }
  "2":
    id: "2"
    taskid: 15db3773-8de6-4534-89f6-f4d1ba815d77
    type: regular
    task:
      id: 15db3773-8de6-4534-89f6-f4d1ba815d77
      version: -1
      name: esm-add-case
      description: Add a case to the system
      script: McAfee ESM-v10|||esm-add-case
      type: regular
      iscommand: true
      brand: McAfee ESM-v10
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      assignee: {}
      organization: {}
      severity: {}
      status: {}
      summary:
        simple: this is the first case
    view: |-
      {
        "position": {
          "x": 50,
          "y": 720
        }
      }
  "4":
    id: "4"
    taskid: 7cd32838-1de5-478a-8d02-8d7e164fae93
    type: regular
    task:
      id: 7cd32838-1de5-478a-8d02-8d7e164fae93
      version: -1
      name: Clear Context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "30"
    scriptarguments:
      additional: {}
      all:
        simple: "yes"
      contextKey: {}
      data: {}
      filter: {}
      filterType: {}
      key: {}
      out: {}
      table: {}
      title: {}
      verbose: {}
      xml: {}
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
  "6":
    id: "6"
    taskid: 02cad2d2-f125-4cc1-896d-016d57af1a38
    type: regular
    task:
      id: 02cad2d2-f125-4cc1-896d-016d57af1a38
      version: -1
      name: Edit severity, organization and summary
      script: McAfee ESM-v10|||esm-edit-case
      type: regular
      iscommand: true
      brand: McAfee ESM-v10
    nexttasks:
      '#none#':
      - "27"
    scriptarguments:
      assignedUser: {}
      assignee: {}
      customEnd: {}
      customStart: {}
      filters: {}
      id:
        simple: ${Case.ID}
      maxWait: {}
      organization:
        simple: LuthorCorp
      queryType: {}
      severity:
        simple: "50"
      status: {}
      summary:
        simple: editing first case
      timeRange: {}
    view: |-
      {
        "position": {
          "x": 50,
          "y": 895
        }
      }
  "9":
    id: "9"
    taskid: 9efa94c5-cc6d-48dc-868d-9f55f1893c05
    type: regular
    task:
      id: 9efa94c5-cc6d-48dc-868d-9f55f1893c05
      version: -1
      name: Get case info after event assignment
      script: McAfee ESM-v10|||esm-get-case-detail
      type: regular
      iscommand: true
      brand: McAfee ESM-v10
    nexttasks:
      '#none#':
      - "16"
    scriptarguments:
      field1: {}
      field2: {}
      field3: {}
      field4: {}
      id:
        simple: ${Case.ID}
      value1: {}
      value2: {}
      value3: {}
      value4: {}
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1595
        }
      }
  "11":
    id: "11"
    taskid: c9049d3e-a163-4b18-8897-b91daa2d543b
    type: regular
    task:
      id: c9049d3e-a163-4b18-8897-b91daa2d543b
      version: -1
      name: Add new case with all parameters.
      script: McAfee ESM-v10|||esm-add-case
      type: regular
      iscommand: true
      brand: McAfee ESM-v10
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      assignee:
        simple: JKRolling
      organization:
        simple: LuthorCorp
      severity:
        simple: "1"
      status:
        simple: Research
      summary:
        simple: McAfee ESM playbook test - all parameter case
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1245
        }
      }
  "13":
    id: "13"
    taskid: dc4f8fa7-d88f-42f9-8f6c-3affbc532a45
    type: regular
    task:
      id: dc4f8fa7-d88f-42f9-8f6c-3affbc532a45
      version: -1
      name: Edit the user name of last case to default
      script: McAfee ESM-v10|||esm-edit-case
      type: regular
      iscommand: true
      brand: McAfee ESM-v10
    nexttasks:
      '#none#':
      - "9"
    scriptarguments:
      assignee:
        simple: me
      id:
        simple: ${Case.ID}
      organization: {}
      severity: {}
      status:
        simple: Open
      summary: {}
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1420
        }
      }
  "16":
    id: "16"
    taskid: abfee58b-8c24-4680-836c-ed1e561e3b78
    type: regular
    task:
      id: abfee58b-8c24-4680-836c-ed1e561e3b78
      version: -1
      name: Change case status name from Research to Development
      script: McAfee ESM-v10|||esm-edit-case-status
      type: regular
      iscommand: true
      brand: McAfee ESM-v10
    nexttasks:
      '#none#':
      - "18"
    scriptarguments:
      new_name:
        simple: Development_${TimeNowUnix}
      original_name:
        simple: Research_${TimeNowUnix}
      show_in_case_pane: {}
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1770
        }
      }
  "17":
    id: "17"
    taskid: 59bb491b-56b0-43ce-865b-81b397bcd538
    type: regular
    task:
      id: 59bb491b-56b0-43ce-865b-81b397bcd538
      version: -1
      name: Remove additional case status
      script: McAfee ESM-v10|||esm-delete-case-status
      type: regular
      iscommand: true
      brand: McAfee ESM-v10
    nexttasks:
      '#none#':
      - "20"
    scriptarguments:
      name:
        simple: Development_${TimeNowUnix}
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2295
        }
      }
  "18":
    id: "18"
    taskid: c570a432-0af3-42ca-8294-eb21ba0ab99c
    type: regular
    task:
      id: c570a432-0af3-42ca-8294-eb21ba0ab99c
      version: -1
      name: Set show case pane of new case status
      script: McAfee ESM-v10|||esm-add-case-status
      type: regular
      iscommand: true
      brand: McAfee ESM-v10
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      name:
        simple: VooDoo_${TimeNowUnix}
      show_in_case_pane:
        simple: "True"
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1945
        }
      }
  "19":
    id: "19"
    taskid: 00fa2fe3-54ab-4b46-871b-e790ff200501
    type: regular
    task:
      id: 00fa2fe3-54ab-4b46-871b-e790ff200501
      version: -1
      name: Change case status optional parameter
      script: McAfee ESM-v10|||esm-edit-case-status
      type: regular
      iscommand: true
      brand: McAfee ESM-v10
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      new_name:
        simple: VooDoo_${TimeNowUnix}
      original_name:
        simple: VooDoo_${TimeNowUnix}
      show_in_case_pane:
        simple: "False"
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2120
        }
      }
  "20":
    id: "20"
    taskid: 7b93811e-2d33-40ca-8ce8-41e539478c56
    type: regular
    task:
      id: 7b93811e-2d33-40ca-8ce8-41e539478c56
      version: -1
      name: Remove additional case status2
      script: McAfee ESM-v10|||esm-delete-case-status
      type: regular
      iscommand: true
      brand: McAfee ESM-v10
    nexttasks:
      '#none#':
      - "22"
    scriptarguments:
      name:
        simple: VooDoo_${TimeNowUnix}
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2470
        }
      }
  "21":
    id: "21"
    taskid: bc7ccc2e-4453-4eb0-8206-20e962b3bba0
    type: regular
    task:
      id: bc7ccc2e-4453-4eb0-8206-20e962b3bba0
      version: -1
      name: Fetch Alarms
      script: McAfee ESM-v10|||esm-fetch-alarms
      type: regular
      iscommand: true
      brand: McAfee ESM-v10
    nexttasks:
      '#none#':
      - "23"
    scriptarguments:
      assignedUser:
        simple: ME
      customEnd: {}
      customStart: {}
      filters: {}
      maxWait: {}
      queryType: {}
      timeRange:
        simple: CURRENT_WEEK
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2790
        }
      }
  "22":
    id: "22"
    taskid: 1af85ad4-8dae-4223-8fe5-f83510a7fc47
    type: title
    task:
      id: 1af85ad4-8dae-4223-8fe5-f83510a7fc47
      version: -1
      name: All listing commands
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "21"
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2645
        }
      }
  "23":
    id: "23"
    taskid: beb59ae6-7ab7-43c1-8266-684c8d6f5671
    type: regular
    task:
      id: beb59ae6-7ab7-43c1-8266-684c8d6f5671
      version: -1
      name: Get status cases
      script: McAfee ESM-v10|||esm-get-case-statuses
      type: regular
      iscommand: true
      brand: McAfee ESM-v10
    nexttasks:
      '#none#':
      - "24"
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2965
        }
      }
  "24":
    id: "24"
    taskid: 5b1e813c-3370-414e-8094-1cc1367538e6
    type: regular
    task:
      id: 5b1e813c-3370-414e-8094-1cc1367538e6
      version: -1
      name: Get cases
      script: McAfee ESM-v10|||esm-get-case-list
      type: regular
      iscommand: true
      brand: McAfee ESM-v10
    nexttasks:
      '#none#':
      - "25"
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3140
        }
      }
  "25":
    id: "25"
    taskid: 2df35e2d-4185-4310-811d-a8f02efd42ef
    type: regular
    task:
      id: 2df35e2d-4185-4310-811d-a8f02efd42ef
      version: -1
      name: Get users
      script: McAfee ESM-v10|||esm-get-user-list
      type: regular
      iscommand: true
      brand: McAfee ESM-v10
    nexttasks:
      '#none#':
      - "26"
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3315
        }
      }
  "26":
    id: "26"
    taskid: 68cd9624-0fd8-4d5a-8107-2ffd7aa636c8
    type: regular
    task:
      id: 68cd9624-0fd8-4d5a-8107-2ffd7aa636c8
      version: -1
      name: Get organizations
      script: McAfee ESM-v10|||esm-get-organization-list
      type: regular
      iscommand: true
      brand: McAfee ESM-v10
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3490
        }
      }
  "27":
    id: "27"
    taskid: d011d901-9ee8-415f-8613-c1a1e22134f1
    type: regular
    task:
      id: d011d901-9ee8-415f-8613-c1a1e22134f1
      version: -1
      name: Close Case
      script: McAfee ESM-v10|||esm-edit-case
      type: regular
      iscommand: true
      brand: McAfee ESM-v10
    nexttasks:
      '#none#':
      - "11"
    scriptarguments:
      assignedUser: {}
      assignee: {}
      customEnd: {}
      customStart: {}
      filters: {}
      id:
        simple: ${Case.ID}
      maxWait: {}
      organization: {}
      queryType: {}
      severity: {}
      status:
        simple: Closed
      summary: {}
      timeRange: {}
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1070
        }
      }
  "28":
    id: "28"
    taskid: 03d05f00-0652-453b-837a-359ea8a868a1
    type: regular
    task:
      id: 03d05f00-0652-453b-837a-359ea8a868a1
      version: -1
      name: Search by fields
      script: McAfee ESM-v10|||esm-search
      type: regular
      iscommand: true
      brand: McAfee ESM-v10
    scriptarguments:
      customEnd: {}
      customStart: {}
      fields:
        simple: SrcIP,IPSIDAlertID,DstIP
      filters:
        simple: '[{  "type": "EsmFieldFilter",  "field": {"name": "SrcIP"},  "operator":
          "EQUALS",   "values": [{  "type": "EsmBasicValue",    "value": "199.203.151.209"  }]  }]'
      maxWait: {}
      queryType: {}
      timeRange:
        simple: CURRENT_DAY
    view: |-
      {
        "position": {
          "x": 480,
          "y": 195
        }
      }
  "29":
    id: "29"
    taskid: 921a1576-b06d-44d5-8542-3b48eaa89d48
    type: regular
    task:
      id: 921a1576-b06d-44d5-8542-3b48eaa89d48
      version: -1
      name: Add a new case status named with timestamp
      script: McAfee ESM-v10|||esm-add-case-status
      type: regular
      iscommand: true
      brand: McAfee ESM-v10
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      name:
        simple: Research_${TimeNowUnix}
      show_in_case_pane: {}
    view: |-
      {
        "position": {
          "x": 50,
          "y": 545
        }
      }
  "30":
    id: "30"
    taskid: 9b8625ff-e8f4-4556-86ef-88038c3374df
    type: regular
    task:
      id: 9b8625ff-e8f4-4556-86ef-88038c3374df
      version: -1
      name: Setup
      scriptName: GetTime
      type: regular
      iscommand: false
      brand: McAfee ESM-v10
    nexttasks:
      '#none#':
      - "29"
    scriptarguments:
      contextKey: {}
      date: {}
      dateFormat: {}
      extend-context:
        simple: contextKey::CaseStatus
      hoursAgo: {}
      minutesAgo: {}
      monthsAgo: {}
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 3535,
        "width": 810,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
releaseNotes: "-"