TestPlaybooks/playbook-VMRay-test.yml
id: VMRay-Test
version: -1
name: VMRay-Test
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 6fd546dd-976e-4ffe-8e1d-3c210746efde
    type: start
    task:
      id: 6fd546dd-976e-4ffe-8e1d-3c210746efde
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "1":
    id: "1"
    taskid: 3efb79a4-ddea-499b-8828-d01ca0788d00
    type: regular
    task:
      id: 3efb79a4-ddea-499b-8828-d01ca0788d00
      version: -1
      name: Get file
      description: Sends http request. Returns the response as json.
      scriptName: http
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      body: {}
      filename: {}
      headers: {}
      insecure: {}
      method:
        simple: GET
      password: {}
      proxy: {}
      saveAsFile:
        simple: "yes"
      unsecure: {}
      url:
        simple: https://raw.githubusercontent.com/demisto/content/master/TestData/Inline_malicious.eml
      username: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "2":
    id: "2"
    taskid: 763d67e6-5d0d-4d3b-8afa-e153a390398f
    type: playbook
    task:
      id: 763d67e6-5d0d-4d3b-8afa-e153a390398f
      version: -1
      name: Detonate File - VMRay
      description: Detonating file with VMRay
      playbookName: Detonate File - VMRay
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "3"
      - "4"
      - "5"
    scriptarguments:
      File:
        simple: ${File}
      interval:
        simple: "1"
      timeout:
        simple: "10"
    separatecontext: true
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
    view: |-
      {
        "position": {
          "x": 480,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "3":
    id: "3"
    taskid: d944b2d5-c972-4940-8780-657656150a87
    type: regular
    task:
      id: d944b2d5-c972-4940-8780-657656150a87
      version: -1
      name: Get analysis by sample
      description: Get all analysis details about a specific sample.
      script: '|||vmray-get-analysis-by-sample'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      limit:
        simple: "1"
      sample_id:
        simple: ${VMRay.Job.SampleID}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "4":
    id: "4"
    taskid: d706f9f4-0b55-43ca-84f4-5582e93533ce
    type: regular
    task:
      id: d706f9f4-0b55-43ca-84f4-5582e93533ce
      version: -1
      name: get-threat-indicators
      description: Get threat indicators (VTI)
      script: '|||vmray-get-threat-indicators'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      sample_id:
        simple: ${VMRay.Sample.SampleID}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "5":
    id: "5"
    taskid: ce231981-b7be-4a1b-8433-e0b0a66f4da5
    type: regular
    task:
      id: ce231981-b7be-4a1b-8433-e0b0a66f4da5
      version: -1
      name: Get IOCs
      description: getting iocs of given sample
      script: '|||vmray-get-iocs'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      sample_id:
        simple: ${VMRay.Sample.SampleID}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "6":
    id: "6"
    taskid: 38328f86-7a51-4215-84e4-ee9c60ee5366
    type: regular
    task:
      id: 38328f86-7a51-4215-84e4-ee9c60ee5366
      version: -1
      name: Add tag
      description: Adds a tag to analysis and/or submission
      script: '|||vmray-add-tag'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      analysis_id:
        simple: ${VMRay.Analysis.AnalysisID}
      submission_id:
        simple: ${VMRay.Submission.SubmissionID}
      tag:
        simple: test_task
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "7":
    id: "7"
    taskid: ed6b816a-c46f-45bf-8cb3-13595b97800f
    type: title
    task:
      id: ed6b816a-c46f-45bf-8cb3-13595b97800f
      version: -1
      name: End of test
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "8":
    id: "8"
    taskid: 53c445f1-a166-4df9-823f-430688d8b4c9
    type: regular
    task:
      id: 53c445f1-a166-4df9-823f-430688d8b4c9
      version: -1
      name: Remove tag
      description: Delete tags from analysis and/or submission
      script: '|||vmray-delete-tag'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      analysis_id:
        simple: ${VMRay.Analysis.AnalysisID}
      submission_id:
        simple: ${VMRay.Submission.SubmissionID}
      tag:
        simple: test_task
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1085,
        "width": 1240,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
