TestPlaybooks/playbook-Intezer_Test.yml
id: Intezer Testing
version: 17
name: Intezer Testing
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 95cfb4bc-35f3-4a56-8c83-c8ed8e73ef48
    type: start
    task:
      id: 95cfb4bc-35f3-4a56-8c83-c8ed8e73ef48
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "10"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
    note: false
    timertriggers: []
  "1":
    id: "1"
    taskid: 886cab71-0afd-4293-8825-0d45fe9adad6
    type: regular
    task:
      id: 886cab71-0afd-4293-8825-0d45fe9adad6
      version: -1
      name: Analyze by SHA256
      description: Checks file reputation of the given hash, supports SHA256
      script: '|||file'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      codeItemType: {}
      delay:
        simple: "5"
      file:
        simple: ${inputs.SHA256}
      maxRetries: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 515
        }
      }
    note: false
    timertriggers: []
  "3":
    id: "3"
    taskid: 9c9d299a-8fff-44c1-82ee-36bc7c1c6e6a
    type: regular
    task:
      id: 9c9d299a-8fff-44c1-82ee-36bc7c1c6e6a
      version: -1
      name: Verify existing on Intezer
      description: |-
        Verifies path in context:
        - Verifies path existence
        - If matching object is an array: verify fields exists in each of the objects in the array
        - If matching object is not an array: verify fields exists in matching object
        - if 'expectedValue' is given: ensure that the given value is equal to the context path
      scriptName: VerifyContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      expectedValue:
        simple: "true"
      fields: {}
      path:
        simple: File.ExistsInIntezer
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 690
        }
      }
    note: false
    timertriggers: []
  "4":
    id: "4"
    taskid: 3c9a64cf-7fed-4e8c-8964-0ba47c06ce0c
    type: title
    task:
      id: 3c9a64cf-7fed-4e8c-8964-0ba47c06ce0c
      version: -1
      name: Success
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 6170
        }
      }
    note: false
    timertriggers: []
  "5":
    id: "5"
    taskid: 2ecae5b1-834f-4dd1-8c85-a24b429534fe
    type: regular
    task:
      id: 2ecae5b1-834f-4dd1-8c85-a24b429534fe
      version: -1
      name: Verify Hash on DBot score
      scriptName: VerifyContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      expectedValue:
        simple: ${inputs.SHA256}
      fields: {}
      path:
        simple: DBotScore.[0].Indicator
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1040
        }
      }
    note: false
    timertriggers: []
  "6":
    id: "6"
    taskid: 75051568-f103-4a1c-8a88-88afa4b5e5f6
    type: regular
    task:
      id: 75051568-f103-4a1c-8a88-88afa4b5e5f6
      version: -1
      name: Verify Vendor
      scriptName: VerifyContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "29"
    scriptarguments:
      expectedValue:
        simple: Intezer
      fields: {}
      path:
        simple: DBotScore.[0].Vendor
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1215
        }
      }
    note: false
    timertriggers: []
  "7":
    id: "7"
    taskid: 35c17e81-c910-4677-8044-6f0846904a36
    type: regular
    task:
      id: 35c17e81-c910-4677-8044-6f0846904a36
      version: -1
      name: Delete Context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    scriptarguments:
      all:
        simple: "yes"
      key: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 340
        }
      }
    note: false
    timertriggers: []
  "8":
    id: "8"
    taskid: 69abfafb-c1b4-471f-8157-92455dc1624b
    type: regular
    task:
      id: 69abfafb-c1b4-471f-8157-92455dc1624b
      version: -1
      name: Verify Hash on File
      scriptName: VerifyContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      expectedValue:
        simple: ${inputs.SHA256}
      fields: {}
      path:
        simple: File.SHA256
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 865
        }
      }
    note: false
    timertriggers: []
  "9":
    id: "9"
    taskid: 7681c715-08ab-45a1-89e0-31a8c6bc2dcc
    type: title
    task:
      id: 7681c715-08ab-45a1-89e0-31a8c6bc2dcc
      version: -1
      name: File upload
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "13"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3780
        }
      }
    note: false
    timertriggers: []
  "10":
    id: "10"
    taskid: 4b11fdc9-4964-4906-8e03-c042b1877635
    type: title
    task:
      id: 4b11fdc9-4964-4906-8e03-c042b1877635
      version: -1
      name: Analyze file by SHA256
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
    note: false
    timertriggers: []
  "11":
    id: "11"
    taskid: b7819fdb-70e3-48f3-88f4-311391489b4f
    type: regular
    task:
      id: b7819fdb-70e3-48f3-88f4-311391489b4f
      version: -1
      name: Upload Sample File
      scriptName: http
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      body: {}
      filename: {}
      headers: {}
      insecure: {}
      method:
        simple: GET
      password: {}
      proxy: {}
      saveAsFile:
        simple: "yes"
      unsecure: {}
      url:
        simple: https://raw.githubusercontent.com/demisto/content/master/TestData/intezer-test-file.sample
      username: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 4100
        }
      }
    note: false
    timertriggers: []
  "12":
    id: "12"
    taskid: a9f157ac-2334-488b-8429-7d4508a73e9b
    type: regular
    task:
      id: a9f157ac-2334-488b-8429-7d4508a73e9b
      version: -1
      name: 'Analyze by Upload File '
      description: Checks file reputation for uploaded file (up to 20MB)
      script: '|||intezer-upload'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      codeItemType: {}
      delay:
        simple: "5"
      fileEntryId:
        simple: ${File.EntryID}
      maxRetries: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 4275
        }
      }
    note: false
    timertriggers: []
  "13":
    id: "13"
    taskid: e644f399-a5bb-4ccf-8dc5-fab55cbf7946
    type: regular
    task:
      id: e644f399-a5bb-4ccf-8dc5-fab55cbf7946
      version: -1
      name: Delete Context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "11"
    scriptarguments:
      all:
        simple: "yes"
      key: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3925
        }
      }
    note: false
    timertriggers: []
  "14":
    id: "14"
    taskid: f781f696-eb67-409a-8366-704ae531645c
    type: regular
    task:
      id: f781f696-eb67-409a-8366-704ae531645c
      version: -1
      name: Verify Hash on File
      scriptName: VerifyContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "15"
    scriptarguments:
      expectedValue:
        simple: fcb42f8e4ccb55ee2920da64c7834575875012d89ff260ee318db5054e6e1019
      fields: {}
      path:
        simple: File.SHA256
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 4625
        }
      }
    note: false
    timertriggers: []
  "15":
    id: "15"
    taskid: 9c3ebde5-b854-45c2-8668-18d2bc4deca9
    type: regular
    task:
      id: 9c3ebde5-b854-45c2-8668-18d2bc4deca9
      version: -1
      name: Verify Hash on DBot score
      scriptName: VerifyContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "16"
    scriptarguments:
      expectedValue:
        simple: fcb42f8e4ccb55ee2920da64c7834575875012d89ff260ee318db5054e6e1019
      fields: {}
      path:
        simple: DBotScore.[0].Indicator
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 4800
        }
      }
    note: false
    timertriggers: []
  "16":
    id: "16"
    taskid: fee6addf-2960-4178-87f8-7c90825b3da1
    type: regular
    task:
      id: fee6addf-2960-4178-87f8-7c90825b3da1
      version: -1
      name: Verify Vendor
      scriptName: VerifyContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "18"
    scriptarguments:
      expectedValue:
        simple: Intezer
      fields: {}
      path:
        simple: DBotScore.[0].Vendor
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 4975
        }
      }
    note: false
    timertriggers: []
  "17":
    id: "17"
    taskid: 834e38c6-82c9-4fdc-85d0-f1a460c3628a
    type: regular
    task:
      id: 834e38c6-82c9-4fdc-85d0-f1a460c3628a
      version: -1
      name: Verify existing on Intezer
      description: |-
        Verifies path in context:
        - Verifies path existence
        - If matching object is an array: verify fields exists in each of the objects in the array
        - If matching object is not an array: verify fields exists in matching object
        - if 'expectedValue' is given: ensure that the given value is equal to the context path
      scriptName: VerifyContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "14"
    scriptarguments:
      expectedValue:
        simple: "true"
      fields: {}
      path:
        simple: File.ExistsInIntezer
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 4450
        }
      }
    note: false
    timertriggers: []
  "18":
    id: "18"
    taskid: d7ee6a54-f7bb-4555-83da-527dda973e6c
    type: regular
    task:
      id: d7ee6a54-f7bb-4555-83da-527dda973e6c
      version: -1
      name: DeleteContext
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "23"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 5150
        }
      }
    note: false
    timertriggers: []
  "19":
    id: "19"
    taskid: 5c4ea0d4-959a-4c16-8bdd-cbbf3b254d3b
    type: regular
    task:
      id: 5c4ea0d4-959a-4c16-8bdd-cbbf3b254d3b
      version: -1
      name: file (with bad hash format value in the file argument)
      description: Checks file reputation of the given hash, supports SHA256
      script: Intezer_v2|||file
      type: regular
      iscommand: true
      brand: Intezer_v2
    nexttasks:
      '#none#':
      - "20"
    scriptarguments:
      codeItemType: {}
      delay: {}
      file:
        simple: a31986a65068af86dbfeddad3e63e05f759b2b
      maxRetries: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 5470
        }
      }
    note: false
    timertriggers: []
  "20":
    id: "20"
    taskid: a23eb149-1dca-47a6-8f61-8fb52c4ac789
    type: regular
    task:
      id: a23eb149-1dca-47a6-8f61-8fb52c4ac789
      version: -1
      name: commentsTocontext
      description: "Takes the comments of a given entry ID and stores them in the
        incident context, under a provided context key. \nFor accessing the last executed
        task's comments, provide ${lastCompletedTaskEntries.[0]} as the value for
        the entryId input parameter."
      scriptName: commentsToContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "21"
    scriptarguments:
      contextKey:
        simple: checkNonSupportedHash
      entryId:
        simple: ${lastCompletedTaskEntries.[0]}
      listSeperator: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 5645
        }
      }
    note: false
    timertriggers: []
  "21":
    id: "21"
    taskid: da58e280-ae02-471a-8439-99cea0b763df
    type: condition
    task:
      id: da58e280-ae02-471a-8439-99cea0b763df
      version: -1
      name: test file with bad file format input
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "24"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: containsString
          left:
            value:
              simple: checkNonSupportedHash
            iscontext: true
          right:
            value:
              simple: Intezer file hash reputation supports only sha256, sha1 and
                md5 hash formats
    view: |-
      {
        "position": {
          "x": 50,
          "y": 5820
        }
      }
    note: false
    timertriggers: []
  "23":
    id: "23"
    taskid: 03cb1faa-cb43-49b8-844f-c8f566618e8a
    type: title
    task:
      id: 03cb1faa-cb43-49b8-844f-c8f566618e8a
      version: -1
      name: non supported hash values
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "19"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 5325
        }
      }
    note: false
    timertriggers: []
  "24":
    id: "24"
    taskid: f1947acb-44ac-43d1-8724-2bef2f641b2b
    type: regular
    task:
      id: f1947acb-44ac-43d1-8724-2bef2f641b2b
      version: -1
      name: deleteContext
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 5995
        }
      }
    note: false
    timertriggers: []
  "26":
    id: "26"
    taskid: bdd82362-0e52-4457-8e09-d279339376f5
    type: regular
    task:
      id: bdd82362-0e52-4457-8e09-d279339376f5
      version: -1
      name: Analyze by SHA1
      description: Checks file reputation of the given hash, supports SHA256
      script: '|||file'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "28"
    scriptarguments:
      codeItemType: {}
      delay:
        simple: "5"
      file:
        simple: ${inputs.SHA1}
      maxRetries: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1710
        }
      }
    note: false
    timertriggers: []
  "28":
    id: "28"
    taskid: cc1b57fb-c7e2-4d82-8fbf-60efffc03d44
    type: regular
    task:
      id: cc1b57fb-c7e2-4d82-8fbf-60efffc03d44
      version: -1
      name: Verify existing on Intezer
      description: |-
        Verifies path in context:
        - Verifies path existence
        - If matching object is an array: verify fields exists in each of the objects in the array
        - If matching object is not an array: verify fields exists in matching object
        - if 'expectedValue' is given: ensure that the given value is equal to the context path
      scriptName: VerifyContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "31"
    scriptarguments:
      expectedValue:
        simple: "true"
      fields: {}
      path:
        simple: File.ExistsInIntezer
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1885
        }
      }
    note: false
    timertriggers: []
  "29":
    id: "29"
    taskid: 7deb039a-07dc-46e4-85cb-802dd945cbcb
    type: title
    task:
      id: 7deb039a-07dc-46e4-85cb-802dd945cbcb
      version: -1
      name: Analyze file by SHA1
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "30"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1390
        }
      }
    note: false
    timertriggers: []
  "30":
    id: "30"
    taskid: 82f4857c-1a53-437a-8a04-1f364102612a
    type: regular
    task:
      id: 82f4857c-1a53-437a-8a04-1f364102612a
      version: -1
      name: Delete Context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "26"
    scriptarguments:
      all:
        simple: "yes"
      key: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1535
        }
      }
    note: false
    timertriggers: []
  "31":
    id: "31"
    taskid: daa5dfcc-7aaf-402d-87b4-0b9672115eea
    type: regular
    task:
      id: daa5dfcc-7aaf-402d-87b4-0b9672115eea
      version: -1
      name: Verify Hash on File
      scriptName: VerifyContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "32"
    scriptarguments:
      expectedValue:
        simple: ${inputs.SHA256}
      fields: {}
      path:
        simple: File.SHA256
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2060
        }
      }
    note: false
    timertriggers: []
  "32":
    id: "32"
    taskid: c9b4b4f9-a599-48a6-841b-77679ed04fac
    type: regular
    task:
      id: c9b4b4f9-a599-48a6-841b-77679ed04fac
      version: -1
      name: Verify Hash on DBot score
      scriptName: VerifyContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "33"
    scriptarguments:
      expectedValue:
        simple: ${inputs.SHA256}
      fields: {}
      path:
        simple: DBotScore.[0].Indicator
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2235
        }
      }
    note: false
    timertriggers: []
  "33":
    id: "33"
    taskid: 1d1b2b52-45c0-4900-8d6a-f3b23b9ea811
    type: regular
    task:
      id: 1d1b2b52-45c0-4900-8d6a-f3b23b9ea811
      version: -1
      name: Verify Vendor
      scriptName: VerifyContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "34"
    scriptarguments:
      expectedValue:
        simple: Intezer
      fields: {}
      path:
        simple: DBotScore.[0].Vendor
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2410
        }
      }
    note: false
    timertriggers: []
  "34":
    id: "34"
    taskid: 8538cdeb-a486-4e4a-8e83-85ad455e0ab1
    type: title
    task:
      id: 8538cdeb-a486-4e4a-8e83-85ad455e0ab1
      version: -1
      name: Analyze file by MD5
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "35"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2585
        }
      }
    note: false
    timertriggers: []
  "35":
    id: "35"
    taskid: 8216c2d5-d4b2-400f-8d96-59d86201512d
    type: regular
    task:
      id: 8216c2d5-d4b2-400f-8d96-59d86201512d
      version: -1
      name: Delete Context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "36"
    scriptarguments:
      all:
        simple: "yes"
      key: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2730
        }
      }
    note: false
    timertriggers: []
  "36":
    id: "36"
    taskid: 6d730844-66d0-4234-8748-24d438654764
    type: regular
    task:
      id: 6d730844-66d0-4234-8748-24d438654764
      version: -1
      name: Analyze by MD5
      description: Checks file reputation of the given hash, supports SHA256
      script: '|||file'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "37"
    scriptarguments:
      codeItemType: {}
      delay:
        simple: "5"
      file:
        simple: ${inputs.MD5}
      maxRetries: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2905
        }
      }
    note: false
    timertriggers: []
  "37":
    id: "37"
    taskid: 9cfb1776-ddd7-4356-8b2b-26529e4e4b46
    type: regular
    task:
      id: 9cfb1776-ddd7-4356-8b2b-26529e4e4b46
      version: -1
      name: Verify existing on Intezer
      description: |-
        Verifies path in context:
        - Verifies path existence
        - If matching object is an array: verify fields exists in each of the objects in the array
        - If matching object is not an array: verify fields exists in matching object
        - if 'expectedValue' is given: ensure that the given value is equal to the context path
      scriptName: VerifyContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "38"
    scriptarguments:
      expectedValue:
        simple: "true"
      fields: {}
      path:
        simple: File.ExistsInIntezer
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3080
        }
      }
    note: false
    timertriggers: []
  "38":
    id: "38"
    taskid: 8c897fdb-6fc6-46bd-8c41-a9733805fd36
    type: regular
    task:
      id: 8c897fdb-6fc6-46bd-8c41-a9733805fd36
      version: -1
      name: Verify Hash on File
      scriptName: VerifyContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "39"
    scriptarguments:
      expectedValue:
        simple: ${inputs.SHA256}
      fields: {}
      path:
        simple: File.SHA256
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3255
        }
      }
    note: false
    timertriggers: []
  "39":
    id: "39"
    taskid: 40ad8885-5ca7-4665-89fe-bd95ed8a25c9
    type: regular
    task:
      id: 40ad8885-5ca7-4665-89fe-bd95ed8a25c9
      version: -1
      name: Verify Hash on DBot score
      scriptName: VerifyContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "40"
    scriptarguments:
      expectedValue:
        simple: ${inputs.SHA256}
      fields: {}
      path:
        simple: DBotScore.[0].Indicator
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3430
        }
      }
    note: false
    timertriggers: []
  "40":
    id: "40"
    taskid: 099ea7c1-a8e3-453f-8212-dfdb44b4ee0d
    type: regular
    task:
      id: 099ea7c1-a8e3-453f-8212-dfdb44b4ee0d
      version: -1
      name: Verify Vendor
      scriptName: VerifyContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "9"
    scriptarguments:
      expectedValue:
        simple: Intezer
      fields: {}
      path:
        simple: DBotScore.[0].Vendor
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3605
        }
      }
    note: false
    timertriggers: []
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 6185,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: SHA256
  value:
    simple: 4e553bce90f0b39cd71ba633da5990259e185979c2859ec2e04dd8efcdafe356
  required: false
  description: ""
- key: MD5
  value:
    simple: ec7e3cfaeaac0401316d66e964be684e
  required: false
  description: ""
- key: SHA1
  value:
    simple: dbda26c8dfbd511fd048a89a0d0dd300df385e55
  required: false
  description: ""
outputs: []
