TestPlaybooks/playbook-Cybereason_Test.yml
id: Cybereason Test
version: -1
name: Cybereason Test
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 969927d6-b806-4b1f-8e76-e49332cc1962
    type: start
    task:
      id: 969927d6-b806-4b1f-8e76-e49332cc1962
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    reputationcalc: 0
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    id: "1"
    taskid: aeeab39e-6a78-49d1-844e-481f03cb45e1
    type: regular
    task:
      id: aeeab39e-6a78-49d1-844e-481f03cb45e1
      version: -1
      name: cybereason-is-probe-connected
      description: Checks if the machine is currently connected to the Cybereason
        server
      script: Cybereason|||cybereason-is-probe-connected
      type: regular
      iscommand: true
      brand: Cybereason
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      machine:
        simple: ip-172-16-3-7.ec2.internal
    reputationcalc: 0
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 450,
          "y": 230
        }
      }
  "2":
    id: "2"
    taskid: 15f1326b-b4ea-4967-819a-000d46fcbb06
    type: regular
    task:
      id: 15f1326b-b4ea-4967-819a-000d46fcbb06
      version: -1
      name: VerifyContext
      description: |-
        Verifies path in context:
        - Verifies path existence
        - If matching object is an array: verify fields exists in each of the objects in the array
        - If matching object is not an array: verify fields exists in matching object
        - if 'expectedValue' is given: ensure that the given value is equal to the context path
      scriptName: VerifyContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      expectedValue: {}
      fields:
        simple: isConnected,Name
      path:
        simple: Cybereason.Machine
    reputationcalc: 0
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 450,
          "y": 410
        }
      }
  "3":
    id: "3"
    taskid: 44c94e93-6cb5-4dcb-89bb-95f6d1f76668
    type: regular
    task:
      id: 44c94e93-6cb5-4dcb-89bb-95f6d1f76668
      version: -1
      name: cybereason-query-connections
      description: Searches for connections.
      script: Cybereason|||cybereason-query-connections
      type: regular
      iscommand: true
      brand: Cybereason
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      ip: {}
      machine:
        simple: ${Cybereason.Machine.Name}
      saveToContext:
        simple: "true"
    reputationcalc: 0
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 450,
          "y": 590
        }
      }
  "4":
    id: "4"
    taskid: e07e9a44-1152-4978-8a67-3d7c58f3f489
    type: regular
    task:
      id: e07e9a44-1152-4978-8a67-3d7c58f3f489
      version: -1
      name: VerifyContext
      description: |-
        Verifies path in context:
        - Verifies path existence
        - If matching object is an array: verify fields exists in each of the objects in the array
        - If matching object is not an array: verify fields exists in matching object
        - if 'expectedValue' is given: ensure that the given value is equal to the context path
      scriptName: VerifyContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      expectedValue: {}
      fields:
        simple: Name,Direction,ServerAddress,OwnerMachine,OwnerProcess,ServerPort,CreationTime,
      path:
        simple: Connection
    reputationcalc: 0
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 450,
          "y": 770
        }
      }
  "5":
    id: "5"
    taskid: 6809f9f6-e98f-47a4-8883-10b4cc7dc1cb
    type: regular
    task:
      id: 6809f9f6-e98f-47a4-8883-10b4cc7dc1cb
      version: -1
      name: cybereason-query-processes
      description: Searches for processes with various filters.
      script: Cybereason|||cybereason-query-processes
      type: regular
      iscommand: true
      brand: Cybereason
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      hasIncomingConnection: {}
      hasOutgoingConnection: {}
      limit:
        simple: "5"
      machine:
        simple: ${Cybereason.Machine.Name}
      onlySuspicious: {}
      processName: {}
      saveToContext:
        simple: "true"
    reputationcalc: 0
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 450,
          "y": 950
        }
      }
  "6":
    id: "6"
    taskid: 114c2f5b-f61d-4490-8dfb-03e1d0750108
    type: regular
    task:
      id: 114c2f5b-f61d-4490-8dfb-03e1d0750108
      version: -1
      name: VerifyContext
      description: |-
        Verifies path in context:
        - Verifies path existence
        - If matching object is an array: verify fields exists in each of the objects in the array
        - If matching object is not an array: verify fields exists in matching object
        - if 'expectedValue' is given: ensure that the given value is equal to the context path
      scriptName: VerifyContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      expectedValue: {}
      fields:
        simple: Name,Malicious,CreationTime,EndTime,CommandLine,SignedAndVerified,ProductType,Parent,OwnerMachine,User,ImageFile,Sha1,Md5
      path:
        simple: Process
    reputationcalc: 0
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1130
        }
      }
  "7":
    id: "7"
    taskid: 5d2737b4-e2bf-4373-8fdd-f4cf9721516c
    type: title
    task:
      id: 5d2737b4-e2bf-4373-8fdd-f4cf9721516c
      version: -1
      name: Success!
      type: title
      iscommand: false
      brand: ""
    reputationcalc: 0
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 446,
          "y": 1319
        }
      }
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1334,
        "width": 384,
        "x": 446,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
