TestPlaybooks/playbook-reputation.json-Test.yml
id: reputations.json Test
version: -1
name: reputations.json Test
description: Test . our Reputions,json regexes in misc folder
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 8d9fffe1-e5ae-48ae-825a-b597be445512
    type: start
    task:
      id: 8d9fffe1-e5ae-48ae-825a-b597be445512
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "9"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "8":
    id: "8"
    taskid: af2febfb-50bd-4cd5-8bc2-503252c321e4
    type: title
    task:
      id: af2febfb-50bd-4cd5-8bc2-503252c321e4
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3780
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "9":
    id: "9"
    taskid: e488c016-2d92-4511-81a0-9bcb41508e1b
    type: regular
    task:
      id: e488c016-2d92-4511-81a0-9bcb41508e1b
      version: -1
      name: DeleteContext
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "10":
    id: "10"
    taskid: e461e39f-59cb-4e1a-80cb-6974f86cf752
    type: regular
    task:
      id: e461e39f-59cb-4e1a-80cb-6974f86cf752
      version: -1
      name: Set valid emails
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "11"
    scriptarguments:
      append: {}
      key:
        simple: valid_emails
      value:
        simple: '"support@threatx.com", "someuser@contoso.com", "5c530c1b.1c69fb81.bd826.0eff@mx.google.com",
          "woo@demisto.com", "this.is@email.format"'
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "11":
    id: "11"
    taskid: 24391621-2f71-472a-8709-9ec1af0e5872
    type: regular
    task:
      id: 24391621-2f71-472a-8709-9ec1af0e5872
      version: -1
      name: Print valid emails
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      value:
        simple: ${valid_emails}
    reputationcalc: 2
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 690
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "12":
    id: "12"
    taskid: f6302abe-492c-4eda-869f-d40297bd4f2d
    type: condition
    task:
      id: f6302abe-492c-4eda-869f-d40297bd4f2d
      version: -1
      name: check auto extract emails
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "13"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: containsString
          left:
            value:
              simple: ${Account.Email.Address}
            iscontext: true
          right:
            value:
              simple: this.is@email.format
      - - operator: containsString
          left:
            value:
              simple: ${Account.Email.Address}
            iscontext: true
          right:
            value:
              simple: support@threatx.com
      - - operator: containsString
          left:
            value:
              simple: ${Account.Email.Address}
            iscontext: true
          right:
            value:
              simple: 5c530c1b.1c69fb81.bd826.0eff@mx.google.com
      - - operator: containsString
          left:
            value:
              simple: ${Account.Email.Address}
            iscontext: true
          right:
            value:
              simple: woo@demisto.com
      - - operator: containsString
          left:
            value:
              simple: ${Account.Email.Address}
            iscontext: true
          right:
            value:
              simple: someuser@contoso.com
    view: |-
      {
        "position": {
          "x": 50,
          "y": 865
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "13":
    id: "13"
    taskid: 2f3d5c1c-1a6f-4fcd-81b3-6e6b28415b52
    type: regular
    task:
      id: 2f3d5c1c-1a6f-4fcd-81b3-6e6b28415b52
      version: -1
      name: set non valid emails
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "14"
    scriptarguments:
      append: {}
      key:
        simple: non_valid_emails
      value:
        simple: go.microsoft.com
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1040
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "14":
    id: "14"
    taskid: cd94de88-11e5-44ff-8f7d-ddce379d3149
    type: regular
    task:
      id: cd94de88-11e5-44ff-8f7d-ddce379d3149
      version: -1
      name: Print non valid emails
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "15"
    scriptarguments:
      value:
        simple: ${non_valid_emails}
    reputationcalc: 2
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1215
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "15":
    id: "15"
    taskid: cd86ad61-585b-4020-84e5-bd1aafb88776
    type: condition
    task:
      id: cd86ad61-585b-4020-84e5-bd1aafb88776
      version: -1
      name: check non extraction of non valid emails
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "18"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: notContainsString
          left:
            value:
              simple: ${Account.Email.Address}
            iscontext: true
          right:
            value:
              simple: go.microsoft.com
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "17":
    id: "17"
    taskid: 507cad38-a211-429d-8349-be46824252cc
    type: title
    task:
      id: 507cad38-a211-429d-8349-be46824252cc
      version: -1
      name: Email
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "10"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "18":
    id: "18"
    taskid: 189f7f64-19a7-4e83-885f-a0f026519d48
    type: regular
    task:
      id: 189f7f64-19a7-4e83-885f-a0f026519d48
      version: -1
      name: DeleteContext
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1565
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "19":
    id: "19"
    taskid: b726a413-6b13-4629-8529-1c2299fb395a
    type: title
    task:
      id: b726a413-6b13-4629-8529-1c2299fb395a
      version: -1
      name: Domain
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "20"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1740
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "20":
    id: "20"
    taskid: eb000ad2-0fab-4b0c-82f5-daa6e17f50c4
    type: regular
    task:
      id: eb000ad2-0fab-4b0c-82f5-daa6e17f50c4
      version: -1
      name: Set vaild domains
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "21"
    scriptarguments:
      append: {}
      key:
        simple: valid_domains
      value:
        simple: '"www.demisto.com", "www.google.com", "bücher.de"'
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1885
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "21":
    id: "21"
    taskid: 59811897-3cc3-4a7b-8bc8-d029b8a9411f
    type: regular
    task:
      id: 59811897-3cc3-4a7b-8bc8-d029b8a9411f
      version: -1
      name: Print valid domains
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "22"
    scriptarguments:
      execution-timeout:
        simple: "30"
      value:
        simple: ${valid_domains}
    reputationcalc: 2
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2060
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "22":
    id: "22"
    taskid: d2802247-870a-42a7-894b-ca596720dfea
    type: condition
    task:
      id: d2802247-870a-42a7-894b-ca596720dfea
      version: -1
      name: check auto extract domains
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "23"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: containsString
          left:
            value:
              simple: ${Domain.Name}
            iscontext: true
          right:
            value:
              simple: www.demisto.com
      - - operator: containsString
          left:
            value:
              simple: ${Domain.Name}
            iscontext: true
          right:
            value:
              simple: www.google.com
      - - operator: isEqualString
          left:
            value:
              simple: ${Domain.Name}
            iscontext: true
          right:
            value:
              simple: bücher.de
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2235
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "23":
    id: "23"
    taskid: 4f88e0f0-91fe-4f36-831f-8581f18365b5
    type: regular
    task:
      id: 4f88e0f0-91fe-4f36-831f-8581f18365b5
      version: -1
      name: set non valid domains
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "24"
    scriptarguments:
      append: {}
      key:
        simple: non_valid_domains
      value:
        simple: '"not@domain.com", "dvscfsrty"'
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2410
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "24":
    id: "24"
    taskid: 051a5b50-0fa9-4078-8842-9c80b616e51b
    type: regular
    task:
      id: 051a5b50-0fa9-4078-8842-9c80b616e51b
      version: -1
      name: Print non valid domains
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "25"
    scriptarguments:
      value:
        simple: ${non_valid_domains}
    reputationcalc: 2
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2585
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "25":
    id: "25"
    taskid: 0038953e-8f98-4272-811d-ea3d8b919e8d
    type: condition
    task:
      id: 0038953e-8f98-4272-811d-ea3d8b919e8d
      version: -1
      name: check non extraction of non valid domains
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "26"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: notContainsString
          left:
            value:
              simple: ${Domain.Name}
            iscontext: true
          right:
            value:
              simple: dvscfsrty
      - - operator: notContainsString
          left:
            value:
              simple: ${Domain.Name}
            iscontext: true
          right:
            value:
              simple: not@domain.com
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2760
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "26":
    id: "26"
    taskid: 7d664917-25fc-4c94-8fc3-3e0e864832b9
    type: regular
    task:
      id: 7d664917-25fc-4c94-8fc3-3e0e864832b9
      version: -1
      name: DeleteContext
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "27"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2935
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "27":
    id: "27"
    taskid: 857e436d-e380-4d61-87e9-5248ca4f47f0
    type: title
    task:
      id: 857e436d-e380-4d61-87e9-5248ca4f47f0
      version: -1
      name: URL
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "28"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3110
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "28":
    id: "28"
    taskid: 8f29add8-d5f3-4b1e-87f7-5d25dd24a919
    type: regular
    task:
      id: 8f29add8-d5f3-4b1e-87f7-5d25dd24a919
      version: -1
      name: Set valid URLs
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "29"
    scriptarguments:
      append: {}
      key:
        simple: valid_urls
      value:
        simple: '"http://ru.wikipedia.org/wiki/Елизавета_I", "https://golang.org/pkg/regexp/syntax/"'
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3255
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "29":
    id: "29"
    taskid: cae914c9-c26d-4557-8f85-70533f8e4f59
    type: regular
    task:
      id: cae914c9-c26d-4557-8f85-70533f8e4f59
      version: -1
      name: Print valid URLs
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "30"
    scriptarguments:
      value:
        simple: ${valid_urls}
    reputationcalc: 2
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3430
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "30":
    id: "30"
    taskid: 7682232e-bd30-4e46-8488-825b9fb3de77
    type: condition
    task:
      id: 7682232e-bd30-4e46-8488-825b9fb3de77
      version: -1
      name: Check auto-extract
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "8"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${URL.Data}
            iscontext: true
          right:
            value:
              simple: http://ru.wikipedia.org/wiki/Елизавета_I
      - - operator: isEqualString
          left:
            value:
              simple: '{URL.Data}'
            iscontext: true
          right:
            value:
              simple: https://golang.org/pkg/regexp/syntax/
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3605
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
view: |-
  {
    "linkLabelsPosition": {
      "15_18_yes": 0.9
    },
    "paper": {
      "dimensions": {
        "height": 3795,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
