TestPlaybooks/playbook-Wildfire_Test.yml
id: Wildfire Test
version: -1
name: Wildfire Test
description: |-
  A test playbook for Wild Fire.
  Does not test the deprecated detonate commands.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 8f949fba-f0eb-4ae0-8037-23e82ed49f09
    type: start
    task:
      id: 8f949fba-f0eb-4ae0-8037-23e82ed49f09
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "10"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "6":
    id: "6"
    taskid: 6e4c85d9-6a98-478b-852b-6b4ddf083b6d
    type: regular
    task:
      id: 6e4c85d9-6a98-478b-852b-6b4ddf083b6d
      version: -1
      name: wildfire-upload-file-remote
      description: Upload a file hosted on a website to WildFire for analysis
      script: '|||wildfire-upload-file-remote'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      upload:
        simple: http://www.pdf995.com/samples/pdf.pdf
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "7":
    id: "7"
    taskid: 94f86623-3355-4229-8e8e-6632c73653df
    type: regular
    task:
      id: 94f86623-3355-4229-8e8e-6632c73653df
      version: -1
      name: wildfire-report
      description: Retrieve results for a file hash using WildFire
      script: '|||wildfire-report'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "9"
    scriptarguments:
      format: {}
      hash:
        simple: ebb031c3945e884e695dbc63c52a5efcd075375046c49729980073585ee13c52
      md5: {}
      verbose: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "9":
    id: "9"
    taskid: 86ecc6bd-04c1-47f8-8019-d207cbabf6e2
    type: condition
    task:
      id: 86ecc6bd-04c1-47f8-8019-d207cbabf6e2
      version: -1
      name: test wildfire-report
      description: Verifies context
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "13"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualNumber
          left:
            value:
              complex:
                root: DBotScore
                accessor: Score
            iscontext: true
          right:
            value:
              simple: "1"
    view: |-
      {
        "position": {
          "x": 265,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "10":
    id: "10"
    taskid: e7880338-ded1-470c-8681-4d334c2bac95
    type: regular
    task:
      id: e7880338-ded1-470c-8681-4d334c2bac95
      version: -1
      name: DeleteContext
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "13":
    id: "13"
    taskid: 3d8ff9b9-d2cc-45ae-8abc-78745d7a2595
    type: regular
    task:
      id: 3d8ff9b9-d2cc-45ae-8abc-78745d7a2595
      version: -1
      name: wildfire-upload
      description: Upload file to WildFire for analysis.
      script: '|||wildfire-upload'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "18"
    scriptarguments:
      upload:
        simple: ${InfoFile.EntryID}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "15":
    id: "15"
    taskid: e57d7f40-806b-4b27-83d6-acceb11d4121
    type: regular
    task:
      id: e57d7f40-806b-4b27-83d6-acceb11d4121
      version: -1
      name: wildfire-report
      description: Retrieve results for a file hash using WildFire
      script: '|||wildfire-report'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "20"
    scriptarguments:
      format: {}
      hash:
        complex:
          root: WildFire
          accessor: Report.SHA256
      md5: {}
      verbose: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1245
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "17":
    id: "17"
    taskid: ab5e59a6-a8df-43a3-8b55-bc1c2e10d9f2
    type: title
    task:
      id: ab5e59a6-a8df-43a3-8b55-bc1c2e10d9f2
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 5095
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "18":
    id: "18"
    taskid: d8184264-724f-421f-8d6d-997eb990bf9a
    type: condition
    task:
      id: d8184264-724f-421f-8d6d-997eb990bf9a
      version: -1
      name: Search for hashes for report download
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "15"
      "yes":
      - "19"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: WildFire
                accessor: Report.SHA256
                transformers:
                - operator: atIndex
                  args:
                    index:
                      value:
                        simple: "0"
            iscontext: true
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "19":
    id: "19"
    taskid: 8e159f4b-c662-4c06-8c2e-7ace2e6089a0
    type: regular
    task:
      id: 8e159f4b-c662-4c06-8c2e-7ace2e6089a0
      version: -1
      name: wildfire-report
      description: Retrieve results for a file hash using WildFire
      script: '|||wildfire-report'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "20"
    scriptarguments:
      format: {}
      hash:
        complex:
          root: WildFire
          accessor: Report.SHA256
          transformers:
          - operator: atIndex
            args:
              index:
                value:
                  simple: "0"
      md5: {}
      verbose: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1245
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "20":
    id: "20"
    taskid: e78f06fe-adeb-4a50-809d-424aebe35e95
    type: regular
    task:
      id: e78f06fe-adeb-4a50-809d-424aebe35e95
      version: -1
      name: wildfire-report - no network data
      description: Retrieve results for a file hash using WildFire
      script: '|||wildfire-report'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "25"
    scriptarguments:
      format: {}
      hash:
        simple: bf31789a028bfbc44e5c1ae05d8e412dd521bedc7f0c7ec6df3dc4078210a25e
      md5: {}
      verbose: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1420
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "21":
    id: "21"
    taskid: 33fce111-098c-45aa-82db-f4283df6ce5d
    type: regular
    task:
      id: 33fce111-098c-45aa-82db-f4283df6ce5d
      version: -1
      name: http download test data file
      description: Sends http request. Returns the response as json.
      scriptName: http
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "22"
    scriptarguments:
      body: {}
      filename:
        simple: my_verdicts
      headers: {}
      insecure: {}
      method:
        simple: GET
      password: {}
      proxy: {}
      saveAsFile:
        simple: "yes"
      unsecure: {}
      url:
        simple: https://raw.githubusercontent.com/demisto/content/master/TestData/verdicts_for_wildfire_test_pb.txt
      username: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2295
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "22":
    id: "22"
    taskid: 15769716-5844-4606-85c8-1b4f1a3b3887
    type: regular
    task:
      id: 15769716-5844-4606-85c8-1b4f1a3b3887
      version: -1
      name: wildfire-get-verdicts
      description: Get a verdict regarding multiple hashes
      script: '|||wildfire-get-verdicts'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "24"
    scriptarguments:
      EntryID:
        simple: ${File.EntryID}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2470
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "23":
    id: "23"
    taskid: ee4cf456-383e-4249-8a8a-12ba191b3a2f
    type: regular
    task:
      id: ee4cf456-383e-4249-8a8a-12ba191b3a2f
      version: -1
      name: Delete Context
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "21"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2120
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "24":
    id: "24"
    taskid: 69263511-e052-4743-8f64-f2f4d6205323
    type: condition
    task:
      id: 69263511-e052-4743-8f64-f2f4d6205323
      version: -1
      name: test wildfire-get-verdicts
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "30"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: WildFire
                accessor: Verdicts
            iscontext: true
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2645
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "25":
    id: "25"
    taskid: e549dc03-cd0a-459b-8069-d5e45793d204
    type: regular
    task:
      id: e549dc03-cd0a-459b-8069-d5e45793d204
      version: -1
      name: DeleteContext
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "26"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1595
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "26":
    id: "26"
    taskid: 54e89e26-3e01-4054-8155-f76f08140477
    type: regular
    task:
      id: 54e89e26-3e01-4054-8155-f76f08140477
      version: -1
      name: wildfire-get-verdict
      description: Get a verdict regarding a hash
      script: '|||wildfire-get-verdict'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "27"
    scriptarguments:
      hash:
        simple: afe6b95ad95bc689c356f34ec8d9094c495e4af57c932ac413b65ef132063acc
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1770
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "27":
    id: "27"
    taskid: b9f83a7b-2bbc-476c-8203-48fc83c95621
    type: condition
    task:
      id: b9f83a7b-2bbc-476c-8203-48fc83c95621
      version: -1
      name: test wildfire-get-verdict
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "23"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualNumber
          left:
            value:
              complex:
                root: DBotScore
                accessor: Score
            iscontext: true
          right:
            value:
              simple: "3"
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1945
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "28":
    id: "28"
    taskid: aebc6be3-3080-4a5b-8396-f2d6e881b488
    type: regular
    task:
      id: aebc6be3-3080-4a5b-8396-f2d6e881b488
      version: -1
      name: file (with sha1 value in the argument file)
      description: Retrieve results for a file hash using WildFire
      script: WildFire|||file
      type: regular
      iscommand: true
      brand: WildFire
    nexttasks:
      '#none#':
      - "29"
    scriptarguments:
      codeItemType: {}
      delay: {}
      file:
        simple: a31986a65068af86dbfeddad3e63e05f759b2b32
      long: {}
      maxRetries: {}
      md5: {}
      retries: {}
      sha256: {}
      threshold: {}
      wait: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2995
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "29":
    id: "29"
    taskid: 420b6ed9-a560-4993-8a91-65ba9f44cdda
    type: regular
    task:
      id: 420b6ed9-a560-4993-8a91-65ba9f44cdda
      version: -1
      name: commentsToContext
      description: "Takes the comments of a given entry ID and stores them in the
        incident context, under a provided context key. \nFor accessing the last executed
        task's comments, provide ${lastCompletedTaskEntries.[0]} as the value for
        the entryId input parameter."
      scriptName: commentsToContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "31"
    scriptarguments:
      contextKey:
        simple: checkFile
      entryId:
        simple: ${lastCompletedTaskEntries.[0]}
      listSeperator: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 3170
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "30":
    id: "30"
    taskid: c635b428-7d5f-49b5-8256-378af1a57b66
    type: regular
    task:
      id: c635b428-7d5f-49b5-8256-378af1a57b66
      version: -1
      name: DeleteContext
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "28"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2820
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "31":
    id: "31"
    taskid: 74cfcfd9-d28c-42bb-8028-487c6c2623ff
    type: condition
    task:
      id: 74cfcfd9-d28c-42bb-8028-487c6c2623ff
      version: -1
      name: test file with sha1 input
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "32"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: containsString
          left:
            value:
              simple: checkFile
            iscontext: true
          right:
            value:
              simple: WildFire file hash reputation supports only MD5, SHA256
    view: |-
      {
        "position": {
          "x": 265,
          "y": 3345
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "32":
    id: "32"
    taskid: 056aa3fd-f24f-4b25-8761-102fb8c9134e
    type: regular
    task:
      id: 056aa3fd-f24f-4b25-8761-102fb8c9134e
      version: -1
      name: file_command_enrichment_test_script_helper
      scriptName: file_command_enrichment_test_script_helper
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "33"
    reputationcalc: 2
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 3520
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "33":
    id: "33"
    taskid: 4bd996b3-95ed-4025-8946-e41261bfd047
    type: condition
    task:
      id: 4bd996b3-95ed-4025-8946-e41261bfd047
      version: -1
      name: Test enrichment of md5 does exist
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "34"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: DBotScore
                filters:
                - - operator: stringHasLength
                    left:
                      value:
                        simple: DBotScore.Indicator
                      iscontext: true
                    right:
                      value:
                        simple: "32"
                accessor: Indicator
            iscontext: true
          right:
            value:
              simple: 8cbf90aeab2c93b2819fcfd6262b2cdb
    view: |-
      {
        "position": {
          "x": 265,
          "y": 3695
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "34":
    id: "34"
    taskid: 637fabe7-4b44-4aa6-85b0-e833879e47d3
    type: condition
    task:
      id: 637fabe7-4b44-4aa6-85b0-e833879e47d3
      version: -1
      name: Test enrichment of sha1 does not exist
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "35"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotExists
          left:
            value:
              complex:
                root: DBotScore
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: DBotScore.Indicator
                      iscontext: true
                    right:
                      value:
                        simple: 74eb807ea392650562b43a0e326e5d14b86f43ce
                - - operator: isEqualString
                    left:
                      value:
                        simple: DBotScore.Vendor
                      iscontext: true
                    right:
                      value:
                        simple: WildFire
            iscontext: true
    view: |-
      {
        "position": {
          "x": 265,
          "y": 3870
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "35":
    id: "35"
    taskid: 6f911f24-4102-4c78-8bff-90eb818bf989
    type: regular
    task:
      id: 6f911f24-4102-4c78-8bff-90eb818bf989
      version: -1
      name: DeleteContext
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "36"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 4045
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "36":
    id: "36"
    taskid: 23a6504e-5a73-4c1b-8215-05f87154fefa
    type: regular
    task:
      id: 23a6504e-5a73-4c1b-8215-05f87154fefa
      version: -1
      name: wildfire-get-sample
      description: Retrieve a sample from WildFire
      script: '|||wildfire-get-sample'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "37"
    scriptarguments:
      md5:
        simple: 5af84a3db5883627bfdff909e210634e
      sha256: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 4220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "37":
    id: "37"
    taskid: 858a6b16-a64a-4175-8ea6-17e0ae284c27
    type: condition
    task:
      id: 858a6b16-a64a-4175-8ea6-17e0ae284c27
      version: -1
      name: Test wildfire-get-sample
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "38"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: File
                accessor: Name
            iscontext: true
          right:
            value:
              simple: 1d457069cb511af47a587287d59817148d404a2a7f39e1032d16094811f648e3.xlsx.000
    view: |-
      {
        "position": {
          "x": 265,
          "y": 4395
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "38":
    id: "38"
    taskid: 42535e46-9dae-4023-8349-77b3cce008be
    type: regular
    task:
      id: 42535e46-9dae-4023-8349-77b3cce008be
      version: -1
      name: wildfire-get-sample benign
      description: Retrieve a sample
      script: '|||wildfire-get-sample'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "39"
    scriptarguments:
      md5: {}
      sha256:
        simple: 4b4f3e336514eedf8c8a1f9d929b97e42921f757056eb640706bd17e096ddad0
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 4570
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "39":
    id: "39"
    taskid: 33c30ad5-f151-4d6c-84f8-ad32cb5eb87c
    type: regular
    task:
      id: 33c30ad5-f151-4d6c-84f8-ad32cb5eb87c
      version: -1
      name: comments to context
      description: "Takes the comments of a given entry ID and stores them in the
        incident context, under a provided context key. \nFor accessing the last executed
        task's comments, provide ${lastCompletedTaskEntries.[0]} as the value for
        the entryId input parameter."
      scriptName: commentsToContext
      type: regular
      iscommand: false
      brand: Builtin
    nexttasks:
      '#none#':
      - "40"
    scriptarguments:
      contextKey:
        simple: benignSample
      entryId:
        simple: ${lastCompletedTaskEntries.[0]}
      listSeperator: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 4745
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "40":
    id: "40"
    taskid: 54fdac96-2f29-4a1a-87db-5c3c0475c900
    type: condition
    task:
      id: 54fdac96-2f29-4a1a-87db-5c3c0475c900
      version: -1
      name: info message of sample not found
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "17"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: containsString
          left:
            value:
              complex:
                root: benignSample
            iscontext: true
          right:
            value:
              simple: Sample was not found.
    view: |-
      {
        "position": {
          "x": 265,
          "y": 4920
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
view: |-
  {
    "linkLabelsPosition": {
      "31_32_yes": 0.9
    },
    "paper": {
      "dimensions": {
        "height": 5110,
        "width": 810,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []