TestPlaybooks/playbook-TrendMicroDDA_Test.yml
id: Test Playbook TrendMicroDDA
version: -1
name: Test Playbook TrendMicroDDA
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: cac5e409-9f5f-4ee1-8f36-70819f33b627
    type: start
    task:
      id: cac5e409-9f5f-4ee1-8f36-70819f33b627
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "17"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 476,
          "y": -50
        }
      }
  "1":
    id: "1"
    taskid: b8460130-c568-48d2-87fd-0d2673317b45
    type: regular
    task:
      id: b8460130-c568-48d2-87fd-0d2673317b45
      version: -1
      name: Delete Context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      all:
        simple: "yes"
      key: {}
      keysToKeep: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 476,
          "y": 240
        }
      }
  "2":
    id: "2"
    taskid: 572daefc-b1dc-4c56-8f9d-a30b71cc3f0d
    type: regular
    task:
      id: 572daefc-b1dc-4c56-8f9d-a30b71cc3f0d
      version: -1
      name: upload-sample-url
      script: Trend Micro Deep Discovery Analyzer|||trendmicro-dda-upload-url
      type: regular
      iscommand: true
      brand: Trend Micro Deep Discovery Analyzer
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      url:
        simple: https://www.demisto.com
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 478,
          "y": 455
        }
      }
  "3":
    id: "3"
    taskid: b7dd2ef4-9623-43f7-86f0-681a28fb56f4
    type: condition
    task:
      id: b7dd2ef4-9623-43f7-86f0-681a28fb56f4
      version: -1
      name: upload-sample-url AreValuesEqual
      description: Check whether the values provided in arguments are equal. If either
        of the arguments are missing, no is returned.
      scriptName: AreValuesEqual
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "4"
    scriptarguments:
      left:
        simple: ${TrendMicroDDA.Submissions.SHA1}
      right:
        simple: BCF5132CDC4F74112868C2AEFF9740B5034873D2
    results:
    - AreValuesEqual
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 478,
          "y": 635
        }
      }
  "4":
    id: "4"
    taskid: 57d9b1b6-8167-41cf-8f75-10570d17dbb7
    type: regular
    task:
      id: 57d9b1b6-8167-41cf-8f75-10570d17dbb7
      version: -1
      name: check-status
      script: Trend Micro Deep Discovery Analyzer|||trendmicro-dda-check-status
      type: regular
      iscommand: true
      brand: Trend Micro Deep Discovery Analyzer
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      sha1:
        simple: ${TrendMicroDDA.Submissions.SHA1}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 476,
          "y": 843
        }
      }
  "5":
    id: "5"
    taskid: 5c04948e-8f6d-4d44-8339-343ec1294fc5
    type: condition
    task:
      id: 5c04948e-8f6d-4d44-8339-343ec1294fc5
      version: -1
      name: check-status AreValuesEqual
      description: Check whether the values provided in arguments are equal. If either
        of the arguments are missing, no is returned.
      scriptName: AreValuesEqual
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "6"
    scriptarguments:
      left:
        complex:
          root: TrendMicroDDA
          accessor: status
      right:
        simple: Analyzing
    results:
    - AreValuesEqual
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 476,
          "y": 1023
        }
      }
  "6":
    id: "6"
    taskid: 2808fbbd-fc41-4749-8a70-f48dfc7b1f0f
    type: regular
    task:
      id: 2808fbbd-fc41-4749-8a70-f48dfc7b1f0f
      version: -1
      name: Sleep
      description: Sleep for X seconds
      scriptName: Sleep
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      seconds:
        simple: "30"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 476,
          "y": 1203
        }
      }
  "7":
    id: "7"
    taskid: 8b36c63d-a8cb-4ca8-890f-5066923c015b
    type: regular
    task:
      id: 8b36c63d-a8cb-4ca8-890f-5066923c015b
      version: -1
      name: check-status after sleep
      script: Trend Micro Deep Discovery Analyzer|||trendmicro-dda-check-status
      type: regular
      iscommand: true
      brand: Trend Micro Deep Discovery Analyzer
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      sha1:
        simple: ${TrendMicroDDA.Submissions.SHA1}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 476,
          "y": 1375
        }
      }
  "8":
    id: "8"
    taskid: 406eee6e-b706-4c45-8c68-a552beab4a93
    type: condition
    task:
      id: 406eee6e-b706-4c45-8c68-a552beab4a93
      version: -1
      name: check-status after sleep AreValuesEqual
      description: Check whether the values provided in arguments are equal. If either
        of the arguments are missing, no is returned.
      scriptName: AreValuesEqual
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "9"
    scriptarguments:
      left:
        simple: ${TrendMicroDDA.Submissions.SHA1.status}
      right:
        simple: Completed
    results:
    - AreValuesEqual
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 476,
          "y": 1555
        }
      }
  "9":
    id: "9"
    taskid: 2dd842be-42ad-4cb4-8d5f-ddf2abc2b916
    type: regular
    task:
      id: 2dd842be-42ad-4cb4-8d5f-ddf2abc2b916
      version: -1
      name: get-report
      script: Trend Micro Deep Discovery Analyzer|||trendmicro-dda-get-report
      type: regular
      iscommand: true
      brand: Trend Micro Deep Discovery Analyzer
    nexttasks:
      '#none#':
      - "10"
    scriptarguments:
      sha1:
        simple: ${TrendMicroDDA.Submissions.SHA1}
      threshold: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 476,
          "y": 1735
        }
      }
  "10":
    id: "10"
    taskid: f9d7448a-5e42-4598-8ffa-c207bd62293b
    type: condition
    task:
      id: f9d7448a-5e42-4598-8ffa-c207bd62293b
      version: -1
      name: get-report AreValuesEqual
      description: Check whether the values provided in arguments are equal. If either
        of the arguments are missing, no is returned.
      scriptName: AreValuesEqual
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "11"
    scriptarguments:
      left:
        simple: ${TrendMicroDDA.Submissions.RiskLevel}
      right:
        simple: "0"
    results:
    - AreValuesEqual
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 476,
          "y": 1915
        }
      }
  "11":
    id: "11"
    taskid: b536bfcb-65c4-41ea-80ae-f0266b3ec006
    type: regular
    task:
      id: b536bfcb-65c4-41ea-80ae-f0266b3ec006
      version: -1
      name: get-sample-list
      script: Trend Micro Deep Discovery Analyzer|||trendmicro-dda-get-sample-list
      type: regular
      iscommand: true
      brand: Trend Micro Deep Discovery Analyzer
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      interval_end:
        simple: 2008-11-22 19:53:59
      interval_start:
        simple: 2008-11-22 19:53:42
      interval_type: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 476,
          "y": 2095
        }
      }
  "12":
    id: "12"
    taskid: 3a0f117f-f384-4217-84ae-22c807ce06ed
    type: regular
    task:
      id: 3a0f117f-f384-4217-84ae-22c807ce06ed
      version: -1
      name: FileCreateAndUpload
      scriptName: FileCreateAndUpload
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      data:
        simple: qwerty6
      entryId: {}
      filename:
        simple: test_file
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 476,
          "y": 2275
        }
      }
  "13":
    id: "13"
    taskid: 2b5c848e-89d7-4d19-8a73-9bb29cb6b370
    type: regular
    task:
      id: 2b5c848e-89d7-4d19-8a73-9bb29cb6b370
      version: -1
      name: detonate-file
      script: TrendMicroDDA|||detonate-file
      type: regular
      iscommand: true
      brand: TrendMicroDDA
    nexttasks:
      '#none#':
      - "14"
    scriptarguments:
      threshold: {}
      timeout: {}
      upload:
        simple: ${File.EntryID}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 476,
          "y": 2455
        }
      }
  "14":
    id: "14"
    taskid: c733b389-bd73-4da9-869e-7bf3562e741f
    type: condition
    task:
      id: c733b389-bd73-4da9-869e-7bf3562e741f
      version: -1
      name: AreValuesEqual
      description: Check whether the values provided in arguments are equal. If either
        of the arguments are missing, no is returned.
      scriptName: AreValuesEqual
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "15"
    scriptarguments:
      left:
        simple: ${TrendMicroDDA.RiskLevel}
      right:
        simple: "0"
    results:
    - AreValuesEqual
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 476,
          "y": 2635
        }
      }
  "15":
    id: "15"
    taskid: cc63d3ef-8fde-46ce-8577-4e526af0f190
    type: regular
    task:
      id: cc63d3ef-8fde-46ce-8577-4e526af0f190
      version: -1
      name: get-sample
      script: Trend Micro Deep Discovery Analyzer|||trendmicro-dda-get-sample
      type: regular
      iscommand: true
      brand: Trend Micro Deep Discovery Analyzer
    nexttasks:
      '#none#':
      - "16"
    scriptarguments:
      encrypted: {}
      filename: {}
      sample_sha1:
        simple: ' bvcx'
      type: {}
      type_origin: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 478,
          "y": 2830
        }
      }
  "16":
    id: "16"
    taskid: c5382a0a-70ba-46ba-8ea1-cee235e5ff55
    type: regular
    task:
      id: c5382a0a-70ba-46ba-8ea1-cee235e5ff55
      version: -1
      name: DeleteContext
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "18"
    scriptarguments:
      all:
        simple: "yes"
      key: {}
      keysToKeep: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3039
        }
      }
  "17":
    id: "17"
    taskid: 0f31cae0-ecc0-4009-8938-a65d9caf1192
    type: title
    task:
      id: 0f31cae0-ecc0-4009-8938-a65d9caf1192
      version: -1
      name: Test Playbook TrendMicroADD
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 476,
          "y": 80
        }
      }
  "18":
    id: "18"
    taskid: 6b323d98-d937-45c3-8eb3-975db9f29e01
    type: title
    task:
      id: 6b323d98-d937-45c3-8eb3-975db9f29e01
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 481,
          "y": 3208
        }
      }
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 3323,
        "width": 385,
        "x": 476,
        "y": -50
      }
    }
  }
inputs: []
outputs: []
