TestPlaybooks/playbook-MISP_V2-Test.yml
id: MISP V2 Test
version: -1
name: MISP V2 Test
fromversion: "4.5.0"
description: Testbook for MISP V2 integration
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: c3278266-165a-4632-8d51-0b5bb1946e8f
    type: start
    task:
      id: c3278266-165a-4632-8d51-0b5bb1946e8f
      version: -1
      name: ""
      description: "Test playbook MISP V2"
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 65
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "3":
    id: "3"
    taskid: abded112-c30f-4bb3-8769-9ff2539d7ea3
    type: regular
    task:
      id: abded112-c30f-4bb3-8769-9ff2539d7ea3
      version: -1
      name: Get file
      description: Get file from GitHub for testing target.
      scriptName: http
      type: regular
      iscommand: false
      brand: MISP
    nexttasks:
      '#none#':
      - "9"
      - "21"
    scriptarguments:
      body: {}
      filename: {}
      headers: {}
      insecure: {}
      method:
        simple: GET
      password: {}
      proxy: {}
      saveAsFile:
        simple: "yes"
      unsecure: {}
      url:
        simple: https://github.com/demisto/content/raw/master/TestData/pdfworking.pdf
      username: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 575
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "4":
    id: "4"
    taskid: e5302088-1ae3-4db7-8718-fdad182b27d5
    type: condition
    task:
      id: e5302088-1ae3-4db7-8718-fdad182b27d5
      version: -1
      name: is any dbotscore from misp?
      description: Check if dbot score retrevied.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "66"
      "yes":
      - "16"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: DBotScore.Indicator
            iscontext: true
      - - operator: match
          left:
            value:
              simple: DBotScore.Vendor
            iscontext: true
          right:
            value:
              simple: ^(MISP)*
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1450
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "5":
    id: "5"
    taskid: 0a557645-b308-4c6b-8216-e81cffc391e3
    type: title
    task:
      id: 0a557645-b308-4c6b-8216-e81cffc391e3
      version: -1
      name: End of test
      description: End of test
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 8450
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "6":
    id: "6"
    taskid: b5504a6e-8e83-43b6-8754-4486e5c787ca
    type: regular
    task:
      id: b5504a6e-8e83-43b6-8754-4486e5c787ca
      version: -1
      name: Delete context
      scriptName: DeleteContext
      description: Delet context
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 225
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "7":
    id: "7"
    taskid: 5e803fb5-5f1f-4bac-84b8-9e56f92cea7d
    type: regular
    task:
      id: 5e803fb5-5f1f-4bac-84b8-9e56f92cea7d
      version: -1
      name: Create event
      description: Creates a new MISP event.
      script: '|||misp-create-event'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      analysis: {}
      category: {}
      comment: {}
      distribution: {}
      info:
        simple: Testplayboook
      published: {}
      threat_level_id: {}
      to_ids: {}
      type: {}
      value:
        simple: test
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 400
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "9":
    id: "9"
    taskid: 9280eb1d-236d-4b4c-8c3a-507abc53c084
    type: regular
    task:
      id: 9280eb1d-236d-4b4c-8c3a-507abc53c084
      version: -1
      name: Upload sample
      description: Uploads a file sample to MISP.
      script: '|||misp-upload-sample'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "32"
    scriptarguments:
      analysis: {}
      category: {}
      comment: {}
      distribution: {}
      event_id:
        simple: ${MISP.Event.ID}
      fileEntryID:
        simple: ${File.EntryID}
      info: {}
      threat_level_id: {}
      to_ids: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 750
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "10":
    id: "10"
    taskid: d7a8329f-e894-4a6b-83ee-8a2ef8b1c3b5
    type: regular
    task:
      id: d7a8329f-e894-4a6b-83ee-8a2ef8b1c3b5
      version: -1
      name: Search for event
      description: Search for events in MISP.
      script: '|||misp-search'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "13"
      - "28"
    scriptarguments:
      category: {}
      eventid: {}
      from: {}
      last: {}
      org: {}
      tags: {}
      to: {}
      to_ids: {}
      type: {}
      uuid: {}
      value:
        simple: ${File.MD5}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 1100
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "11":
    id: "11"
    taskid: 27770979-2ff7-4a4a-89d4-530f840dd7d1
    type: regular
    task:
      id: 27770979-2ff7-4a4a-89d4-530f840dd7d1
      version: -1
      name: Download sample
      description: Downloads a file sample from MISP.
      script: '|||misp-download-sample'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      allSamples: {}
      eventID:
        simple: ${MISP.Event.ID}
      hash:
        simple: ${File.MD5}
      unzip: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 152.5,
          "y": 3375
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "12":
    id: "12"
    taskid: 5b43d61e-96e4-4312-838f-9aacf2928ab9
    type: regular
    task:
      id: 5b43d61e-96e4-4312-838f-9aacf2928ab9
      version: -1
      name: Delete event
      description: Deletes an event according to event ID.
      script: '|||misp-delete-event'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "50"
    scriptarguments:
      event_id:
        simple: ${MISP.Event.ID}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3550
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "13":
    id: "13"
    taskid: cfa738e7-cecd-4e77-81d4-0a9adcea1dec
    type: regular
    task:
      id: cfa738e7-cecd-4e77-81d4-0a9adcea1dec
      version: -1
      name: Check file hash
      description: Checks the file reputation of the given hash.
      script: MISP V2|||file
      type: regular
      iscommand: true
      brand: MISP V2
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      file:
        simple: ${File.MD5}
      long: {}
      retries: {}
      threshold: {}
      wait: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1275
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "14":
    id: "14"
    taskid: e3890a50-4fe7-44e9-8af0-acbb09606b15
    type: regular
    task:
      id: e3890a50-4fe7-44e9-8af0-acbb09606b15
      version: -1
      name: Check URL
      description: Checks if the URL is in MISP events.
      script: MISP V2|||url
      type: regular
      iscommand: true
      brand: MISP V2
    nexttasks:
      '#none#':
      - "22"
    scriptarguments:
      long: {}
      retries: {}
      sampleSize: {}
      submitWait: {}
      threshold: {}
      url:
        simple: emale.com
      wait: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2675
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "15":
    id: "15"
    taskid: cb1fd239-c758-4f26-827a-a931e6c7f2fe
    type: regular
    task:
      id: cb1fd239-c758-4f26-827a-a931e6c7f2fe
      version: -1
      name: Check IP
      description: Checks the reputation of an IP address
      script: MISP V2|||ip
      type: regular
      iscommand: true
      brand: MISP V2
    nexttasks:
      '#none#':
      - "18"
    scriptarguments:
      fullResponse: {}
      ip:
        simple: 8.8.1.1
      long: {}
      retries: {}
      sampleSize: {}
      threshold: {}
      wait: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1975
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "16":
    id: "16"
    taskid: 9738b1e5-75fd-4bbd-82aa-5c0ce92e535e
    type: regular
    task:
      id: 9738b1e5-75fd-4bbd-82aa-5c0ce92e535e
      version: -1
      name: Add IP attribute
      description: Adds an attribute to an existing MISP event.
      script: '|||misp-add-attribute'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "15"
    scriptarguments:
      category:
        simple: External analysis
      comment:
        simple: this is a comment
      distribution: {}
      id:
        simple: ${MISP.Event.ID}
      to_ids: {}
      type:
        simple: ip-dst
      value:
        simple: 8.8.1.1
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1800
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "17":
    id: "17"
    taskid: 8e9de8dc-fa9d-4cb8-8adc-40be950f121c
    type: regular
    task:
      id: 8e9de8dc-fa9d-4cb8-8adc-40be950f121c
      version: -1
      name: Add URL attribute
      description: Adds an attribute to an existing MISP event.
      script: '|||misp-add-attribute'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "14"
    scriptarguments:
      category:
        simple: External analysis
      comment:
        simple: this is a comment
      distribution: {}
      id:
        simple: ${MISP.Event.ID}
      to_ids: {}
      type:
        simple: url
      value:
        simple: emale.com
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2500
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "18":
    id: "18"
    taskid: e8f23052-f616-4d84-892e-08befeee8fdb
    type: condition
    task:
      id: e8f23052-f616-4d84-892e-08befeee8fdb
      version: -1
      name: is any dbotscore from misp?
      description: Check if dbot score retrevied.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "68"
      "yes":
      - "17"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: DBotScore.Indicator
            iscontext: true
          right:
            value:
              simple: 8.8.1.1
      - - operator: match
          left:
            value:
              simple: DBotScore.Vendor
            iscontext: true
          right:
            value:
              simple: ^(MISP)*
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2150
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "19":
    id: "19"
    taskid: f2fe31dd-2995-4c1e-87d5-c99ef0492e46
    type: condition
    task:
      id: f2fe31dd-2995-4c1e-87d5-c99ef0492e46
      version: -1
      name: is any dbotscore from misp?
      description: Check if dbot score retrevied.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "69"
      "yes":
      - "11"
      - "20"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: DBotScore.Indicator
            iscontext: true
          right:
            value:
              simple: emale.com
      - - operator: match
          left:
            value:
              simple: DBotScore.Vendor
            iscontext: true
          right:
            value:
              simple: ^(MISP)*
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 3025
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "20":
    id: "20"
    taskid: 0e5d5324-dd85-4e94-833b-45e922b57201
    type: regular
    task:
      id: 0e5d5324-dd85-4e94-833b-45e922b57201
      version: -1
      name: Download sample (deprecated script)
      description: Download malicious file sample from MISP
      scriptName: misp_download_sample
      type: regular
      iscommand: false
      brand: MISP V2
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      allSamples: {}
      eventID:
        simple: ${MISP.Event.ID}
      hash:
        simple: ${File.MD5}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 705,
          "y": 3375
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "21":
    id: "21"
    taskid: 25bc2c2c-82fd-4776-8c9d-5fe5e9bfe496
    type: regular
    task:
      id: 25bc2c2c-82fd-4776-8c9d-5fe5e9bfe496
      version: -1
      name: Upload sample (deprecated script)
      description: Upload malicious file sample to MISP
      scriptName: misp_upload_sample
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "32"
    scriptarguments:
      analysis: {}
      category: {}
      comment: {}
      distribution: {}
      event_id: {}
      fileEntryID:
        simple: ${File.EntryID}
      info: {}
      to_ids: {}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 750
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "22":
    id: "22"
    taskid: efdf2f8f-8707-4bd9-8d97-45399563645c
    type: regular
    task:
      id: efdf2f8f-8707-4bd9-8d97-45399563645c
      version: -1
      name: Add sighting
      description: Add sightings to event.
      script: '|||misp-add-sighting'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      id:
        simple: ${MISP.Event.Attribute.ID}
      type:
        simple: sighting
      uuid: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2850
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "23":
    id: "23"
    taskid: 9aa8f470-28e7-465a-8895-a4dcceb61b75
    type: regular
    task:
      id: 9aa8f470-28e7-465a-8895-a4dcceb61b75
      version: -1
      name: Delete Context
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "24"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 8100
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "24":
    id: "24"
    taskid: 1092a79a-055d-4f2c-8368-4ec0d4606e72
    type: regular
    task:
      id: 1092a79a-055d-4f2c-8368-4ec0d4606e72
      version: -1
      name: Add feed
      description: |-
        Adds events from OSINT feed.

        WILL NOT CREATE NEW EVENTS BECAUSE FEED ALREADY ADDED BEFORE
      script: '|||misp-add-events-from-feed'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      feed:
        simple: CIRCL
      limit:
        simple: "1"
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 8275
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "27":
    id: "27"
    taskid: 22bd848a-5406-46fd-81aa-551eaf4296df
    type: regular
    task:
      id: 22bd848a-5406-46fd-81aa-551eaf4296df
      version: -1
      name: Add URL object
      description: Add URL object to MISP event
      script: '|||misp-add-url-object'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "34"
    scriptarguments:
      event_id:
        simple: ${MISP.Event.ID}
      first_seen:
        simple: "2018-05-02"
      last_seen:
        simple: "2018-05-05"
      text:
        simple: test url
      url:
        simple: https://www.misp-project.org/objects.html#_ip_port
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 2675
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "28":
    id: "28"
    taskid: 04fc2637-cc57-4dcc-8189-8b4b287f0dca
    type: title
    task:
      id: 04fc2637-cc57-4dcc-8189-8b4b287f0dca
      version: -1
      name: Object commands
      type: title
      description: Object commands
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "31"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 1815
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "29":
    id: "29"
    taskid: 4ed072e0-3c43-47ef-8330-b864781405f4
    type: regular
    task:
      id: 4ed072e0-3c43-47ef-8330-b864781405f4
      version: -1
      name: Add IP object
      description: Adds an IP Object to MISP event
      script: '|||misp-add-ip-object'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "27"
    scriptarguments:
      comment: {}
      domain:
        simple: google.com
      dst_port:
        simple: "8080"
      event_id:
        simple: ${MISP.Event.ID}
      first_seen:
        simple: "2018-05-05"
      hostname: {}
      ip:
        simple: 8.8.8.8
      ip_dst: {}
      ip_src: {}
      last_seen: {}
      src_port:
        simple: "666"
      text:
        simple: test dns
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 2500
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "30":
    id: "30"
    taskid: f7c4a9e4-615d-40af-8fc4-69a5c6e845e7
    type: regular
    task:
      id: f7c4a9e4-615d-40af-8fc4-69a5c6e845e7
      version: -1
      name: Add EMail object
      description: adds an email object to given event id
      script: '|||misp-add-email-object'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "33"
    scriptarguments:
      entry_id:
        simple: ${File.EntryID}
      event_id:
        simple: ${MISP.Event.ID}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 2150
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "31":
    id: "31"
    taskid: 16b606c7-5639-4e0b-8119-dee5f221ec86
    type: regular
    task:
      id: 16b606c7-5639-4e0b-8119-dee5f221ec86
      version: -1
      name: Get EMail
      description: Sends http request. Returns the response as json.
      scriptName: http
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "30"
    scriptarguments:
      body: {}
      filename: {}
      headers: {}
      insecure: {}
      method:
        simple: GET
      password: {}
      proxy: {}
      saveAsFile:
        simple: "yes"
      unsecure: {}
      url:
        simple: https://raw.githubusercontent.com/demisto/content/master/TestData/CheckEmailAuthenticity_test_mail.eml
      username: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 1975
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "32":
    id: "32"
    taskid: 4720ab1b-8c47-4b6f-833c-862a98c9de4f
    type: regular
    task:
      id: 4720ab1b-8c47-4b6f-833c-862a98c9de4f
      version: -1
      name: Delete context
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "10"
    scriptarguments:
      all:
        simple: "no"
      index: {}
      key:
        simple: ${File}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 925
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "33":
    id: "33"
    taskid: f39514ef-7600-4b69-8921-3306fb3c3e08
    type: regular
    task:
      id: f39514ef-7600-4b69-8921-3306fb3c3e08
      version: -1
      name: Add object
      description: Adds any other object to misp
      script: '|||misp-add-object'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "29"
    scriptarguments:
      attributes:
        simple: '{''description'': ''Bars Ferrari'', ''make'': ''Ferrari'', ''model'':
          ''308 GTS''}'
      event_id:
        simple: ${MISP.Event.ID}
      template:
        simple: vehicle
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 2325
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "34":
    id: "34"
    taskid: 974f2fed-7f40-4857-8d69-365f146b633b
    type: title
    task:
      id: 974f2fed-7f40-4857-8d69-365f146b633b
      version: -1
      name: End of object commands
      description: End of object command
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "19"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 2865
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "37":
    id: "37"
    taskid: c7f40a5b-7ef1-4ceb-8343-3c852f193245
    type: regular
    task:
      id: c7f40a5b-7ef1-4ceb-8343-3c852f193245
      version: -1
      name: Add tag 'Test1' to both events
      description: Adds a tag to the given UUID event or attribute.
      script: '|||misp-add-tag'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "47"
    scriptarguments:
      tag:
        simple: Test1
      uuid:
        simple: ${MISP.Event.UUID}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 4950
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "39":
    id: "39"
    taskid: 8bf748b3-de26-4a3a-8fe9-3b0462667285
    type: regular
    task:
      id: 8bf748b3-de26-4a3a-8fe9-3b0462667285
      version: -1
      name: 'Search by tags: Test1 AND Test2'
      description: Search for events in MISP.
      script: '|||misp-search'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "40"
    scriptarguments:
      category: {}
      eventid: {}
      from: {}
      last: {}
      org: {}
      tags:
        simple: AND:Test1,Test2
      to: {}
      to_ids: {}
      type: {}
      uuid: {}
      value: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 5475
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "40":
    id: "40"
    taskid: 5c1ace95-3e55-43cd-83bb-f7d47b8550c5
    type: condition
    task:
      id: 5c1ace95-3e55-43cd-83bb-f7d47b8550c5
      version: -1
      name: Is AND search work?
      description: Is AND search work?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "70"
      "yes":
      - "53"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualNumber
          left:
            value:
              complex:
                root: MISP
                accessor: Event
                transformers:
                - operator: count
            iscontext: true
          right:
            value:
              simple: "1"
      - - operator: containsGeneral
          left:
            value:
              simple: MISP.Event.Tag.Name
            iscontext: true
          right:
            value:
              simple: Test1
      - - operator: containsGeneral
          left:
            value:
              simple: MISP.Event.Tag.Name
            iscontext: true
          right:
            value:
              simple: Test2
    view: |-
      {
        "position": {
          "x": 480,
          "y": 5650
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "41":
    id: "41"
    taskid: d38bf737-2a64-4094-8dc0-8ca5eaf71e01
    type: regular
    task:
      id: d38bf737-2a64-4094-8dc0-8ca5eaf71e01
      version: -1
      name: 'Search by tags: Test1 OR Test2'
      description: Search for events in MISP.
      script: '|||misp-search'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "42"
    scriptarguments:
      category: {}
      eventid: {}
      from: {}
      last: {}
      org: {}
      tags:
        simple: OR:Test1,Test2
      to: {}
      to_ids: {}
      type: {}
      uuid: {}
      value: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 6175
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "42":
    id: "42"
    taskid: d2b7f9f5-d7e7-42ba-85ff-fbb3c6f45f5a
    type: condition
    task:
      id: d2b7f9f5-d7e7-42ba-85ff-fbb3c6f45f5a
      version: -1
      name: Is OR search work?
      description: Is OR search work?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "71"
      "yes":
      - "54"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualNumber
          left:
            value:
              complex:
                root: MISP
                accessor: Event
                transformers:
                - operator: count
            iscontext: true
          right:
            value:
              simple: "2"
      - - operator: containsGeneral
          left:
            value:
              simple: MISP.Event.Tag.Name
            iscontext: true
          right:
            value:
              simple: Test1
      - - operator: containsGeneral
          left:
            value:
              simple: MISP.Event.Tag.Name
            iscontext: true
          right:
            value:
              simple: Test2
    view: |-
      {
        "position": {
          "x": 480,
          "y": 6350
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "43":
    id: "43"
    taskid: 4cda6a93-5290-422e-8ed4-9c0e670ec674
    type: regular
    task:
      id: 4cda6a93-5290-422e-8ed4-9c0e670ec674
      version: -1
      name: 'Search by tags: NOT Test1,Test2'
      description: Search for events in MISP.
      script: '|||misp-search'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "44"
    scriptarguments:
      category: {}
      eventid: {}
      from: {}
      last: {}
      org: {}
      tags:
        simple: NOT:Test2
      to: {}
      to_ids: {}
      type: {}
      uuid: {}
      value: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 6875
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "44":
    id: "44"
    taskid: d05a8fc9-adfa-4af5-8cd5-054db9d7e81d
    type: condition
    task:
      id: d05a8fc9-adfa-4af5-8cd5-054db9d7e81d
      version: -1
      name: Is NOT search work?
      description: Is NOT search work?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "72"
      "Yes":
      - "62"
    separatecontext: false
    conditions:
    - label: "Yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: MISP
                accessor: Event.Tag.Name
            iscontext: true
          right:
            value:
              simple: Test1
    view: |-
      {
        "position": {
          "x": 480,
          "y": 7050
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "45":
    id: "45"
    taskid: d6e4c773-8733-4ef6-8182-f4ad3318f6fc
    type: regular
    task:
      id: d6e4c773-8733-4ef6-8182-f4ad3318f6fc
      version: -1
      name: Create event
      description: Creates a new MISP event.
      script: '|||misp-create-event'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "37"
    scriptarguments:
      analysis: {}
      category: {}
      comment: {}
      distribution: {}
      info:
        simple: Testplayboook
      published: {}
      threat_level_id: {}
      to_ids: {}
      type: {}
      value:
        simple: test
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 4775
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "47":
    id: "47"
    taskid: 607d7373-369e-41d7-8bac-44995c2fe3e3
    type: regular
    task:
      id: 607d7373-369e-41d7-8bac-44995c2fe3e3
      version: -1
      name: Add tag 'Test2' to the second event
      description: Adds a tag to the given UUID event or attribute.
      script: '|||misp-add-tag'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "52"
    scriptarguments:
      tag:
        simple: Test2
      uuid:
        complex:
          root: MISP
          accessor: Event.UUID
          transformers:
          - operator: atIndex
            args:
              index:
                value:
                  simple: "1"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 5125
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "49":
    id: "49"
    taskid: 6dc89a23-2ad0-4a6d-86dc-9c22db68e297
    type: regular
    task:
      id: 6dc89a23-2ad0-4a6d-86dc-9c22db68e297
      version: -1
      name: Delete event
      description: Deletes an event according to event ID.
      script: '|||misp-delete-event'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "65"
    scriptarguments:
      event_id:
        simple: ${MISP.Event.[0].ID}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 7750
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "50":
    id: "50"
    taskid: 713b80b9-8691-4fca-826e-b06f09ef7eae
    type: regular
    task:
      id: 713b80b9-8691-4fca-826e-b06f09ef7eae
      version: -1
      name: Delete Context
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "56"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3725
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "51":
    id: "51"
    taskid: c7fa3b5b-9be1-44e5-8598-613f79eb49db
    type: regular
    task:
      id: c7fa3b5b-9be1-44e5-8598-613f79eb49db
      version: -1
      name: Create event
      description: Creates a new MISP event.
      script: '|||misp-create-event'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "45"
    scriptarguments:
      analysis: {}
      category: {}
      comment: {}
      distribution: {}
      info:
        simple: Testplayboook
      published: {}
      threat_level_id: {}
      to_ids: {}
      type: {}
      value:
        simple: test
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 4600
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "52":
    id: "52"
    taskid: 49cf808d-eeb9-4bc9-8db1-f2abd47be9ae
    type: regular
    task:
      id: 49cf808d-eeb9-4bc9-8db1-f2abd47be9ae
      version: -1
      name: Delete Context
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "39"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 5300
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "53":
    id: "53"
    taskid: a0fc364f-7eb1-491e-8ce4-6b382a46ae78
    type: regular
    task:
      id: a0fc364f-7eb1-491e-8ce4-6b382a46ae78
      version: -1
      name: Delete Context
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "41"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 6000
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "54":
    id: "54"
    taskid: 729c5e8e-45f7-40d4-8f9b-37d8d24cddfa
    type: regular
    task:
      id: 729c5e8e-45f7-40d4-8f9b-37d8d24cddfa
      version: -1
      name: Delete Context
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "43"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 6700
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "56":
    id: "56"
    taskid: 9640a617-defd-4ef7-86f8-14d0f3b85c4d
    type: regular
    task:
      id: 9640a617-defd-4ef7-86f8-14d0f3b85c4d
      version: -1
      name: Search for event with tag "Test1"
      description: Search for events in MISP.
      script: '|||misp-search'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "64"
    scriptarguments:
      category: {}
      eventid: {}
      from: {}
      last: {}
      org: {}
      tags:
        simple: Test1
      to: {}
      to_ids: {}
      type: {}
      uuid: {}
      value: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3900
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "58":
    id: "58"
    taskid: e99fe71a-dc55-4f14-8250-3a4fb12f6d1c
    type: regular
    task:
      id: e99fe71a-dc55-4f14-8250-3a4fb12f6d1c
      version: -1
      name: Delete event
      description: Deletes an event according to event ID.
      script: '|||misp-delete-event'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "60"
    scriptarguments:
      event_id:
        simple: ${MISP.Event.ID}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": 4250
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "60":
    id: "60"
    taskid: 5774f286-dff9-440e-84cf-cf5b2fcf4896
    type: regular
    task:
      id: 5774f286-dff9-440e-84cf-cf5b2fcf4896
      version: -1
      name: Delete Context
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "51"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": 4425
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "61":
    id: "61"
    taskid: 8361d0d2-b74e-4a86-8e96-3c034c41bde7
    type: regular
    task:
      id: 8361d0d2-b74e-4a86-8e96-3c034c41bde7
      version: -1
      name: 'Search for event with tag "Test1" '
      description: Search for events in MISP.
      script: '|||misp-search'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "49"
    scriptarguments:
      category: {}
      eventid: {}
      from: {}
      last: {}
      org: {}
      tags:
        simple: Test1
      to: {}
      to_ids: {}
      type: {}
      uuid: {}
      value: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 7575
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "62":
    id: "62"
    taskid: 8f7d3ca5-98ca-41e8-8011-a4b1a4012039
    type: regular
    task:
      id: 8f7d3ca5-98ca-41e8-8011-a4b1a4012039
      version: -1
      name: Delete Context
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "61"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 7400
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "64":
    id: "64"
    taskid: af8f5730-2e61-4d95-8a33-76897fafb958
    type: condition
    task:
      id: af8f5730-2e61-4d95-8a33-76897fafb958
      version: -1
      name: Found old events from previous run?
      description: Search for events from previous run.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "51"
      "yes":
      - "58"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: greaterThan
          left:
            value:
              simple: MISP.Event.ID
            iscontext: true
          right:
            value:
              simple: "0"
    view: |-
      {
        "position": {
          "x": 480,
          "y": 4075
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "65":
    id: "65"
    taskid: 0dfb30ca-af29-4ead-8685-8c5cde05ae91
    type: regular
    task:
      id: 0dfb30ca-af29-4ead-8685-8c5cde05ae91
      version: -1
      name: Delete event
      description: Deletes an event according to event ID.
      script: '|||misp-delete-event'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "23"
    scriptarguments:
      event_id:
        simple: ${MISP.Event.[1].ID}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 7925
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "66":
    id: "66"
    taskid: f6a88abd-943e-4c8c-8fae-88dfe449764a
    type: regular
    task:
      id: f6a88abd-943e-4c8c-8fae-88dfe449764a
      version: -1
      name: PrintErrorEntry
      description: Prints an error entry with a given message
      scriptName: PrintErrorEntry
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "16"
    scriptarguments:
      message:
        simple: ${DBotScore}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1625
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "68":
    id: "68"
    taskid: e0b661e5-c0d4-44a9-8989-1709a2fe0d0e
    type: regular
    task:
      id: e0b661e5-c0d4-44a9-8989-1709a2fe0d0e
      version: -1
      name: PrintErrorEntry
      description: Prints an error entry with a given message
      scriptName: PrintErrorEntry
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      message:
        simple: ${DBotScore}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 2325
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "69":
    id: "69"
    taskid: 472c89c3-b1c9-4653-8130-5a2c9801ebc7
    type: regular
    task:
      id: 472c89c3-b1c9-4653-8130-5a2c9801ebc7
      version: -1
      name: PrintErrorEntry
      description: Prints an error entry with a given message
      scriptName: PrintErrorEntry
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "11"
      - "20"
    scriptarguments:
      message:
        simple: ${DBotScore}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 3200
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "70":
    id: "70"
    taskid: 5f461805-ca3a-40a4-8fee-9cd81c190767
    type: regular
    task:
      id: 5f461805-ca3a-40a4-8fee-9cd81c190767
      version: -1
      name: PrintErrorEntry
      description: Prints an error entry with a given message
      scriptName: PrintErrorEntry
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "53"
    scriptarguments:
      message:
        simple: ${DBotScore}${MISP.Event}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 5825
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "71":
    id: "71"
    taskid: 4d870a58-4b18-43d4-8570-4223aa5732ec
    type: regular
    task:
      id: 4d870a58-4b18-43d4-8570-4223aa5732ec
      version: -1
      name: PrintErrorEntry
      description: Prints an error entry with a given message
      scriptName: PrintErrorEntry
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "54"
    scriptarguments:
      message:
        simple: ${DBotScore}${MISP.Event}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 6525
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "72":
    id: "72"
    taskid: 6b8be99d-e86d-488c-8b53-4b9e8a8dee70
    type: regular
    task:
      id: 6b8be99d-e86d-488c-8b53-4b9e8a8dee70
      version: -1
      name: PrintErrorEntry
      description: Prints an error entry with a given message
      scriptName: PrintErrorEntry
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "62"
    scriptarguments:
      message:
        simple: ${DBotScore}${MISP.Event}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 7225
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
view: |-
  {
    "linkLabelsPosition": {
      "40_53_yes": 0.88,
      "42_54_yes": 0.81
    },
    "paper": {
      "dimensions": {
        "height": 8450,
        "width": 1035,
        "x": 50,
        "y": 65
      }
    }
  }
inputs: []
outputs: []
sourceplaybookid: MISP V2 Test
