Packs/SecureHealth/Playbooks/playbook-SecureHealthDeviceCompromisePlaybook.yml
contentitemexportablefields:
  contentitemfields:
    propagationLabels:
    - all
description: |-
  The SecureHealth Playbook is designed to handle incidents generated by a possibly PAN AppID that signal the possible compromise of a health device on the network.

  The Playbook leverages Google Chronicle to prepare all information necessary as pieces of evidence for analyst review BEFORE the analyst is notified.  Upon review, the analyst may make the decision to escalate the event.  Escalating the event commands the SecureHealthFirewallAPI to (CURRENTLY AND SYNTHETICALLY):

  1. notify the device user of possible compromise
  2. alert IT staff to physically requisition the device
  3. block further network traffic to IOC so that more devices may not be compromised

  In the event that the device is not physically obtained (decision through email), the device must be signaled to be  remotely unprovisioned to follow various health system and health user security considerations.
id: SecureHealthDeviceCompromisePlaybook
inputs:
- description: ""
  key: test
  playbookInputQuery:
  required: false
  value:
    simple: ${incident.app}
- description: ""
  key: incident
  playbookInputQuery:
  required: false
  value:
    simple: ${incident}
name: SecureHealthDeviceCompromisePlaybook
outputs: []
rolename:
- Analyst
starttaskid: "0"
tasks:
  "0":
    id: "0"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "3"
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 521c5ceb-597c-4e09-86c7-fd3c5aeee2b6
      iscommand: false
      name: ""
      version: -1
      description: ''
    taskid: 521c5ceb-597c-4e09-86c7-fd3c5aeee2b6
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 370,
          "y": 60
        }
      }
  "3":
    id: "3"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "12"
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      artifact_value:
        simple: ${incident.ioc}
      end_time: {}
      page_size: {}
      preset_time_range: {}
      start_time: {}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Google Chronicle Backstory_XMocky
      description: Returns a list of the assets that accessed the input artifact (IP,
        domain, MD5, SHA1 and SHA256) during the specified time.
      id: 7e03c919-c833-491c-85d2-2fc928dba623
      iscommand: true
      name: gcb-assets
      script: Google Chronicle Backstory_XMocky|||gcb-assets
      type: regular
      version: -1
    taskid: 7e03c919-c833-491c-85d2-2fc928dba623
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 370,
          "y": 200
        }
      }
  "10":
    id: "10"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "11"
      "yes":
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: da922cc1-1a50-467b-870c-d231b4179469
      iscommand: false
      name: Is device compromised?
      type: condition
      version: -1
    taskid: da922cc1-1a50-467b-870c-d231b4179469
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 370,
          "y": 800
        }
      }
  "11":
    id: "11"
    ignoreworker: false
    note: false
    quietmode: 0
    scriptarguments:
      assetid: {}
      closeNotes: {}
      closeReason: {}
      code42alerttype: {}
      emailclassification: {}
      id: {}
      phishingconfirmationstatus: {}
      phishingsubtype: {}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident
      id: 6221708b-de4a-4f78-82c3-15c1e56be26d
      iscommand: true
      name: closeInvestigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 6221708b-de4a-4f78-82c3-15c1e56be26d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 490,
          "y": 2030
        }
      }
  "12":
    id: "12"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "10"
      - "14"
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      device_GUID:
        simple: DEVICEUUID
      device_msg:
        simple: This device will be unprovisioned from the network in 10 minutes.  Please
          contact IT.
      ioc_ip_block:
        simple: ${incident.ioc_value}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5a1a22c6-3ab4-45b8-8360-ba1503051aa5
      iscommand: false
      name: SecureHealthFirewall
      script: ed306851-31af-4f49-89b7-9f9f21f85cad
      type: regular
      version: -1
    taskid: 5a1a22c6-3ab4-45b8-8360-ba1503051aa5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 370,
          "y": 405
        }
      }
  "13":
    id: "13"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      end_time:
        simple: ${context.SecureHealth.Assets.RangeAccessEnd}
      page_size: {}
      preset_time_range: {}
      severity: {}
      start_time:
        simple: ${context.SecureHealth.Assets.RangeAccessStart}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Google Chronicle Backstory_XMocky
      description: List all the alerts tracked within your enterprise for the specified
        time range. Both the parsed alerts and their corresponding raw alert logs
        are returned.
      id: ee07c6cc-52bf-499e-8c2e-899d40df96c1
      iscommand: true
      name: gcb-list-alerts
      script: Google Chronicle Backstory_XMocky|||gcb-list-alerts
      type: regular
      version: -1
    taskid: ee07c6cc-52bf-499e-8c2e-899d40df96c1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -70,
          "y": 580
        }
      }
  "14":
    id: "14"
    ignoreworker: false
    note: false
    quietmode: 0
    scriptarguments:
      desc: {}
      description: {}
      entryIDs: {}
      occurred: {}
      tags: {}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Adds provided entries to the incident Evidence Board. In playbook, can be positioned after a task to add the previous task's entries to Evidence Board automatically (with no need to provide arguments)
      id: 086597ba-ebac-434c-8e7b-c67ca45bdb07
      iscommand: false
      name: AddEvidence
      script: AddEvidence
      type: regular
      version: -1
    taskid: 086597ba-ebac-434c-8e7b-c67ca45bdb07
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 810,
          "y": 750
        }
      }
  "15":
    id: "15"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      block_ioc:
        simple: ${incident.ioc}
      notify_device_uuid:
        simple: ${incident.deviceuuid}
      unprovision_device_uuid: {}
      unprovision_email:
        simple: seth@securehealth.com
      unprovision_location:
        simple: ${incident.devicelocation}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b4ca46e2-4e31-4a73-8554-a9c08e41c285
      iscommand: false
      name: SecureHealthFIrewallAPI
      script: 6dbd9c9b-45dd-406f-8013-77482c91c646
      type: regular
      version: -1
    taskid: b4ca46e2-4e31-4a73-8554-a9c08e41c285
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -20,
          "y": 970
        }
      }
  "16":
    id: "16"
    ignoreworker: false
    message:
      bcc:
      body:
        simple: An incident has occurred that possibly compromised the following device.  Please
          respond when the device with UUID ${incident.deviceuuid} has been collected
          from location ${incident.deviceLocation}.
      cc:
      format: ""
      methods:
      - email
      replyOptions:
      - Device Acquired
      - Device Lost
      subject:
        simple: Requisition Device ${incident.deviceuuid}
      timings:
        completeafterreplies: 1
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Administrator
    nexttasks:
      Device Acquired:
      - "17"
      Device Lost:
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ed1838cd-38ee-470d-80a4-93eb06bd30d9
      iscommand: false
      name: Issue collection
      type: condition
      version: -1
    taskid: ed1838cd-38ee-470d-80a4-93eb06bd30d9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -20,
          "y": 1150
        }
      }
  "17":
    id: "17"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: 'UPDATE: device ${incident.deviceUUID} has been collected and must
          be investigated'
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 2709f509-af33-435b-8daf-e4ec45b60f4c
      iscommand: false
      name: PrintDeviceCollectionStatus
      script: Print
      type: regular
      version: -1
    taskid: 2709f509-af33-435b-8daf-e4ec45b60f4c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -320,
          "y": 1415
        }
      }
  "18":
    id: "18"
    ignoreworker: false
    nexttasks:
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    sla:
      days: 0
      hours: 1
      weeks: 0
    task:
      brand: ""
      id: 558c5785-d8b5-475b-83bc-1aacd672cc06
      iscommand: false
      name: Outcome of requisition attemp
      type: condition
      version: -1
    taskid: 558c5785-d8b5-475b-83bc-1aacd672cc06
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 0,
          "y": 1750
        }
      }
  "19":
    id: "19"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: 'UPDATE: device ${incident.deviceUUID} can not be located.  Investigation
          should completely trigger background UNPROVISIONING.'
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 2847e872-fd20-43d6-806e-de3ee09818f8
      iscommand: false
      name: PrintDeviceCollectionStatus
      script: Print
      type: regular
      version: -1
    taskid: 2847e872-fd20-43d6-806e-de3ee09818f8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 160,
          "y": 1415
        }
      }
  "20":
    id: "20"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      block_ioc: {}
      notify_device_uuid: {}
      unprovision_device_uuid:
        simple: ${incident.deviceuuid}
      unprovision_location: {}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ed694ba2-e70a-4973-8a7f-5ba0fc3cb715
      iscommand: false
      name: SecureHealthFIrewallAPI UNPROVISION LOST DEVICE
      script: 6dbd9c9b-45dd-406f-8013-77482c91c646
      type: regular
      version: -1
    taskid: ed694ba2-e70a-4973-8a7f-5ba0fc3cb715
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 160,
          "y": 1590
        }
      }
  "21":
    id: "21"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      artifact_value:
        simple: ${incident.ioc}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Google Chronicle Backstory_XMocky
      description: Accepts an artifact indicator and returns any threat intelligence
        associated with the artifact. The threat intelligence information is drawn
        from your enterprise security systems and from Chronicle's IoC partners (for
        example, the DHS threat feed).
      id: e8a45bde-5877-4def-8cda-f6fb0964de14
      iscommand: true
      name: gcb-ioc-details
      script: Google Chronicle Backstory_XMocky|||gcb-ioc-details
      type: regular
      version: -1
    taskid: e8a45bde-5877-4def-8cda-f6fb0964de14
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 810,
          "y": 200
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "16_17_Device Acquired": 0.65
    },
    "paper": {
      "dimensions": {
        "height": 2065,
        "width": 1510,
        "x": -320,
        "y": 60
      }
    }
  }
tests:
- No tests (auto formatted)
fromversion: 6.0.0
