Packs/DigitalShadows/Playbooks/Digital_Shadows_-_SHA256_IoC_Assessment_&_Enrichment.yml
id: Digital Shadows - SHA256_IoC Assessment & Enrichment
version: -1
contentitemexportablefields:
  contentitemfields: {}
fromversion: 6.0.0
name: Digital Shadows - SHA256_IoC Assessment & Enrichment
description: Enrichment of SHA256 IOC types - sub-playbook for IOC Assessment & Enrichment playbook.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: ce30a4b0-11c4-434f-81bb-b008b6fe7aa5
    type: start
    task:
      id: ce30a4b0-11c4-434f-81bb-b008b6fe7aa5
      version: -1
      name: ""
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "54"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: 32430028-be14-4b40-87c6-af5688499d03
    type: title
    task:
      id: 32430028-be14-4b40-87c6-af5688499d03
      version: -1
      name: End
      type: title
      iscommand: false
      brand: ""
      description: ''
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 1960
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "44":
    id: "44"
    taskid: 441e54a5-3612-4648-83c2-0595618432f5
    type: regular
    task:
      id: 441e54a5-3612-4648-83c2-0595618432f5
      version: -1
      name: ds-search - THREAT FEEDS
      description: Perform a general search against incidents, threats closed sources, etc.
      script: ReliaQuest GreyMatter DRP Incidents|||ds-search
      type: regular
      iscommand: true
      brand: ReliaQuest GreyMatter DRP Incidents
    nexttasks:
      '#none#':
      - "45"
    scriptarguments:
      extend-context:
        simple: SHA256 Associated Indicators=content.entity.indicators.title
      query:
        simple: ${inputs.IoC_SHA256}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 1595
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "45":
    id: "45"
    taskid: 33159f83-17b5-4afe-8515-c6228340e3aa
    type: condition
    task:
      id: 33159f83-17b5-4afe-8515-c6228340e3aa
      version: -1
      name: is Associated Indicators blank?
      type: condition
      iscommand: false
      brand: ""
      description: ""
    nexttasks:
      "no":
      - "56"
      "yes":
      - "13"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEmpty
          left:
            value:
              simple: ${SHA256 Associated Indicators}
            iscontext: true
    - label: "no"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: ${SHA256 Associated Indicators}
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 1770
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "48":
    id: "48"
    taskid: 8cbeba8f-d765-4330-8b75-20f4da6c2326
    type: regular
    task:
      id: 8cbeba8f-d765-4330-8b75-20f4da6c2326
      version: -1
      name: ds-search - INTEL UPDATES
      description: Perform a general search against incidents, threats closed sources, etc.
      script: ReliaQuest GreyMatter DRP Incidents|||ds-search
      type: regular
      iscommand: true
      brand: ReliaQuest GreyMatter DRP Incidents
    nexttasks:
      '#none#':
      - "49"
      - "60"
    scriptarguments:
      extend-context:
        simple: SHA256 Intel Summary=content.entity.summary
      query:
        simple: ${inputs.IoC_SHA256}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1245
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "49":
    id: "49"
    taskid: f46db2e9-5800-42ca-853c-ddf5a18dab29
    type: regular
    task:
      id: f46db2e9-5800-42ca-853c-ddf5a18dab29
      version: -1
      name: AddEvidence - INTEL UPDATES
      description: |
        Adds provided entries to the incident Evidence Board. In playbook, can be positioned after a task to add the previous task's entries to Evidence Board automatically (with no need to provide arguments)
      scriptName: AddEvidence
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      desc:
        simple: Summary
      description:
        simple: ${SHA256 Intel Summary}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 695,
          "y": 1420
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "50":
    id: "50"
    taskid: 35cf04a8-1242-4dc7-8a27-094bc0f48429
    type: regular
    task:
      id: 35cf04a8-1242-4dc7-8a27-094bc0f48429
      version: -1
      name: ds-search - PROFILE INTELLIGENCE
      description: Perform a general search against incidents, threats closed sources, etc.
      script: ReliaQuest GreyMatter DRP Incidents|||ds-search
      type: regular
      iscommand: true
      brand: ReliaQuest GreyMatter DRP Incidents
    nexttasks:
      '#none#':
      - "51"
      - "61"
    scriptarguments:
      extend-context:
        simple: SHA256 Profile Name=content.entity.primaryTag.name
      query:
        simple: ${inputs.IoC_SHA256}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 695,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "51":
    id: "51"
    taskid: 3047f1f7-2072-423e-8f1d-2a8288bd8fa8
    type: regular
    task:
      id: 3047f1f7-2072-423e-8f1d-2a8288bd8fa8
      version: -1
      name: AddEvidence - INTEL PROFILES
      description: |
        Adds provided entries to the incident Evidence Board. In playbook, can be positioned after a task to add the previous task's entries to Evidence Board automatically (with no need to provide arguments)
      scriptName: AddEvidence
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      desc:
        simple: Profiles
      description:
        simple: ${SHA256 Profile Name}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "52":
    id: "52"
    taskid: 91c4d694-5c95-47bc-897f-1373d8266095
    type: regular
    task:
      id: 91c4d694-5c95-47bc-897f-1373d8266095
      version: -1
      name: ds-search - MITRE TECHNIQUES
      description: Perform a general search against incidents, threats closed sources, etc.
      script: ReliaQuest GreyMatter DRP Incidents|||ds-search
      type: regular
      iscommand: true
      brand: ReliaQuest GreyMatter DRP Incidents
    nexttasks:
      '#none#':
      - "53"
      - "58"
    scriptarguments:
      extend-context:
        simple: SHA256 TTP Profiles=content.entity.primaryTag.name
      query:
        simple: ${inputs.IoC_SHA256}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "53":
    id: "53"
    taskid: a26ef204-bffa-4b30-8543-d6954ad1c422
    type: regular
    task:
      id: a26ef204-bffa-4b30-8543-d6954ad1c422
      version: -1
      name: AddEvidence - MITRE TECHNIQUES
      description: |
        Adds provided entries to the incident Evidence Board. In playbook, can be positioned after a task to add the previous task's entries to Evidence Board automatically (with no need to provide arguments)
      scriptName: AddEvidence
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      desc:
        simple: Associated TTPs
      description:
        simple: ${SHA256 TTP Profiles}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "54":
    id: "54"
    taskid: d8b04056-3ecf-415d-8f1d-a1f29330ca3d
    type: regular
    task:
      id: d8b04056-3ecf-415d-8f1d-a1f29330ca3d
      version: -1
      name: ds-search - CONFIRMED ACTIVITY
      description: Perform a general search against incidents, threats closed sources, etc.
      script: ReliaQuest GreyMatter DRP Incidents|||ds-search
      type: regular
      iscommand: true
      brand: ReliaQuest GreyMatter DRP Incidents
    nexttasks:
      '#none#':
      - "55"
      - "57"
    scriptarguments:
      extend-context:
        simple: SHA256 Confirmed Activity=total
      query:
        simple: ${inputs.IoC_SHA256}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "55":
    id: "55"
    taskid: a767afc2-9f5d-4c39-82cd-4d9772847917
    type: regular
    task:
      id: a767afc2-9f5d-4c39-82cd-4d9772847917
      version: -1
      name: AddEvidence - CONFIRMED ACTIVITY
      description: |
        Adds provided entries to the incident Evidence Board. In playbook, can be positioned after a task to add the previous task's entries to Evidence Board automatically (with no need to provide arguments)
      scriptName: AddEvidence
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      desc:
        simple: Confirmed Malicious Activity Count
      description:
        simple: ${SHA256 Confirmed Activity}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "56":
    id: "56"
    taskid: 33138d93-9aa4-4e83-8da9-907f7679e243
    type: regular
    task:
      id: 33138d93-9aa4-4e83-8da9-907f7679e243
      version: -1
      name: Print Associated Indicators
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      value:
        simple: ${SHA256 Associated Indicators}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1945
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "57":
    id: "57"
    taskid: 185b58f6-2a1f-4fe8-8985-9478da291aea
    type: regular
    task:
      id: 185b58f6-2a1f-4fe8-8985-9478da291aea
      version: -1
      name: Sleep
      description: Sleep for X seconds.
      scriptName: Sleep
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "52"
    scriptarguments:
      seconds:
        simple: "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "58":
    id: "58"
    taskid: 9d733f8e-b499-478f-89fc-abcf59370944
    type: regular
    task:
      id: 9d733f8e-b499-478f-89fc-abcf59370944
      version: -1
      name: Sleep
      description: Sleep for X seconds.
      scriptName: Sleep
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "50"
    scriptarguments:
      seconds:
        simple: "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 695,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "60":
    id: "60"
    taskid: fb7b2f99-c1b7-410b-849b-2c67bf6c243e
    type: regular
    task:
      id: fb7b2f99-c1b7-410b-849b-2c67bf6c243e
      version: -1
      name: Sleep
      description: Sleep for X seconds.
      scriptName: Sleep
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "44"
    scriptarguments:
      seconds:
        simple: "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 1420
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "61":
    id: "61"
    taskid: 6a0a357f-35f0-41b0-8cef-74a56789dc69
    type: regular
    task:
      id: 6a0a357f-35f0-41b0-8cef-74a56789dc69
      version: -1
      name: Sleep
      description: Sleep for X seconds.
      scriptName: Sleep
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "48"
    scriptarguments:
      seconds:
        simple: "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1990,
        "width": 1670,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: IoC_SHA256
  value:
    complex:
      root: File
      accessor: SHA256
      transformers:
      - operator: uniq
  required: false
  description: A Digital Shadows ShadowSearch query containing SHA256 hashes
  playbookInputQuery:
outputs:
- contextPath: DBotScore.Indicator
  description: Indicator Value.
  type: string
- contextPath: DBotScore.Type
  description: Indicator Type.
  type: string
tests:
- No tests (auto formatted)
