Packs/PhishLabs/TestPlaybooks/playbook-PhishlabsIOC_EIR-Test.yml
id: PhishlabsIOC_EIR-Test
version: -1
name: PhishlabsIOC_EIR-Test
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 307bc320-87f0-4a07-8989-a40b3ca44aaf
    type: start
    task:
      id: 307bc320-87f0-4a07-8989-a40b3ca44aaf
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "1":
    id: "1"
    taskid: fccbaeb4-f8b7-4e5f-8c31-75d3a77f73d1
    type: regular
    task:
      id: fccbaeb4-f8b7-4e5f-8c31-75d3a77f73d1
      version: -1
      name: Delete entry context
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "2":
    id: "2"
    taskid: 59f37176-09a0-4c7a-83b9-31cac4ed3024
    type: regular
    task:
      id: 59f37176-09a0-4c7a-83b9-31cac4ed3024
      version: -1
      name: Get incident by ID command
      description: Returns a single Incident based on the given ID.
      script: '|||phishlabs-ioc-eir-get-incident-by-id'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      incident_id:
        simple: INC0660932
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "3":
    id: "3"
    taskid: c18c12e3-a92e-4c82-81dc-3d58d227504a
    type: condition
    task:
      id: c18c12e3-a92e-4c82-81dc-3d58d227504a
      version: -1
      name: 'Check get incident by id '
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "4"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: PhishLabsIOC.EIR.CaseType
            iscontext: true
      - - operator: isExists
          left:
            value:
              simple: PhishLabsIOC.EIR.Email.EmailBody
            iscontext: true
      - - operator: isExists
          left:
            value:
              simple: PhishLabsIOC.EIR.Email.URL.URL
            iscontext: true
    view: |-
      {
        "position": {
          "x": 265,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "4":
    id: "4"
    taskid: 2461030a-0767-4af6-87af-213094bc1b99
    type: regular
    task:
      id: 2461030a-0767-4af6-87af-213094bc1b99
      version: -1
      name: PrintContext
      description: Pretty-print the contents of the playbook context
      scriptName: PrintContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      outputformat:
        simple: ${PhishLabsIOC.EIR}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "5":
    id: "5"
    taskid: 5d7452dc-3ddc-4fc0-8faa-622dce882e97
    type: regular
    task:
      id: 5d7452dc-3ddc-4fc0-8faa-622dce882e97
      version: -1
      name: Get incidents command
      description: Get EIR incidents from PhishLabs-IOC EIR service (dafault limit 50 incidents)
      script: '|||phishlabs-ioc-eir-get-incidents'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "9"
    scriptarguments:
      closed_after: {}
      closed_before: {}
      created_after: {}
      created_before: {}
      direction: {}
      limit:
        simple: "3"
      offset: {}
      sort: {}
      status: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "7":
    id: "7"
    taskid: ecedc27e-847c-44ac-835d-04a2e40875e5
    type: regular
    task:
      id: ecedc27e-847c-44ac-835d-04a2e40875e5
      version: -1
      name: PrintContext
      description: Pretty-print the contents of the playbook context
      scriptName: PrintContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "11"
    scriptarguments:
      outputformat:
        simple: ${PhishLabsIOC.EIR}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1245
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "8":
    id: "8"
    taskid: 74f7cf9e-2338-4fcc-8927-5a808bb5a143
    type: regular
    task:
      id: 74f7cf9e-2338-4fcc-8927-5a808bb5a143
      version: -1
      name: PrintErrorEntry
      description: Prints an error entry with a given message
      scriptName: PrintErrorEntry
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      message:
        simple: ${PhishLabsIOC.EIR}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "9":
    id: "9"
    taskid: ec1c7a0c-1876-42d3-8f5c-c39ab054e635
    type: condition
    task:
      id: ec1c7a0c-1876-42d3-8f5c-c39ab054e635
      version: -1
      name: Check get incidents command
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "7"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: PhishLabsIOC.EIR.CaseType
            iscontext: true
      - - operator: isExists
          left:
            value:
              simple: PhishLabsIOC.EIR.Email.EmailBody
            iscontext: true
      - - operator: isExists
          left:
            value:
              simple: PhishLabsIOC.EIR.Email.URL.URL
            iscontext: true
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "10":
    id: "10"
    taskid: 88d03f2c-e681-453f-8e4b-ecc8a38cc1e2
    type: regular
    task:
      id: 88d03f2c-e681-453f-8e4b-ecc8a38cc1e2
      version: -1
      name: PrintErrorEntry
      description: Prints an error entry with a given message
      scriptName: PrintErrorEntry
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "11"
    scriptarguments:
      message:
        simple: ${PhishLabsIOC.EIR}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1245
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "11":
    id: "11"
    taskid: 02a0e461-fd59-4d28-82bd-cb7d89a35643
    type: regular
    task:
      id: 02a0e461-fd59-4d28-82bd-cb7d89a35643
      version: -1
      name: Fetch incidents command
      description: Execute FetchIncident for a given instance
      scriptName: FetchFromInstance
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      add_to_context:
        simple: "true"
      brand_name:
        simple: PhishLabs IOC EIR
      error_msg_in_incident: {}
      expect_data: {}
      instance_name: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1420
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1465,
        "width": 810,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
fromversion: 5.0.0
