Packs/Code42/TestPlaybooks/Code42-TestPlaybook.yml
id: 98db564d-f89d-423d-8ae6-314db7732578
version: 17
name: Code42-Test
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 40d036b7-0908-4e2f-863e-45685a7f6ef1
    type: start
    task:
      id: 40d036b7-0908-4e2f-863e-45685a7f6ef1
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 245,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "1":
    id: "1"
    taskid: 5f70b6b5-4f8d-4a6f-8bb9-5f1d4050fb2b
    type: regular
    task:
      id: 5f70b6b5-4f8d-4a6f-8bb9-5f1d4050fb2b
      version: -1
      name: DeleteContext
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 245,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "2":
    id: "2"
    taskid: d353e8ee-669c-49cb-8e49-4f6d2db0555c
    type: regular
    task:
      id: d353e8ee-669c-49cb-8e49-4f6d2db0555c
      version: -1
      name: code42-alert-get
      description: Retrieve alert details by alert ID
      script: Code42|||code42-alert-get
      type: regular
      iscommand: true
      brand: Code42
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      id:
        simple: ${inputs.alert-id}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 245,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "3":
    id: "3"
    taskid: edcd6a0a-7c9d-4915-8949-736a233ec119
    type: condition
    task:
      id: edcd6a0a-7c9d-4915-8949-736a233ec119
      version: -1
      name: Validate code42-alert-get
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "4"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: Code42.SecurityAlert.Severity
            iscontext: true
    view: |-
      {
        "position": {
          "x": 245,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "4":
    id: "4"
    taskid: c8e2d81e-8e8b-4182-8d32-987df1957ab5
    type: regular
    task:
      id: c8e2d81e-8e8b-4182-8d32-987df1957ab5
      version: -1
      name: DeleteContext
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 357.5,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "6":
    id: "6"
    taskid: 3a2860c8-2312-4dc9-8f2a-916ed204cd24
    type: regular
    task:
      id: 3a2860c8-2312-4dc9-8f2a-916ed204cd24
      version: -1
      name: code42-alert-resolve
      description: Resolve a Code42 Security alert
      script: Code42|||code42-alert-resolve
      type: regular
      iscommand: true
      brand: Code42
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      id:
        simple: ${inputs.alert-id}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 357.5,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "7":
    id: "7"
    taskid: 34f35d93-c5b1-4c35-8d14-4cddd32afa05
    type: title
    task:
      id: 34f35d93-c5b1-4c35-8d14-4cddd32afa05
      version: -1
      name: Test Failed
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2820
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "8":
    id: "8"
    taskid: 07925bab-24c5-4300-8242-45e047477907
    type: condition
    task:
      id: 07925bab-24c5-4300-8242-45e047477907
      version: -1
      name: Validate code42-alert-get
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "9"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: Code42.SecurityAlert.ID
            iscontext: true
    view: |-
      {
        "position": {
          "x": 357.5,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "9":
    id: "9"
    taskid: 1db5d979-5d7e-4828-8741-3bce625d4176
    type: regular
    task:
      id: 1db5d979-5d7e-4828-8741-3bce625d4176
      version: -1
      name: DeleteContext
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "10"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 470,
          "y": 1245
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "10":
    id: "10"
    taskid: 4b46fb8e-9135-472e-8615-dec9c92f9cd8
    type: regular
    task:
      id: 4b46fb8e-9135-472e-8615-dec9c92f9cd8
      version: -1
      name: code42-departingemployee-add
      description: Add a user to the Departing Employee Lens
      script: Code42|||code42-departingemployee-add
      type: regular
      iscommand: true
      brand: Code42
    nexttasks:
      '#none#':
      - "11"
    scriptarguments:
      departuredate: {}
      note: {}
      username:
        simple: ${inputs.username}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 470,
          "y": 1420
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "11":
    id: "11"
    taskid: f5e3a11f-bee9-451c-8c06-dbc779d25cd1
    type: condition
    task:
      id: f5e3a11f-bee9-451c-8c06-dbc779d25cd1
      version: -1
      name: Validate code42-departingemployee-add
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "12"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: Code42.DepartingEmployee.CaseID
            iscontext: true
    view: |-
      {
        "position": {
          "x": 470,
          "y": 1595
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "12":
    id: "12"
    taskid: 107b35a0-00dc-4de5-8cfc-6a3743c63723
    type: regular
    task:
      id: 107b35a0-00dc-4de5-8cfc-6a3743c63723
      version: -1
      name: DeleteContext
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 582.5,
          "y": 1770
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "13":
    id: "13"
    taskid: aece53b9-2b3e-4126-8eb6-4347560b8a4f
    type: regular
    task:
      id: aece53b9-2b3e-4126-8eb6-4347560b8a4f
      version: -1
      name: code42-departingemployee-remove
      description: Remove a user from the Departing Employee Lens
      script: Code42|||code42-departingemployee-remove
      type: regular
      iscommand: true
      brand: Code42
    nexttasks:
      '#none#':
      - "14"
    scriptarguments:
      username:
        simple: ${inputs.username}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 582.5,
          "y": 1945
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "14":
    id: "14"
    taskid: ab79952a-c285-40d1-83c4-b06f3d796403
    type: condition
    task:
      id: ab79952a-c285-40d1-83c4-b06f3d796403
      version: -1
      name: Validate code42-departingemployee-remove
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "15"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: Code42.DepartingEmployee.CaseID
            iscontext: true
    view: |-
      {
        "position": {
          "x": 582.5,
          "y": 2120
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "15":
    id: "15"
    taskid: 1d786a5b-51a8-41fc-8dd7-e1a88989a787
    type: regular
    task:
      id: 1d786a5b-51a8-41fc-8dd7-e1a88989a787
      version: -1
      name: DeleteContext
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "16"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 695,
          "y": 2295
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "16":
    id: "16"
    taskid: 7fcb84b0-21c2-4c62-8420-9d2e0485c8af
    type: regular
    task:
      id: 7fcb84b0-21c2-4c62-8420-9d2e0485c8af
      version: -1
      name: code42-securitydata-search
      description: Search for a file in Security Data by JSON query, hash, username,
        device hostname, exfiltration type, or a combination of parameters. At least
        one parameter must be passed to the command. If a JSON parameter is passed,
        it will be used to the exclusion of other parameters, otherwise parameters
        will be combined with an AND clause.
      script: Code42|||code42-securitydata-search
      type: regular
      iscommand: true
      brand: Code42
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      exposure: {}
      hash: {}
      hostname: {}
      json:
        simple: ${inputs.search-payload}
      results:
        simple: "100"
      username: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 695,
          "y": 2470
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "17":
    id: "17"
    taskid: 1102b694-f050-40ff-8907-5f0ca833b946
    type: condition
    task:
      id: 1102b694-f050-40ff-8907-5f0ca833b946
      version: -1
      name: Validate code42-securitydata-search
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "18"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: Code42.SecurityData
            iscontext: true
    view: |-
      {
        "position": {
          "x": 695,
          "y": 2645
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "18":
    id: "18"
    taskid: 2218905c-a105-487b-83ab-5473ce13a564
    type: title
    task:
      id: 2218905c-a105-487b-83ab-5473ce13a564
      version: -1
      name: Test Succeeded
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 705,
          "y": 2820
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2835,
        "width": 1035,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: alert-id
  value:
    simple: f484ea0c-9143-46f4-ac0a-ab813264f625
  required: false
  description: Alert ID to test
- key: username
  value:
    simple: partner.demisto@example.com
  required: false
  description: Username for add/remove to Departing Employee Lens
- key: search-payload
  value:
    simple: |-
      {
        "groups": [
          {
            "filterClause": "AND",
            "filters": [
              {
                "display": null,
                "operator": "IS",
                "term": "fileName",
                "value": "*"
              }
            ]
          },
          {
            "filterClause": "AND",
            "filters": [
              {
                "display": null,
                "operator": "WITHIN_THE_LAST",
                "term": "eventTimestamp",
                "value": "P1D"
              }
            ]
          }
        ],
        "pgNum": 1,
        "pgSize": 100,
        "purpose": "USER_EXECUTED_SEARCH"
      }
  required: false
  description: FFS Search Payload
outputs: []
