Packs/GitLab/TestPlaybooks/Test-GitLab-v2.yml
id: Test-GitLab-v2
version: -1
name: Test-GitLab-v2
description: A playbook for GitLabv2 integration.
fromversion: 6.5.0
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 772c4a2c-9b99-43da-830c-e40f6b8f0a56
    type: start
    task:
      id: 772c4a2c-9b99-43da-830c-e40f6b8f0a56
      version: -1
      name: ""
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "86"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 860,
          "y": -4030
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 5155d9eb-bdb8-4d6d-826d-03d8612027cc
    type: regular
    task:
      id: 5155d9eb-bdb8-4d6d-826d-03d8612027cc
      version: -1
      name: gitlab-issue-list
      description: Get a list of a project's issues.
      script: '|||gitlab-issue-list'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      limit:
        simple: "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 860,
          "y": -600
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: aa47615c-38bf-4c39-8734-e507b23187c2
    type: regular
    task:
      id: aa47615c-38bf-4c39-8734-e507b23187c2
      version: -1
      name: issue-update
      description: Updates an existing project issue. This call is also used to mark an issue as closed. The iid can be taken from gitlab-issue-list.
      script: GitLab v2|||gitlab-issue-update
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "9"
    scriptarguments:
      add_labels:
        simple: GitlabLabel5
      description:
        simple: desc after change by playbook
      issue_iid:
        simple: ${GitLab.Issue.iid}
      partial_response:
        simple: "false"
      title:
        simple: whatnu
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 850,
          "y": 200
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: b3c55133-1e21-4f96-80e0-932f374c70ef
    type: condition
    task:
      id: b3c55133-1e21-4f96-80e0-932f374c70ef
      version: -1
      name: VERIFY list
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "41"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.Issue.iid
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 850,
          "y": -430
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: d2f257d7-bc7d-4939-8239-4c3d1c2ca392
    type: condition
    task:
      id: d2f257d7-bc7d-4939-8239-4c3d1c2ca392
      version: -1
      name: VERIFY issue update
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "11"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.Issue.labels
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 850,
          "y": 380
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: 9e421e3c-d5f8-4829-8db9-9569d2d2c0b0
    type: title
    task:
      id: 9e421e3c-d5f8-4829-8db9-9569d2d2c0b0
      version: -1
      name: FIN
      type: title
      iscommand: false
      brand: ""
      description: ''
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 810,
          "y": 7900
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: ed12ccc2-c08c-4d08-8253-27a4d9f0596b
    type: regular
    task:
      id: ed12ccc2-c08c-4d08-8253-27a4d9f0596b
      version: -1
      name: issue-note-create
      description: Creates a new note to a single project issue.
      script: GitLab v2|||gitlab-issue-note-create
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      body:
        simple: I'm a body
      issue_iid:
        simple: ${GitLab.Issue.iid}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 840,
          "y": 630
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: 15976dcc-e8ce-4502-80d6-086327c71439
    type: condition
    task:
      id: 15976dcc-e8ce-4502-80d6-086327c71439
      version: -1
      name: VERIFY issue note create
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "16"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.IssueNote.id
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 840,
          "y": 825
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: 034f7ec6-c693-47c3-8bd9-19e95225b1c1
    type: condition
    task:
      id: 034f7ec6-c693-47c3-8bd9-19e95225b1c1
      version: -1
      name: VERIFY note update
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "24"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.Issue.updated_at
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 830,
          "y": 1750
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: e52b8987-41f0-4614-891c-56692da9931e
    type: regular
    task:
      id: e52b8987-41f0-4614-891c-56692da9931e
      version: -1
      name: issue-note-list
      description: Gets a list of all notes for a single issue.
      script: '|||gitlab-issue-note-list'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      issue_iid:
        simple: ${GitLab.Issue.iid}
      limit:
        simple: "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 830,
          "y": 1280
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: 56ec0c41-72c5-4783-8673-a8a921264a5b
    type: condition
    task:
      id: 56ec0c41-72c5-4783-8673-a8a921264a5b
      version: -1
      name: VERIFY issue note list
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "81"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.IssueNote.id
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 830,
          "y": 1430
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: 8b6a22ed-d28e-4741-88a6-e41091e03344
    type: regular
    task:
      id: 8b6a22ed-d28e-4741-88a6-e41091e03344
      version: -1
      name: Get Version
      description: Retrieve version information for this GitLab instance.
      script: GitLab v2|||gitlab-version-get
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "19"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 840,
          "y": -1000
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: a4089c96-1978-4bc3-87ca-173e084ef4e5
    type: condition
    task:
      id: a4089c96-1978-4bc3-87ca-173e084ef4e5
      version: -1
      name: VERIFY version
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "2"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.Version.version
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.Version.revision
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 840,
          "y": -830
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "20":
    id: "20"
    taskid: cfa7dcd1-f23c-44f1-824f-66b1c52ce0f9
    type: regular
    task:
      id: cfa7dcd1-f23c-44f1-824f-66b1c52ce0f9
      version: -1
      name: list commit
      description: Get a list of repository commits in a project.
      script: GitLab v2|||gitlab-commit-list
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "21"
    scriptarguments:
      limit:
        simple: "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 840,
          "y": -1810
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "21":
    id: "21"
    taskid: cfd34c30-1b3e-4a17-822d-c787c721dd30
    type: condition
    task:
      id: cfd34c30-1b3e-4a17-822d-c787c721dd30
      version: -1
      name: VERIFY commit list
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "22"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.Commit.id
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 840,
          "y": -1620
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "22":
    id: "22"
    taskid: b50ef0a0-210d-4178-8ed4-ebfd1712c91b
    type: regular
    task:
      id: b50ef0a0-210d-4178-8ed4-ebfd1712c91b
      version: -1
      name: 'get commit '
      description: Get a list of repository commits in a project.
      script: GitLab v2|||gitlab-commit-list
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "23"
    scriptarguments:
      commit_id:
        simple: 7d584f46
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 840,
          "y": -1430
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "23":
    id: "23"
    taskid: f9514aa1-941c-4f06-8dbb-366f45bc0235
    type: condition
    task:
      id: f9514aa1-941c-4f06-8dbb-366f45bc0235
      version: -1
      name: VERIFY get commit
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "18"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.Commit.id
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 850,
          "y": -1230
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "24":
    id: "24"
    taskid: 22425883-8647-4aae-8eaf-ae59eb300edd
    type: regular
    task:
      id: 22425883-8647-4aae-8eaf-ae59eb300edd
      version: -1
      name: delete issue-note
      description: Deletes an existing note of an issue.
      script: GitLab v2|||gitlab-issue-note-delete
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "25"
    scriptarguments:
      issue_iid:
        simple: ${GitLab.Issue.iid}
      note_id:
        simple: ${GitLab.IssueNote.id}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 870,
          "y": 1910
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "25":
    id: "25"
    taskid: 64e66385-aa0b-423b-8682-0a53f5b0734b
    type: regular
    task:
      id: 64e66385-aa0b-423b-8682-0a53f5b0734b
      version: -1
      name: branch create
      description: Creates a new branch in the repository.
      script: GitLab v2|||gitlab-branch-create
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "27"
    scriptarguments:
      branch:
        simple: branchToPlaybook
      ref:
        simple: main
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 840,
          "y": 2070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "26":
    id: "26"
    taskid: 58bd8e57-08aa-4c25-893e-c337dd0961e5
    type: regular
    task:
      id: 58bd8e57-08aa-4c25-893e-c337dd0961e5
      version: -1
      name: ' get branch'
      description: Get a list of repository branches from a project, sorted by name alphabetically.
      script: GitLab v2|||gitlab-branch-list
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "28"
    scriptarguments:
      branch_name:
        simple: ${GitLab.Branch.name}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 840,
          "y": 2475
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "27":
    id: "27"
    taskid: c1748bb6-e1ee-47b5-8542-3b1db5b25826
    type: condition
    task:
      id: c1748bb6-e1ee-47b5-8542-3b1db5b25826
      version: -1
      name: VERIFY create-branch
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "26"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.Branch.name
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 840,
          "y": 2255
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "28":
    id: "28"
    taskid: 3dd1992a-68cd-4d1c-8930-94229485b739
    type: condition
    task:
      id: 3dd1992a-68cd-4d1c-8930-94229485b739
      version: -1
      name: VERIFY get branch
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "29"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.Branch.name
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 840,
          "y": 2655
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "29":
    id: "29"
    taskid: 19ce0ff4-107d-4003-831a-496a02c78cd5
    type: regular
    task:
      id: 19ce0ff4-107d-4003-831a-496a02c78cd5
      version: -1
      name: branch delete
      description: Deletes a branch from the repository.
      script: GitLab v2|||gitlab-branch-delete
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "65"
    scriptarguments:
      branch:
        simple: ${GitLab.Branch.name}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 840,
          "y": 2820
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "30":
    id: "30"
    taskid: 9ed71aab-1977-496e-8ebf-ef8ff846f266
    type: regular
    task:
      id: 9ed71aab-1977-496e-8ebf-ef8ff846f266
      version: -1
      name: merge request create
      description: Creates a new merge request.
      script: GitLab v2|||gitlab-merge-request-create
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "31"
    scriptarguments:
      labels:
        simple: hey
      source_branch:
        simple: ${RandomString}
      target_branch:
        simple: main
      title:
        simple: playbook
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 820,
          "y": 3300
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "31":
    id: "31"
    taskid: 93eb3662-862f-40c2-8d62-6a087eaaaa32
    type: condition
    task:
      id: 93eb3662-862f-40c2-8d62-6a087eaaaa32
      version: -1
      name: Verify Create
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "32"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.MergeRequest.id
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 820,
          "y": 3450
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "32":
    id: "32"
    taskid: 67a51341-bd02-4156-89d5-e1f5d8705e0d
    type: regular
    task:
      id: 67a51341-bd02-4156-89d5-e1f5d8705e0d
      version: -1
      name: merge update
      description: Updates an existing merge request. You can change the target branch, title, or even close the MR.
      script: GitLab v2|||gitlab-merge-request-update
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "33"
    scriptarguments:
      add_labels:
        simple: label1
      description:
        simple: descc
      merge_request_id:
        simple: ${GitLab.MergeRequest.iid}
      target_branch:
        simple: main
      title:
        simple: title update
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 840,
          "y": 3720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "33":
    id: "33"
    taskid: 0c363781-e6db-4a55-8cd2-28ffdf2db7f7
    type: condition
    task:
      id: 0c363781-e6db-4a55-8cd2-28ffdf2db7f7
      version: -1
      name: VERIFY merge update
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "66"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.MergeRequest.description
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 810,
          "y": 3860
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "41":
    id: "41"
    taskid: b5cb5a39-ce43-40d5-868c-a2a3e1e13672
    type: regular
    task:
      id: b5cb5a39-ce43-40d5-868c-a2a3e1e13672
      version: -1
      name: issue-create
      description: Create an issue.
      script: GitLab v2|||gitlab-issue-create
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "42"
    scriptarguments:
      description:
        simple: very issue
      partial_response:
        simple: "false"
      title:
        simple: I'm a issue
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 850,
          "y": -210
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "42":
    id: "42"
    taskid: 7c66f113-1440-4f70-833c-caba6f7c3ada
    type: condition
    task:
      id: 7c66f113-1440-4f70-833c-caba6f7c3ada
      version: -1
      name: verify issue
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "6"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.Issue.iid
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 850,
          "y": 10
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "44":
    id: "44"
    taskid: ac0cce78-e257-4880-8802-47732750d85f
    type: regular
    task:
      id: ac0cce78-e257-4880-8802-47732750d85f
      version: -1
      name: group list
      description: Get a list of visible groups for the authenticated user. When accessed without authentication, only public groups are returned. By default, this request returns 20 results at a time because the API results are paginated
      script: GitLab v2|||gitlab-group-list
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "45"
    scriptarguments:
      limit:
        simple: "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 840,
          "y": -2970
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "45":
    id: "45"
    taskid: 8b5e9562-5ea2-4f39-87a5-7d2165e37529
    type: condition
    task:
      id: 8b5e9562-5ea2-4f39-87a5-7d2165e37529
      version: -1
      name: VERIFY group list
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "46"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.Group.id
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 850,
          "y": -2790
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "46":
    id: "46"
    taskid: c171a576-eefe-4881-8e98-cb6dd08dfde7
    type: regular
    task:
      id: c171a576-eefe-4881-8e98-cb6dd08dfde7
      version: -1
      name: group member
      description: Gets a list of group or project members viewable by the authenticated user.
      script: GitLab v2|||gitlab-group-member-list
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "47"
    scriptarguments:
      group_id:
        simple: "58584155"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 840,
          "y": -2580
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "47":
    id: "47"
    taskid: f4a60cfa-2983-48c8-8619-95080172d6ee
    type: condition
    task:
      id: f4a60cfa-2983-48c8-8619-95080172d6ee
      version: -1
      name: VERIFY group member list
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "48"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.Group.id
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 840,
          "y": -2400
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "48":
    id: "48"
    taskid: f7e9e49e-3d0b-4ac9-8716-dbe1f71b4f98
    type: regular
    task:
      id: f7e9e49e-3d0b-4ac9-8716-dbe1f71b4f98
      version: -1
      name: project list
      description: Get a list of all visible projects across GitLab for the authenticated user. When accessed without authentication, only public projects with simple fields are returned.
      script: GitLab v2|||gitlab-project-list
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "49"
    scriptarguments:
      limit:
        simple: "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 830,
          "y": -2210
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "49":
    id: "49"
    taskid: 086ae812-9299-4166-8e8c-c336265a0959
    type: condition
    task:
      id: 086ae812-9299-4166-8e8c-c336265a0959
      version: -1
      name: VERIFY project list
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "20"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.Project.id
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 840,
          "y": -2010
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "50":
    id: "50"
    taskid: b0c126d7-f8d1-47e9-867d-a336f43e1873
    type: regular
    task:
      id: b0c126d7-f8d1-47e9-867d-a336f43e1873
      version: -1
      name: group project list
      description: Get the list of projects of a given group.
      script: GitLab v2|||gitlab-group-project-list
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "61"
    scriptarguments:
      group_id:
        simple: "58584155"
      limit:
        simple: "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 840,
          "y": -3390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "53":
    id: "53"
    taskid: 800c3420-e2ff-4b5d-862f-41d3bfaf2bf5
    type: regular
    task:
      id: 800c3420-e2ff-4b5d-862f-41d3bfaf2bf5
      version: -1
      name: generate string
      description: Generates random string
      scriptName: GenerateRandomString
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "30"
    scriptarguments:
      Digits:
        simple: "False"
      Length:
        simple: "5"
      Lowercase:
        simple: "True"
      Punctuation:
        simple: "False"
      Uppercase:
        simple: "False"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 830,
          "y": 3130
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "61":
    id: "61"
    taskid: 941b1d97-dc9b-4474-8d4d-a305886342c9
    type: condition
    task:
      id: 941b1d97-dc9b-4474-8d4d-a305886342c9
      version: -1
      name: VERIFY group project
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "44"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.GroupProject.id
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 840,
          "y": -3170
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "62":
    id: "62"
    taskid: 61229892-41ca-4da5-87d8-df832c1726a4
    type: regular
    task:
      id: 61229892-41ca-4da5-87d8-df832c1726a4
      version: -1
      name: File get
      description: Allows to receive information about file in repository like name, size, content.
      script: GitLab v2|||gitlab-file-get
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "74"
    scriptarguments:
      file_path:
        simple: ./CheckFileCommand
      ref:
        simple: main
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 820,
          "y": 6090
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "64":
    id: "64"
    taskid: 78ae73ad-e65e-4940-8efe-31ba1bd6f3d6
    type: regular
    task:
      id: 78ae73ad-e65e-4940-8efe-31ba1bd6f3d6
      version: -1
      name: Get raw file
      description: Get file the file in a raw format.
      script: GitLab v2|||gitlab-raw-file-get
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "88"
    scriptarguments:
      file_path:
        simple: ./CheckFileCommand
      ref:
        simple: main
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 810,
          "y": 5695
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "65":
    id: "65"
    taskid: 17fffa78-f292-455f-8e30-b63b75591f0a
    type: regular
    task:
      id: 17fffa78-f292-455f-8e30-b63b75591f0a
      version: -1
      name: Delete context
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "53"
    scriptarguments:
      all:
        simple: "yes"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 840,
          "y": 2980
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "66":
    id: "66"
    taskid: 292d8278-8527-4dec-893f-bf169c1fce24
    type: regular
    task:
      id: 292d8278-8527-4dec-893f-bf169c1fce24
      version: -1
      name: merge request note create
      description: Creates a new note for a single merge request.
      script: GitLab v2|||gitlab-merge-request-note-create
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "67"
    scriptarguments:
      body:
        simple: ${RandomString}
      merge_request_iid:
        simple: ${GitLab.MergeRequest.iid}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 810,
          "y": 4040
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "67":
    id: "67"
    taskid: 4d53bfa3-0b3a-451d-895c-d520e9a72960
    type: condition
    task:
      id: 4d53bfa3-0b3a-451d-895c-d520e9a72960
      version: -1
      name: 'VERIFY merge request note create '
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "68"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.MergeRequestNote.id
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 810,
          "y": 4210
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "68":
    id: "68"
    taskid: d4400891-104c-4802-8f43-f7f13fd772e3
    type: regular
    task:
      id: d4400891-104c-4802-8f43-f7f13fd772e3
      version: -1
      name: 'merge request note update '
      description: Modify existing note of a merge request.
      script: GitLab v2|||gitlab-merge-request-note-update
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "78"
    scriptarguments:
      body:
        simple: update from playbook
      merge_request_iid:
        simple: ${GitLab.MergeRequest.iid}
      note_id:
        simple: ${GitLab.MergeRequestNote.id}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 820,
          "y": 4620
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "69":
    id: "69"
    taskid: 23032100-d24a-4165-8501-1345dbe96673
    type: regular
    task:
      id: 23032100-d24a-4165-8501-1345dbe96673
      version: -1
      name: 'merge request note delete '
      description: Deletes an existing note of a merge request.
      script: GitLab v2|||gitlab-merge-request-note-delete
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "64"
    scriptarguments:
      merge_request_iid:
        simple: ${GitLab.MergeRequest.iid}
      note_id:
        simple: ${GitLab.MergeRequestNote.id}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 810,
          "y": 5510
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "70":
    id: "70"
    taskid: 6b0be0b8-f78f-4256-8c4c-1c0a3a06019e
    type: regular
    task:
      id: 6b0be0b8-f78f-4256-8c4c-1c0a3a06019e
      version: -1
      name: merge request note list
      description: Gets a list of all notes for a single merge request.
      script: GitLab v2|||gitlab-merge-request-note-list
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "71"
    scriptarguments:
      limit:
        simple: "1"
      merge_request_iid:
        simple: ${GitLab.MergeRequest.iid}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 820,
          "y": 5030
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "71":
    id: "71"
    taskid: 78e6a2cf-c9b4-4f60-8c5c-78847523bbd8
    type: condition
    task:
      id: 78e6a2cf-c9b4-4f60-8c5c-78847523bbd8
      version: -1
      name: VERIFY merge request note list
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "69"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.MergeRequestNote.id
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 810,
          "y": 5290
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "72":
    id: "72"
    taskid: 0ec8cfff-179d-419a-8f9a-5a1fc790d2e2
    type: regular
    task:
      id: 0ec8cfff-179d-419a-8f9a-5a1fc790d2e2
      version: -1
      name: file update
      description: Editing existing file in repository.
      script: GitLab v2|||gitlab-file-update
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "73"
    scriptarguments:
      author_name:
        simple: myname
      branch:
        simple: TestFileCommandsForPlaybook
      commit_message:
        simple: update attempt
      file_content:
        simple: I've been updated
      file_path:
        simple: ${RandomString}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 800,
          "y": 6830
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "73":
    id: "73"
    taskid: 2cfbec52-9caa-4f6b-829f-58b29e9eec79
    type: condition
    task:
      id: 2cfbec52-9caa-4f6b-829f-58b29e9eec79
      version: -1
      name: VERIFY update file
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "77"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.File.file_path
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 800,
          "y": 7050
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "74":
    id: "74"
    taskid: 517f97b5-0408-46c4-8dbf-37b153fa235f
    type: condition
    task:
      id: 517f97b5-0408-46c4-8dbf-37b153fa235f
      version: -1
      name: VERIFY file get
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "75"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.File.file_path
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 820,
          "y": 6295
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "75":
    id: "75"
    taskid: efbf54ab-542e-48cc-8ebd-4ea582f9ef14
    type: regular
    task:
      id: efbf54ab-542e-48cc-8ebd-4ea582f9ef14
      version: -1
      name: file-create
      description: This allows you to create a single file. File path or entry_id must be specified.
      script: GitLab v2|||gitlab-file-create
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "76"
    scriptarguments:
      author_name:
        simple: playbook
      branch:
        simple: TestFileCommandsForPlaybook
      commit_message:
        simple: addingFileViaplaybook
      file_content:
        simple: IAmContent
      file_path:
        simple: ${RandomString}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 810,
          "y": 6470
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "76":
    id: "76"
    taskid: e3b17a82-e88c-4fe8-8f44-4fccbdb43a80
    type: condition
    task:
      id: e3b17a82-e88c-4fe8-8f44-4fccbdb43a80
      version: -1
      name: VERIFY  file create
      description: This allows you to create a single file. File path or entry_id must be specified.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "72"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.File.file_path
            iscontext: true
          right:
            value: {}
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.File.branch
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 800,
          "y": 6650
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "77":
    id: "77"
    taskid: 333a7005-8e04-496f-8661-6f74d84b2f77
    type: regular
    task:
      id: 333a7005-8e04-496f-8661-6f74d84b2f77
      version: -1
      name: file delete
      description: Editing existing file in repository.
      script: GitLab v2|||gitlab-file-delete
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "84"
    scriptarguments:
      branch:
        simple: TestFileCommandsForPlaybook
      commit_message:
        simple: delete file via playbook
      file_path:
        simple: ${RandomString}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 810,
          "y": 7290
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "78":
    id: "78"
    taskid: 809c5460-58f9-418e-827f-489f53ef2cae
    type: condition
    task:
      id: 809c5460-58f9-418e-827f-489f53ef2cae
      version: -1
      name: VERIFY merge note update
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "70"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.MergeRequestNote.id
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 830,
          "y": 4810
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "81":
    id: "81"
    taskid: fe154548-e13c-4cfe-89c0-1c47994605af
    type: regular
    task:
      id: fe154548-e13c-4cfe-89c0-1c47994605af
      version: -1
      name: issue note update
      description: Modify existing note of an issue.
      script: GitLab v2|||gitlab-issue-note-update
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "14"
    scriptarguments:
      body:
        simple: changeed
      issue_iid:
        simple: ${GitLab.Issue.iid}
      note_id:
        simple: ${GitLab.IssueNote.id}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 830,
          "y": 1620
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "84":
    id: "84"
    taskid: 43ac7937-ad6b-4087-8375-51202657acfa
    type: regular
    task:
      id: 43ac7937-ad6b-4087-8375-51202657acfa
      version: -1
      name: Code search
      description: Using Scope blobs. Blobs searches are performed on both filenames and contents.
      script: GitLab v2|||gitlab-code-search
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "85"
    scriptarguments:
      search:
        simple: Friends
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 810,
          "y": 7480
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "85":
    id: "85"
    taskid: 6c55f7b0-c23e-4a0d-8b33-eee8f7d8f65d
    type: condition
    task:
      id: 6c55f7b0-c23e-4a0d-8b33-eee8f7d8f65d
      version: -1
      name: VERIFY code search
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "10"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.Code.ref
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 810,
          "y": 7670
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "86":
    id: "86"
    taskid: e6e3a714-8d56-4e2c-8f7a-6edf23119a25
    type: regular
    task:
      id: e6e3a714-8d56-4e2c-8f7a-6edf23119a25
      version: -1
      name: list users
      description: Get the users list of a project.
      script: GitLab v2|||gitlab-project-user-list
      type: regular
      iscommand: true
      brand: GitLab v2
    nexttasks:
      '#none#':
      - "87"
    scriptarguments:
      limit:
        simple: "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 860,
          "y": -3800
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "87":
    id: "87"
    taskid: 2a59c7a0-d84d-4ad9-8792-72de2822a353
    type: condition
    task:
      id: 2a59c7a0-d84d-4ad9-8792-72de2822a353
      version: -1
      name: VERIFY project user
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "50"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.User.id
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 860,
          "y": -3620
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "88":
    id: "88"
    taskid: e3174fbd-bfdc-492f-8fad-afb1bdc05d66
    type: condition
    task:
      id: e3174fbd-bfdc-492f-8fad-afb1bdc05d66
      version: -1
      name: VERIFY raw file get
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "62"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: GitLab.File.content
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 810,
          "y": 5870
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {
      "9_11_yes": 0.73
    },
    "paper": {
      "dimensions": {
        "height": 11995,
        "width": 450,
        "x": 800,
        "y": -4030
      }
    }
  }
inputs: []
outputs: []
marketplaces:
- xsoar

