Packs/SentinelOne/TestPlaybooks/playbook-SentinelOne_2_1-test.yml
id: SentinelOne V2.1 - Test
version: 4
vcShouldKeepItemLegacyProdMachine: false
name: SentinelOne V2.1 - Test
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: a6b3a445-175b-43ec-8d26-e486d4b2fb52
    type: start
    task:
      id: a6b3a445-175b-43ec-8d26-e486d4b2fb52
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: f06db67d-d849-4673-81fc-048af4a2fb1f
    type: regular
    task:
      id: f06db67d-d849-4673-81fc-048af4a2fb1f
      version: -1
      name: Delete Context
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "39"
    scriptarguments:
      all:
        simple: "yes"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 1172965f-591a-4ce0-8e08-63b2524d38cc
    type: regular
    task:
      id: 1172965f-591a-4ce0-8e08-63b2524d38cc
      version: -1
      name: Get Threats
      description: Get threats using a variety of filters.
      script: '|||sentinelone-get-threats'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "37"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: d3a9a50b-da2e-42fc-8d88-92e99f0a35be
    type: regular
    task:
      id: d3a9a50b-da2e-42fc-8d88-92e99f0a35be
      version: -1
      name: Get Activities
      description: Get a list of activities.
      script: '|||sentinelone-get-activities'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "21"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2820
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 1cfdf87e-6107-403f-83d4-08f5bc4ea37c
    type: regular
    task:
      id: 1cfdf87e-6107-403f-83d4-08f5bc4ea37c
      version: -1
      name: Get All agents
      description: List all agents matching the input filter.
      script: '|||sentinelone-list-agents'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 4890
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: eeabb28e-7a00-4225-82f3-ad36ca705c7f
    type: regular
    task:
      id: eeabb28e-7a00-4225-82f3-ad36ca705c7f
      version: -1
      name: Get Agent
      description: Get details of an agent by its ID.
      script: '|||sentinelone-get-agent'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "10"
    scriptarguments:
      agent_id:
        complex:
          root: SentinelOne.Agents
          accessor: ID
          transformers:
          - operator: FirstArrayElement
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 5065
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: 226d7429-30ae-4784-82f9-a86dcee2e6f1
    type: regular
    task:
      id: 226d7429-30ae-4784-82f9-a86dcee2e6f1
      version: -1
      name: Get all groups
      description: Gets the group data.
      script: '|||sentinelone-get-groups'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "44"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3870
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 248280a7-5209-4ffd-8c41-f614dfb736c9
    type: regular
    task:
      id: 248280a7-5209-4ffd-8c41-f614dfb736c9
      version: -1
      name: Get threat summary
      description: Get dashboard threat summary.
      script: '|||sentinelone-threat-summary'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "47"
    scriptarguments:
      group_ids:
        simple: ${SentinelOne.Group.id}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1595
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: 70462335-5d02-46bd-80da-eeceb818fcdf
    type: regular
    task:
      id: 70462335-5d02-46bd-80da-eeceb818fcdf
      version: -1
      name: Disconnect agent from network
      description: Disconnect agents from network
      script: '|||sentinelone-disconnect-agent'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "72"
    scriptarguments:
      agent_id:
        simple: ${SentinelOne.Agent.ID}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 5240
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: f037154e-bb9b-4a34-8c21-30221040a82c
    type: regular
    task:
      id: f037154e-bb9b-4a34-8c21-30221040a82c
      version: -1
      name: Broadcast Message
      description: Broadcasts a message to all agents matching the input filter.
      script: '|||sentinelone-broadcast-message'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      agent_id:
        simple: "657613730168123595"
      message:
        simple: Hey There, just checking
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 6465
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: 6615fecd-a51c-478e-85a9-0608b452b277
    type: regular
    task:
      id: 6615fecd-a51c-478e-85a9-0608b452b277
      version: -1
      name: Create Query ID
      description: Start a Deep Visibility Query and get the queryId, use queryId
        for all other APIs such as Get All Events
      script: '|||sentinelone-create-query'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "29"
    scriptarguments:
      from_date:
        complex:
          root: TimeNow
          transformers:
          - operator: ModifyDateTime
            args:
              variation:
                value:
                  simple: 13 days ago
      query:
        simple: AgentName Is Not Empty
      to_date:
        complex:
          root: TimeNow
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2120
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: e1bf8a5c-f908-409c-816e-9889b8f73b02
    type: regular
    task:
      id: e1bf8a5c-f908-409c-816e-9889b8f73b02
      version: -1
      name: Get events
      description: Get all Deep Visibility events from query
      script: '|||sentinelone-get-events'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      limit:
        simple: "10"
      query_id:
        simple: ${SentinelOne.Query.QueryID}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2645
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: ce4c14ef-b06c-48d4-8e88-6f8723485cf8
    type: regular
    task:
      id: ce4c14ef-b06c-48d4-8e88-6f8723485cf8
      version: -1
      name: Get agent activities
      description: Returns a list of activities.
      script: '|||sentinelone-get-activities'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "52"
    scriptarguments:
      agent_ids:
        simple: "1559342436290084702"
      limit:
        simple: "10"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 6640
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "21":
    id: "21"
    taskid: 47c75b6e-782c-4490-8be9-fb8fec0fec32
    type: condition
    task:
      id: 47c75b6e-782c-4490-8be9-fb8fec0fec32
      version: -1
      name: Verify outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "40"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: SentinelOne.Activity.ID
            iscontext: true
      - - operator: isExists
          left:
            value:
              simple: SentinelOne.Activity.ActivityType
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2995
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "24":
    id: "24"
    taskid: b0eede4b-1e53-499a-8dc1-b19d3045e0e8
    type: condition
    task:
      id: b0eede4b-1e53-499a-8dc1-b19d3045e0e8
      version: -1
      name: 'Is the agent disconnected? '
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "25"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: SentinelOne.Agent.NetworkStatus
            iscontext: true
          right:
            value:
              simple: disconnecting
        - operator: isEqualString
          left:
            value:
              simple: SentinelOne.Agent.NetworkStatus
            iscontext: true
          right:
            value:
              simple: disconnected
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 5590
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "25":
    id: "25"
    taskid: 6c58c1e9-6a63-4fbb-8530-dad70837a76d
    type: regular
    task:
      id: 6c58c1e9-6a63-4fbb-8530-dad70837a76d
      version: -1
      name: Connect agent to network
      description: Connects agents to network.
      script: '|||sentinelone-connect-agent'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "31"
    scriptarguments:
      agent_id:
        simple: ${SentinelOne.Agent.ID}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 5765
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "27":
    id: "27"
    taskid: 63b3c645-3693-498f-889f-cf06af54699f
    type: condition
    task:
      id: 63b3c645-3693-498f-889f-cf06af54699f
      version: -1
      name: 'Is the agent reconnect? '
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "12"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: SentinelOne.Agent.NetworkStatus
            iscontext: true
          right:
            value:
              simple: connected
        - operator: isEqualString
          left:
            value:
              simple: SentinelOne.Agent.NetworkStatus
            iscontext: true
          right:
            value:
              simple: connecting
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 6290
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "29":
    id: "29"
    taskid: b003aeee-0f9b-40de-846e-100331073278
    type: condition
    task:
      id: b003aeee-0f9b-40de-846e-100331073278
      version: -1
      name: Verify Context
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "30"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: SentinelOne.Query.QueryID
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2295
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "30":
    id: "30"
    taskid: 093d876a-e542-495d-83e2-801c84d31ce9
    type: regular
    task:
      id: 093d876a-e542-495d-83e2-801c84d31ce9
      version: -1
      name: Wait
      description: Sleep for X seconds
      scriptName: Sleep
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "14"
    scriptarguments:
      seconds:
        simple: "30"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2470
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "31":
    id: "31"
    taskid: 4e221a23-7aa5-43b0-845e-7ad1b60d4df1
    type: regular
    task:
      id: 4e221a23-7aa5-43b0-845e-7ad1b60d4df1
      version: -1
      name: Wait
      description: Sleep for X seconds
      scriptName: Sleep
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "73"
    scriptarguments:
      seconds:
        simple: "30"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 5940
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "32":
    id: "32"
    taskid: 1e960585-6ab9-45a6-8c0a-1ac547e2222e
    type: regular
    task:
      id: 1e960585-6ab9-45a6-8c0a-1ac547e2222e
      version: -1
      name: Set Date
      description: |
        Retrieves the current date and time.
      scriptName: GetTime
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      dateFormat:
        simple: ISO
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1945
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "33":
    id: "33"
    taskid: 5a7fd192-a106-48fd-84cb-9ad42ebe792b
    type: regular
    task:
      id: 5a7fd192-a106-48fd-84cb-9ad42ebe792b
      version: -1
      name: Get all sites
      description: Returns all sites that match the specified criteria.
      script: '|||sentinelone-get-sites'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "34"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 4220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "34":
    id: "34"
    taskid: 548c35f4-cf2e-41b5-8ccc-b11b8b6ba58d
    type: regular
    task:
      id: 548c35f4-cf2e-41b5-8ccc-b11b8b6ba58d
      version: -1
      name: Get Site
      description: Returns a site, by site ID.
      script: '|||sentinelone-get-site'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "36"
    scriptarguments:
      site_id:
        complex:
          root: SentinelOne.Site
          accessor: ID
          transformers:
          - operator: FirstArrayElement
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 4395
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "36":
    id: "36"
    taskid: 8223ae40-72e6-4405-8fd5-0758c13a6cf5
    type: condition
    task:
      id: 8223ae40-72e6-4405-8fd5-0758c13a6cf5
      version: -1
      name: Verify result
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "46"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: SentinelOne.Site.ID
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 4570
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "37":
    id: "37"
    taskid: 997449ae-c84e-4e2c-8397-dab7ff8bb0c5
    type: condition
    task:
      id: 997449ae-c84e-4e2c-8397-dab7ff8bb0c5
      version: -1
      name: Verify Results
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "54"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: SentinelOne.Threat
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "38":
    id: "38"
    taskid: 3cc8814e-0de4-4e87-8937-851a8066a1c6
    type: title
    task:
      id: 3cc8814e-0de4-4e87-8937-851a8066a1c6
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 9845
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "39":
    id: "39"
    taskid: b196304e-90e1-4c2a-8fb6-7994113d0af1
    type: regular
    task:
      id: b196304e-90e1-4c2a-8fb6-7994113d0af1
      version: -1
      name: Delete Threat from Context
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      key:
        simple: SentinelOne.Threat
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "40":
    id: "40"
    taskid: bdfc0f30-37f1-4709-8942-fb67f68b8f2e
    type: regular
    task:
      id: bdfc0f30-37f1-4709-8942-fb67f68b8f2e
      version: -1
      name: Get Hash
      description: Get file reputation by a SHA1 hash.
      script: '|||sentinelone-get-hash'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "41"
    scriptarguments:
      hash:
        simple: 3395856ce81f2b7382dee72602f798b642f14140
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3170
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "41":
    id: "41"
    taskid: b90c7d1b-c201-4f9a-8548-46ea3591db02
    type: condition
    task:
      id: b90c7d1b-c201-4f9a-8548-46ea3591db02
      version: -1
      name: Verify outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "42"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: SentinelOne.Hash.Rank
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3345
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "42":
    id: "42"
    taskid: fa56023a-7e7d-404b-82c4-df32984960df
    type: regular
    task:
      id: fa56023a-7e7d-404b-82c4-df32984960df
      version: -1
      name: Get Exclusions
      description: Lists all exclusion items that match the specified input filter.
      script: '|||sentinelone-get-white-list'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "43"
    scriptarguments:
      exclusion_type:
        simple: path
      include_children:
        simple: "true"
      os_types:
        simple: windows
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3520
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "43":
    id: "43"
    taskid: 69720869-7bee-4c72-8973-64588586c522
    type: condition
    task:
      id: 69720869-7bee-4c72-8973-64588586c522
      version: -1
      name: Verify outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "7"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: SentinelOne.Exclusions.Value
            iscontext: true
          right:
            value:
              simple: '*/test/'
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3695
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "44":
    id: "44"
    taskid: 02617b33-c4d2-4db6-833c-bf5614fed4ca
    type: condition
    task:
      id: 02617b33-c4d2-4db6-833c-bf5614fed4ca
      version: -1
      name: Verify outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "33"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: SentinelOne.Group.id
            iscontext: true
          right:
            value:
              simple: "1579682244324084899"
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 4045
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "45":
    id: "45"
    taskid: 0cf99fd1-d864-40d3-89d5-e70e42bc4590
    type: title
    task:
      id: 0cf99fd1-d864-40d3-89d5-e70e42bc4590
      version: -1
      name: Agents Done
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "59"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 7165
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "46":
    id: "46"
    taskid: 00ef95cb-8bf8-4e42-80e1-73b7315648e5
    type: title
    task:
      id: 00ef95cb-8bf8-4e42-80e1-73b7315648e5
      version: -1
      name: Agents
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 4745
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "47":
    id: "47"
    taskid: 0136470b-2240-47ad-899e-ad21096b31fa
    type: condition
    task:
      id: 0136470b-2240-47ad-899e-ad21096b31fa
      version: -1
      name: Verify Results
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "32"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: SentinelOne.Threat.Total
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1770
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "52":
    id: "52"
    taskid: 9b8c4eef-cd70-43c8-8366-c1d4e45ecc19
    type: regular
    task:
      id: 9b8c4eef-cd70-43c8-8366-c1d4e45ecc19
      version: -1
      name: Get installed applications
      description: Get the installed applications for a specific Agent.
      script: SentinelOne V2|||sentinelone-get-installed-applications
      type: regular
      iscommand: true
      brand: SentinelOne V2
    nexttasks:
      '#none#':
      - "53"
    scriptarguments:
      agent_ids:
        complex:
          root: SentinelOne.Agents
          accessor: ID
          transformers:
          - operator: FirstArrayElement
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 6815
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "53":
    id: "53"
    taskid: 7dc2a1a0-4711-4e06-87e0-207d49b44687
    type: regular
    task:
      id: 7dc2a1a0-4711-4e06-87e0-207d49b44687
      version: -1
      name: Initiate endpoint scan
      description: Initiate the endpoint virus scan on provided agent IDs
      script: SentinelOne V2|||sentinelone-initiate-endpoint-scan
      type: regular
      iscommand: true
      brand: SentinelOne V2
    nexttasks:
      '#none#':
      - "45"
    scriptarguments:
      agent_ids:
        complex:
          root: SentinelOne.Agents
          accessor: ID
          transformers:
          - operator: FirstArrayElement
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 6990
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "54":
    id: "54"
    taskid: 0fe5bb27-3f28-48f0-8866-1a78c2593226
    type: regular
    task:
      id: 0fe5bb27-3f28-48f0-8866-1a78c2593226
      version: -1
      name: Update threat status
      description: Updates the incident status to a group of threats that match the
        specified input filter. Relevant for API version 2.1
      script: SentinelOne V2|||sentinelone-update-threats-status
      type: regular
      iscommand: true
      brand: SentinelOne V2
    nexttasks:
      '#none#':
      - "55"
    scriptarguments:
      status:
        simple: in_progress
      threat_ids:
        complex:
          root: SentinelOne.Threat
          accessor: ID
          transformers:
          - operator: FirstArrayElement
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "55":
    id: "55"
    taskid: 192ab9c4-0a83-418b-8013-d79e0227c631
    type: regular
    task:
      id: 192ab9c4-0a83-418b-8013-d79e0227c631
      version: -1
      name: Update threats verdict
      description: Updates the analyst verdict to a group of threats that match the
        specified input filter. Relevant for API version 2.1
      script: SentinelOne V2|||sentinelone-update-threats-verdict
      type: regular
      iscommand: true
      brand: SentinelOne V2
    nexttasks:
      '#none#':
      - "56"
    scriptarguments:
      threat_ids:
        complex:
          root: SentinelOne.Threat
          accessor: ID
          transformers:
          - operator: LastArrayElement
      verdict:
        simple: true_positive
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "56":
    id: "56"
    taskid: e8f697a8-e22c-4025-8c66-7b2f02d811e3
    type: regular
    task:
      id: e8f697a8-e22c-4025-8c66-7b2f02d811e3
      version: -1
      name: Write threat note
      description: Add a threat note to one or more threats. Relevant for API version
        2.1
      script: SentinelOne V2|||sentinelone-write-threat-note
      type: regular
      iscommand: true
      brand: SentinelOne V2
    nexttasks:
      '#none#':
      - "57"
    scriptarguments:
      note:
        simple: a xsoar test
      threat_ids:
        complex:
          root: SentinelOne.Threat
          accessor: ID
          transformers:
          - operator: LastArrayElement
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1245
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "57":
    id: "57"
    taskid: a9326a18-33d9-472e-8bea-b589862a44a4
    type: regular
    task:
      id: a9326a18-33d9-472e-8bea-b589862a44a4
      version: -1
      name: Fetch threat file
      description: Fetch a file associated with the threat that matches the filter.
      script: SentinelOne V2|||sentinelone-fetch-threat-file
      type: regular
      iscommand: true
      brand: SentinelOne V2
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      password:
        simple: Mysecret@123
      threat_id:
        complex:
          root: SentinelOne.Threat
          accessor: ID
          transformers:
          - operator: LastArrayElement
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1420
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "59":
    id: "59"
    taskid: 2996102b-8394-453d-87eb-98db33123a59
    type: title
    task:
      id: 2996102b-8394-453d-87eb-98db33123a59
      version: -1
      name: Alerts
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "60"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 7310
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "60":
    id: "60"
    taskid: 540cb548-bab8-423e-8e0a-1c6f25fe359f
    type: regular
    task:
      id: 540cb548-bab8-423e-8e0a-1c6f25fe359f
      version: -1
      name: Get alerts
      description: Get the list of alerts that matches the filter provided. Relevant
        for API version 2.1
      script: SentinelOne V2|||sentinelone-get-alerts
      type: regular
      iscommand: true
      brand: SentinelOne V2
    nexttasks:
      '#none#':
      - "61"
    scriptarguments:
      created_from:
        complex:
          root: TimeNow
          transformers:
          - operator: ModifyDateTime
            args:
              variation:
                value:
                  simple: 13 days ago
      created_until:
        complex:
          root: TimeNow
      limit:
        simple: "10"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 7455
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "61":
    id: "61"
    taskid: 14d9a515-0eaf-44ad-88e8-e97925073d48
    type: regular
    task:
      id: 14d9a515-0eaf-44ad-88e8-e97925073d48
      version: -1
      name: Update alert status
      description: Updates the incident status to a group of alerts that match the
        specified input filter. Relevant for API version 2.1
      script: SentinelOne V2|||sentinelone-update-alerts-status
      type: regular
      iscommand: true
      brand: SentinelOne V2
    nexttasks:
      '#none#':
      - "62"
    scriptarguments:
      alert_ids:
        complex:
          root: SentinelOne.Alert
          accessor: AlertId
          transformers:
          - operator: FirstArrayElement
      status:
        simple: in_progress
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 7630
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "62":
    id: "62"
    taskid: 33e530ea-04e5-4a69-8c8f-2515bd422204
    type: regular
    task:
      id: 33e530ea-04e5-4a69-8c8f-2515bd422204
      version: -1
      name: Update alert verdict
      description: Updates the analyst verdict to a group of alerts that match the
        specified input filter. Relevant for API version 2.1
      script: SentinelOne V2|||sentinelone-update-alerts-verdict
      type: regular
      iscommand: true
      brand: SentinelOne V2
    nexttasks:
      '#none#':
      - "63"
    scriptarguments:
      alert_ids:
        complex:
          root: SentinelOne.Alert
          accessor: AlertId
          transformers:
          - operator: FirstArrayElement
      verdict:
        simple: true_positive
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 7805
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "63":
    id: "63"
    taskid: a8e66ce5-bc60-4b20-830a-c1376c9e23b7
    type: title
    task:
      id: a8e66ce5-bc60-4b20-830a-c1376c9e23b7
      version: -1
      name: Star rules
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "64"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 7980
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "64":
    id: "64"
    taskid: 5606d1cc-29f9-4c77-8ab6-9c63826a99d1
    type: regular
    task:
      id: 5606d1cc-29f9-4c77-8ab6-9c63826a99d1
      version: -1
      name: Get star rules
      description: Get a list of Custom Detection Rules for a given scope. Relevant
        for API version 2.1
      script: SentinelOne V2|||sentinelone-get-star-rules
      type: regular
      iscommand: true
      brand: SentinelOne V2
    nexttasks:
      '#none#':
      - "74"
    scriptarguments:
      limit:
        simple: "10"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 8125
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "65":
    id: "65"
    taskid: 166e9007-b3ec-4bc7-80fe-8d551e617469
    type: regular
    task:
      id: 166e9007-b3ec-4bc7-80fe-8d551e617469
      version: -1
      name: Create star rule
      description: Creates a custom STAR rule. Relevant for API version 2.1
      script: SentinelOne V2|||sentinelone-create-star-rule
      type: regular
      iscommand: true
      brand: SentinelOne V2
    nexttasks:
      '#none#':
      - "66"
    scriptarguments:
      expiration_mode:
        simple: Permanent
      name:
        simple: test_rule
      network_quarantine:
        simple: "false"
      query:
        simple: SrcProcImagePath CONTAINS anycase "windows"
      query_type:
        simple: events
      rule_severity:
        simple: High
      site_ids:
        complex:
          root: SentinelOne.Site
          accessor: ID
          transformers:
          - operator: LastArrayElement
      treatAsThreat:
        simple: UNDEFINED
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 8650
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "66":
    id: "66"
    taskid: 4398bb70-3e60-4fa8-8fea-a730a3f29d7d
    type: regular
    task:
      id: 4398bb70-3e60-4fa8-8fea-a730a3f29d7d
      version: -1
      name: Update star rule
      description: Updates a custom STAR rule. Relevant for API version 2.1
      script: SentinelOne V2|||sentinelone-update-star-rule
      type: regular
      iscommand: true
      brand: SentinelOne V2
    nexttasks:
      '#none#':
      - "67"
    scriptarguments:
      expiration_mode:
        simple: Permanent
      name:
        simple: test_rule_updated
      network_quarantine:
        simple: "false"
      query:
        simple: SrcProcImagePath CONTAINS anycase "windows"
      query_type:
        simple: events
      rule_id:
        simple: ${SentinelOne.StarRule(val.Name=='test_rule').ID}
      rule_severity:
        simple: High
      site_ids:
        complex:
          root: SentinelOne.Site
          accessor: ID
          transformers:
          - operator: LastArrayElement
      treatAsThreat:
        simple: UNDEFINED
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 8825
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "67":
    id: "67"
    taskid: d0e531ec-8ead-4059-8906-701a22f88b38
    type: regular
    task:
      id: d0e531ec-8ead-4059-8906-701a22f88b38
      version: -1
      name: Disable star rule
      description: Disable Custom Detection Rules that match the specified input filter.
        Relevant for API version 2.1
      script: SentinelOne V2|||sentinelone-disable-star-rules
      type: regular
      iscommand: true
      brand: SentinelOne V2
    nexttasks:
      '#none#':
      - "68"
    scriptarguments:
      rule_ids:
        simple: ${SentinelOne.StarRule(val.Name=='test_rule_updated').ID}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 9000
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "68":
    id: "68"
    taskid: 697f94d8-5941-4793-80ce-6be55c91efc7
    type: regular
    task:
      id: 697f94d8-5941-4793-80ce-6be55c91efc7
      version: -1
      name: Enable star rule
      description: Activate Custom Detection Rules that match the specified input
        filter. Relevant for API version 2.1
      script: SentinelOne V2|||sentinelone-enable-star-rules
      type: regular
      iscommand: true
      brand: SentinelOne V2
    nexttasks:
      '#none#':
      - "69"
    scriptarguments:
      rule_ids:
        simple: ${SentinelOne.StarRule(val.Name=='test_rule_updated').ID}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 9175
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "69":
    id: "69"
    taskid: eef9b8d2-331c-4030-8e93-0bc99fb8cb35
    type: regular
    task:
      id: eef9b8d2-331c-4030-8e93-0bc99fb8cb35
      version: -1
      name: Delete star rule
      description: Deletes Custom Detection Rules that match the specified input filter.
        Relevant for API version 2.1
      script: SentinelOne V2|||sentinelone-delete-star-rule
      type: regular
      iscommand: true
      brand: SentinelOne V2
    nexttasks:
      '#none#':
      - "70"
    scriptarguments:
      rule_ids:
        simple: ${SentinelOne.StarRule(val.Name=='test_rule_updated').ID}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 9350
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "70":
    id: "70"
    taskid: 907baaad-3ed2-4e9e-82d0-cff195d9db78
    type: title
    task:
      id: 907baaad-3ed2-4e9e-82d0-cff195d9db78
      version: -1
      name: Power query
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "71"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 9525
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "71":
    id: "71"
    taskid: 0140a36d-9f1f-4cd6-873e-c0f41f045dad
    type: regular
    task:
      id: 0140a36d-9f1f-4cd6-873e-c0f41f045dad
      version: -1
      name: Create power query
      description: Start a Deep Visibility Power Query, get back status and potential
        results (ping afterwards using the queryId if query has not finished). Relevant
        for API version 2.1
      script: SentinelOne V2|||sentinelone-create-power-query
      type: regular
      iscommand: true
      brand: SentinelOne V2
    nexttasks:
      '#none#':
      - "38"
    scriptarguments:
      from_date:
        complex:
          root: TimeNow
          transformers:
          - operator: ModifyDateTime
            args:
              variation:
                value:
                  simple: 2 days ago
      query:
        simple: |-
          event.category = 'logins'
          | group NumberOfFailedAttempts = count(event.login.loginIsSuccessful=false)
          by event.login.userName, endpoint.name
          | sort -NumberOfFailedAttempts
      to_date:
        complex:
          root: TimeNow
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 9670
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "72":
    id: "72"
    taskid: 3e3a64a6-2cc7-44c5-8d98-1d50137c6cf3
    type: regular
    task:
      id: 3e3a64a6-2cc7-44c5-8d98-1d50137c6cf3
      version: -1
      name: Get Agent
      description: Get details of an agent by its ID.
      script: '|||sentinelone-get-agent'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "24"
    scriptarguments:
      agent_id:
        complex:
          root: SentinelOne.Agents
          accessor: ID
          transformers:
          - operator: FirstArrayElement
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 5415
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "73":
    id: "73"
    taskid: ec386ec7-9505-4015-8d13-1e2e5f07bb27
    type: regular
    task:
      id: ec386ec7-9505-4015-8d13-1e2e5f07bb27
      version: -1
      name: Get Agent
      description: Get details of an agent by its ID.
      script: '|||sentinelone-get-agent'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "27"
    scriptarguments:
      agent_id:
        complex:
          root: SentinelOne.Agents
          accessor: ID
          transformers:
          - operator: FirstArrayElement
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 6115
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "74":
    id: "74"
    taskid: e947d96f-517c-4ffd-8ec3-3a17f9a830e0
    type: regular
    task:
      id: e947d96f-517c-4ffd-8ec3-3a17f9a830e0
      version: -1
      name: Delete previous star rule
      description: Deletes Custom Detection Rules that match the specified input filter.
        Relevant for API version 2.1
      script: SentinelOne V2|||sentinelone-delete-star-rule
      type: regular
      iscommand: true
      brand: SentinelOne V2
    nexttasks:
      '#none#':
      - "75"
    scriptarguments:
      rule_ids:
        simple: ${SentinelOne.StarRule(val.Name=='test_rule_updated' || val.Name=='test_rule').ID}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 8300
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "75":
    id: "75"
    taskid: 8f5dd966-f82b-4af6-8e25-5a57a7b74242
    type: regular
    task:
      id: 8f5dd966-f82b-4af6-8e25-5a57a7b74242
      version: -1
      name: Delete star rules context
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "65"
    scriptarguments:
      key:
        simple: SentinelOne.StarRule
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 8475
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 9860,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
fromversion: 6.0.0
