Packs/FeedTAXII/TestPlaybooks/playbook-TAXII_Feed_Test.yml
id: TAXII_Feed_Test
version: -1
name: TAXII_Feed_Test
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 629b23e0-7b34-4e9e-8709-e40d1033914a
    type: start
    task:
      id: 629b23e0-7b34-4e9e-8709-e40d1033914a
      version: -1
      name: ""
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "4"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "1":
    id: "1"
    taskid: c3764c40-9251-4198-85cb-cc403a040f1b
    type: regular
    task:
      id: c3764c40-9251-4198-85cb-cc403a040f1b
      version: -1
      name: Get Indicators
      description: Get the feed indicators.
      script: TAXIIFeed|||get-indicators
      type: regular
      iscommand: true
      brand: TAXIIFeed
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      initial_interval:
        simple: 4 days
      limit:
        simple: "10"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "2":
    id: "2"
    taskid: 2956dd1c-409d-4154-8837-37195cefb1c1
    type: condition
    task:
      id: 2956dd1c-409d-4154-8837-37195cefb1c1
      version: -1
      name: Assert Output
      description: Asserts output.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "3"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: TAXII
                accessor: Indicator.Value
            iscontext: true
      - - operator: isExists
          left:
            value:
              complex:
                root: TAXII
                accessor: Indicator.Type
            iscontext: true
      - - operator: isExists
          left:
            value:
              complex:
                root: TAXII
                accessor: Indicator.Rawjson.type
            iscontext: true
      - - operator: isExists
          left:
            value:
              complex:
                root: TAXII
                accessor: Indicator.Rawjson.value
            iscontext: true
    view: |-
      {
        "position": {
          "x": 50,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "3":
    id: "3"
    taskid: 012a601e-ed7e-4091-80ee-d9071f0c9937
    type: title
    task:
      id: 012a601e-ed7e-4091-80ee-d9071f0c9937
      version: -1
      name: Done
      description: Done
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "4":
    id: "4"
    taskid: 4e5d7a78-4f39-481d-8168-de2e970706e5
    type: regular
    task:
      id: 4e5d7a78-4f39-481d-8168-de2e970706e5
      version: -1
      name: Delete Context
      description: Delete field from context.
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "5":
    id: "5"
    taskid: 27212618-f0b0-4a00-8432-0588d7a9d6e1
    type: regular
    task:
      id: 27212618-f0b0-4a00-8432-0588d7a9d6e1
      version: -1
      name: createNewIndicator
      description: Change the properties of an indicator
      script: Builtin|||createNewIndicator
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "1"
    scriptarguments:
      accounttype: {}
      actor: {}
      admincountry: {}
      adminemail: {}
      adminname: {}
      adminphone: {}
      asn: {}
      associatedfilenames: {}
      associations: {}
      biosversion: {}
      creationdate: {}
      customFields: {}
      cvedescription: {}
      cvemodified: {}
      cvss: {}
      description: {}
      detectionengines: {}
      devicemodel: {}
      dhcpserver: {}
      displayname: {}
      dns: {}
      domainname: {}
      domainstatus: {}
      emailaddress: {}
      employeehealthstatus: {}
      employeeresponsestatus: {}
      entryid: {}
      expirationdate: {}
      fileextension: {}
      filetype: {}
      firstname: {}
      firstseenbysource: {}
      geocountry: {}
      geolocation: {}
      groups: {}
      hostname: {}
      imphash: {}
      indicatoridentification: {}
      internal: {}
      ipaddress: {}
      jobtitle: {}
      lastname: {}
      lastseenbysource: {}
      macaddress: {}
      malwarefamily: {}
      md5: {}
      memory: {}
      merge: {}
      mitrealiases: {}
      mitrecontributors: {}
      mitredatasources: {}
      mitredefensebypassed: {}
      mitredescription: {}
      mitredetection: {}
      mitreextendedaliases: {}
      mitreexternalreferences: {}
      mitreid: {}
      mitreimpacttype: {}
      mitrekillchainphases: {}
      mitrelabels: {}
      mitrename: {}
      mitrepermissionsrequired: {}
      mitreplatforms: {}
      mitresystemrequirements: {}
      mitretype: {}
      mitreversion: {}
      name: {}
      namefield: {}
      nameservers: {}
      office365category: {}
      office365expressroute: {}
      office365required: {}
      operatingsystem: {}
      operatingsystemversion: {}
      organization: {}
      organizationalunitou: {}
      osversion: {}
      path: {}
      port: {}
      positivedetections: {}
      processor: {}
      processors: {}
      published: {}
      quarantined: {}
      recordedfutureevidencedetails: {}
      region: {}
      registrantcountry: {}
      registrantemail: {}
      registrantname: {}
      registrantphone: {}
      registrarabuseemail: {}
      registrarabusephone: {}
      registrarname: {}
      relatedIncidents: {}
      reportedby: {}
      reputation: {}
      seenNow: {}
      service: {}
      sha1: {}
      sha256: {}
      sha512: {}
      signatureauthentihash: {}
      signaturecopyright: {}
      signaturedescription: {}
      signaturefileversion: {}
      signatureinternalname: {}
      signed: {}
      size: {}
      source:
        simple: taxiitest
      sourceTimeStamp: {}
      sourceoriginalseverity: {}
      ssdeep: {}
      subdomains: {}
      tags: {}
      threattypes: {}
      trafficlightprotocol: {}
      type:
        simple: URL
      updateddate: {}
      username: {}
      value:
        simple: www.demisto.com
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
system: true
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 910,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
fromversion: 4.1.0
