Packs/CrowdStrikeFalcon/TestPlaybooks/playbook-CrowdStrikeFalcon-Test.yml
id: Test - CrowdStrike Falcon
version: -1
vcShouldKeepItemLegacyProdMachine: false
name: Test - CrowdStrike Falcon
fromversion: 5.0.0
description: Crowd strike test playbook
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: eb60c852-c5eb-45f0-8ac2-10d54169d97e
    type: start
    task:
      id: eb60c852-c5eb-45f0-8ac2-10d54169d97e
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "9"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1257.5,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: cef00189-6da1-414a-833b-8a10a0483b78
    type: regular
    task:
      id: cef00189-6da1-414a-833b-8a10a0483b78
      version: -1
      name: Fetch from instance
      scriptName: FetchFromInstance
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      brand_name:
        simple: CrowdstrikeFalcon
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 0157d8d2-2256-47a1-8dcc-2b43ec7e3d5b
    type: regular
    task:
      id: 0157d8d2-2256-47a1-8dcc-2b43ec7e3d5b
      version: -1
      name: Get detections by filter with extended
      script: '|||cs-falcon-search-detection'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "62"
    scriptarguments:
      extended_data:
        simple: "Yes"
      filter:
        simple: created_timestamp:>'2020-03-05T15:25:00Z'
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 1d9c6133-2cd1-45fa-86da-9483ecbca2dd
    type: condition
    task:
      id: 1d9c6133-2cd1-45fa-86da-9483ecbca2dd
      version: -1
      name: Assert detections were fetched
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "4"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: greaterThanOrEqual
          left:
            value:
              complex:
                root: CrowdStrike
                accessor: Detection
                transformers:
                - operator: count
            iscontext: true
          right:
            value:
              simple: "1"
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 47d7ed3f-dd4f-47fd-84a2-7e4a7abe4775
    type: regular
    task:
      id: 47d7ed3f-dd4f-47fd-84a2-7e4a7abe4775
      version: -1
      name: Get behavior
      script: '|||cs-falcon-get-behavior'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      behavior_id:
        complex:
          root: CrowdStrike.Detection.Behavior
          accessor: ID
          transformers:
          - operator: FirstArrayElement
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1245
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 1837d9c9-4ac7-46fb-8d02-f72d976ec7e7
    type: condition
    task:
      id: 1837d9c9-4ac7-46fb-8d02-f72d976ec7e7
      version: -1
      name: Assert scenario is not empty
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "6"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: CrowdStrike
                accessor: Behavior.Scenario
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1420
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: c76cca75-d811-4247-8f56-648bf822e8f4
    type: regular
    task:
      id: c76cca75-d811-4247-8f56-648bf822e8f4
      version: -1
      name: Get multiple devices
      script: '|||cs-falcon-search-device'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      ids:
        simple: c1a4575cd124419db5ed3c1e8ddc2c04,046761c46ec84f40b27b6f79ce7cd32c
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1595
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: c19a832a-63ee-4a40-835d-06d27b257d1e
    type: condition
    task:
      id: c19a832a-63ee-4a40-835d-06d27b257d1e
      version: -1
      name: Assert devices were fetched
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "10"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: greaterThanOrEqual
          left:
            value:
              complex:
                root: CrowdStrike
                accessor: Device
                transformers:
                - operator: count
            iscontext: true
          right:
            value:
              simple: "1"
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1770
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: a9d2fa9a-a95a-4900-80d2-9dd8f0d2a0ab
    type: regular
    task:
      id: a9d2fa9a-a95a-4900-80d2-9dd8f0d2a0ab
      version: -1
      name: Clear context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
      - "2"
      - "63"
      - "68"
      - "91"
      - "96"
      - "127"
    scriptarguments:
      all:
        simple: "yes"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1257.5,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: 7110a8e5-4057-4c43-8a4f-77887125b863
    type: regular
    task:
      id: 7110a8e5-4057-4c43-8a4f-77887125b863
      version: -1
      name: Search for IOCs
      description: Returns a list of your uploaded IOCs that match the search criteria.
      script: '|||cs-falcon-search-custom-iocs'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "11"
    scriptarguments:
      types:
        simple: md5
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1945
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: 5fed85d3-8088-49db-8cda-9739eaf22b8f
    type: condition
    task:
      id: 5fed85d3-8088-49db-8cda-9739eaf22b8f
      version: -1
      name: Assert domains were fetched
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "17"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: CrowdStrike.IOC
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2120
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: fc05b460-0d85-402b-8f09-b63459767165
    type: regular
    task:
      id: fc05b460-0d85-402b-8f09-b63459767165
      version: -1
      name: Create test IOC
      description: Uploads an indicator for CrowdStrike to monitor.
      script: '|||cs-falcon-upload-custom-ioc'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "77"
    scriptarguments:
      action:
        simple: detect
      applied_globally:
        simple: "true"
      description:
        simple: 'Test ioc: ${ioc_value}'
      ioc_type:
        simple: domain
      platforms:
        simple: windows
      severity:
        simple: low
      source:
        simple: Demisto playbook
      value:
        simple: ${ioc_value}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2820
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: 27956712-0a93-4015-8e76-3cfcc3f48ef3
    type: regular
    task:
      id: 27956712-0a93-4015-8e76-3cfcc3f48ef3
      version: -1
      name: Update IOC
      description: Updates an indicator for CrowdStrike to monitor.
      script: '|||cs-falcon-update-custom-ioc'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "15"
    scriptarguments:
      action:
        simple: detect
      description:
        simple: Benign domain IOC
      ioc_id:
        simple: ${CrowdStrike.IOC.ID}
      severity:
        simple: medium
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3695
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "15":
    id: "15"
    taskid: 7453816a-21c1-43ab-8895-0df757376a92
    type: condition
    task:
      id: 7453816a-21c1-43ab-8895-0df757376a92
      version: -1
      name: Assert IOC was updated
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "16"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: inList
          left:
            value:
              simple: CrowdStrike.IOC.Description
            iscontext: true
          right:
            value:
              simple: Benign domain IOC
      - - operator: inList
          left:
            value:
              simple: CrowdStrike.IOC.Action
            iscontext: true
          right:
            value:
              simple: detect
      - - operator: isEqualString
          left:
            value:
              simple: CrowdStrike.IOC.Severity
            iscontext: true
          right:
            value:
              simple: medium
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3870
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: 601e4d37-82f0-45ed-868d-fdc52c4ce6f7
    type: regular
    task:
      id: 601e4d37-82f0-45ed-868d-fdc52c4ce6f7
      version: -1
      name: Delete test IOC
      description: Deletes a monitored indicator.
      script: '|||cs-falcon-delete-custom-ioc'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "20"
    scriptarguments:
      ioc_id:
        simple: ${CrowdStrike.IOC.ID}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 4045
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: d22825b3-9e42-4146-8a8d-b8926d3677ad
    type: regular
    task:
      id: d22825b3-9e42-4146-8a8d-b8926d3677ad
      version: -1
      name: Clear CrowdStrike.IOC context
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "72"
    scriptarguments:
      key:
        simple: CrowdStrike.IOC
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2295
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: cdd6abf8-26d7-4226-8424-263ed5278e67
    type: regular
    task:
      id: cdd6abf8-26d7-4226-8424-263ed5278e67
      version: -1
      name: Get just created test IOC
      description: Gets the full definition of one or more indicators that you are
        watching.
      script: '|||cs-falcon-get-custom-ioc'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      type:
        simple: domain
      value:
        simple: ${ioc_value}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3345
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: 2a12044d-94f7-49bf-846e-645aadc524cd
    type: condition
    task:
      id: 2a12044d-94f7-49bf-846e-645aadc524cd
      version: -1
      name: Assert IOC was fetched
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "14"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.IOC.Value
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.IOC.Description
            iscontext: true
      - - operator: isEqualString
          left:
            value:
              simple: CrowdStrike.IOC.Source
            iscontext: true
          right:
            value:
              simple: Demisto playbook
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3520
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "20":
    id: "20"
    taskid: a045eafa-2a47-4bcd-8e22-6820e64a7c83
    type: regular
    task:
      id: a045eafa-2a47-4bcd-8e22-6820e64a7c83
      version: -1
      name: Check device count for IOC
      description: Number of hosts that observed the given IOC.
      script: '|||cs-falcon-device-count-ioc'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "21"
    scriptarguments:
      type:
        simple: domain
      value:
        simple: google.com
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 4220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "21":
    id: "21"
    taskid: 611a06d5-24fe-46c0-831b-6cab32457bb6
    type: condition
    task:
      id: 611a06d5-24fe-46c0-831b-6cab32457bb6
      version: -1
      name: Assert Device ID was fetched correctly
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "25"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: CrowdStrike.IOC.ID
            iscontext: true
          right:
            value:
              simple: domain:google.com
      - - operator: isEqualString
          left:
            value:
              simple: CrowdStrike.IOC.Type
            iscontext: true
          right:
            value:
              simple: domain
      - - operator: isEqualString
          left:
            value:
              simple: CrowdStrike.IOC.Value
            iscontext: true
          right:
            value:
              simple: google.com
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 4395
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "22":
    id: "22"
    taskid: 712b3818-8b1c-4d9f-8d0e-fd9aad1e45cf
    type: regular
    task:
      id: 712b3818-8b1c-4d9f-8d0e-fd9aad1e45cf
      version: -1
      name: Run Script
      description: Runs a script on the agent host.
      script: '|||cs-falcon-run-script'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "23"
    scriptarguments:
      execution-timeout:
        simple: "400"
      host_ids:
        simple: 046761c46ec84f40b27b6f79ce7cd32c
      script_name:
        simple: 10Seconds
      timeout:
        simple: "400"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 9615
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "23":
    id: "23"
    taskid: 0faa5ee5-738e-46ab-8229-f343f951c367
    type: condition
    task:
      id: 0faa5ee5-738e-46ab-8229-f343f951c367
      version: -1
      name: Verify script results
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "42"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: CrowdStrike.Command.Stdout
            iscontext: true
          right:
            value:
              simple: Bye
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 9790
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "25":
    id: "25"
    taskid: 19c15462-b196-4b87-85e5-005fceec4b06
    type: regular
    task:
      id: 19c15462-b196-4b87-85e5-005fceec4b06
      version: -1
      name: Delete CrowdStrike.HostGroup Context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "55"
    scriptarguments:
      key:
        simple: CrowdStrike.HostGroup
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 4570
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  "26":
    id: "26"
    taskid: 8e11d68c-584e-488d-8ad4-548a6d5cb05c
    type: regular
    task:
      id: 8e11d68c-584e-488d-8ad4-548a6d5cb05c
      version: -1
      name: cs-falcon-create-host-group
      description: Create a host group.
      script: '|||cs-falcon-create-host-group'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "29"
    scriptarguments:
      description:
        simple: description
      group_type:
        simple: static
      name:
        simple: test_tes
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 5590
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  "29":
    id: "29"
    taskid: 424fd4b6-98f2-4d2c-8aad-818c0cec0893
    type: condition
    task:
      id: 424fd4b6-98f2-4d2c-8aad-818c0cec0893
      version: -1
      name: Verify Outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "30"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.id
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.group_type
            iscontext: true
      - - operator: isEqualString
          left:
            value:
              simple: CrowdStrike.HostGroup.name
            iscontext: true
          right:
            value:
              simple: test_tes
      - - operator: isEqualString
          left:
            value:
              simple: CrowdStrike.HostGroup.description
            iscontext: true
          right:
            value:
              simple: description
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.created_by
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.created_timestamp
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.modified_by
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.modified_timestamp
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 5765
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  "30":
    id: "30"
    taskid: dd5fcf7e-b43b-48c1-8e74-0f8761107a5f
    type: regular
    task:
      id: dd5fcf7e-b43b-48c1-8e74-0f8761107a5f
      version: -1
      name: cs-falcon-update-host-group
      description: Update a host group.
      script: '|||cs-falcon-update-host-group'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "31"
    scriptarguments:
      description:
        simple: description2
      host_group_id:
        simple: ${CrowdStrike.HostGroup.id}
      name:
        simple: test_test
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 5940
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  "31":
    id: "31"
    taskid: 575a11c9-ece2-458e-81fc-141bdcc9c3b9
    type: condition
    task:
      id: 575a11c9-ece2-458e-81fc-141bdcc9c3b9
      version: -1
      name: Verify Outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "32"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.id
            iscontext: true
      - - operator: isEqualString
          left:
            value:
              simple: CrowdStrike.HostGroup.group_type
            iscontext: true
          right:
            value:
              simple: static
      - - operator: isEqualString
          left:
            value:
              simple: CrowdStrike.HostGroup.description
            iscontext: true
          right:
            value:
              simple: description2
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.created_by
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.created_timestamp
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.modified_by
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.modified_timestamp
            iscontext: true
      - - operator: isEqualString
          left:
            value:
              simple: CrowdStrike.HostGroup.name
            iscontext: true
          right:
            value:
              simple: test_test
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 6115
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  "32":
    id: "32"
    taskid: ca30f249-83e2-442a-85b9-1a829fd7793a
    type: regular
    task:
      id: ca30f249-83e2-442a-85b9-1a829fd7793a
      version: -1
      name: cs-falcon-list-host-group-members
      description: Get the list of host group members.
      script: '|||cs-falcon-list-host-group-members'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "33"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 6290
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  "33":
    id: "33"
    taskid: 4ee9c919-b4df-4045-8144-328b5737d408
    type: condition
    task:
      id: 4ee9c919-b4df-4045-8144-328b5737d408
      version: -1
      name: Verify Outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "34"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.Device.ID
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.Device.LocalIP
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.Device.ExternalIP
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.Device.Hostname
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.Device.OS
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.Device.MacAddress
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.Device.FirstSeen
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.Device.LastSeen
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.Device.Status
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 6465
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  "34":
    id: "34"
    taskid: 0a52653a-82ef-476e-8aa1-7f8ef8b59287
    type: regular
    task:
      id: 0a52653a-82ef-476e-8aa1-7f8ef8b59287
      version: -1
      name: cs-falcon-add-host-group-members
      description: Add host group members.
      script: '|||cs-falcon-add-host-group-members'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "35"
    scriptarguments:
      host_group_id:
        simple: ${CrowdStrike.HostGroup.id}
      host_ids:
        simple: ${CrowdStrike.Device.ID}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 6640
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  "35":
    id: "35"
    taskid: bfad148d-c2ce-41f4-8de4-8080455617a1
    type: condition
    task:
      id: bfad148d-c2ce-41f4-8de4-8080455617a1
      version: -1
      name: Verify Outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "36"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.id
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.group_type
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.name
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.description
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.created_by
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.created_timestamp
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.modified_by
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.modified_timestamp
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 6815
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  "36":
    id: "36"
    taskid: fc397ef6-850d-49d0-8c98-47119ef81ac7
    type: regular
    task:
      id: fc397ef6-850d-49d0-8c98-47119ef81ac7
      version: -1
      name: cs-falcon-remove-host-group-members
      description: Remove host group members.
      script: '|||cs-falcon-remove-host-group-members'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "37"
    scriptarguments:
      host_group_id:
        simple: ${CrowdStrike.HostGroup.id}
      host_ids:
        simple: ${CrowdStrike.Device.ID}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 6990
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  "37":
    id: "37"
    taskid: 9057b998-3d4e-4348-8123-fe23625c3f39
    type: regular
    task:
      id: 9057b998-3d4e-4348-8123-fe23625c3f39
      version: -1
      name: delete CrowdStrike.Device context
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "38"
    scriptarguments:
      key:
        simple: CrowdStrike.Device
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 7165
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  "38":
    id: "38"
    taskid: 9eb544b1-f908-4b16-869c-db9da89d5a0a
    type: regular
    task:
      id: 9eb544b1-f908-4b16-869c-db9da89d5a0a
      version: -1
      name: list-host-group-members
      description: Get the list of host group members
      script: '|||cs-falcon-list-host-group-members'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "39"
    scriptarguments:
      host_group_id:
        simple: ${CrowdStrike.HostGroup.id}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 7340
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  "39":
    id: "39"
    taskid: 0252d4d5-0a1f-4cff-8d32-364aee1aaedf
    type: condition
    task:
      id: 0252d4d5-0a1f-4cff-8d32-364aee1aaedf
      version: -1
      name: Verify Outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "46"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.id
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.group_type
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.name
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.description
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.created_by
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.created_timestamp
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.modified_by
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.modified_timestamp
            iscontext: true
      - - operator: isEmpty
          left:
            value:
              simple: CrowdStrike.Device
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 7515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  "40":
    id: "40"
    taskid: 1a7805ee-b89a-46e6-8da6-0168cf8d8f29
    type: regular
    task:
      id: 1a7805ee-b89a-46e6-8da6-0168cf8d8f29
      version: -1
      name: get incidents
      description: Lists incident summaries.
      script: '|||cs-falcon-list-incident-summaries'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "41"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 8740
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  "41":
    id: "41"
    taskid: 39a4a66b-c362-49d5-847f-a0878251cad1
    type: regular
    task:
      id: 39a4a66b-c362-49d5-847f-a0878251cad1
      version: -1
      name: cs-falcon-resolve-incident
      description: Resolve incidents.
      script: '|||cs-falcon-resolve-incident'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "56"
    scriptarguments:
      ids:
        simple: ${CrowdStrike.Incidents.incident_id}
      status:
        simple: New
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 8915
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  "42":
    id: "42"
    taskid: f28861ab-08e8-4fb1-883c-795e010b79e6
    type: title
    task:
      id: f28861ab-08e8-4fb1-883c-795e010b79e6
      version: -1
      name: Test Done
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1472.5,
          "y": 9965
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  "43":
    id: "43"
    taskid: f98fae5d-23c2-4b67-896b-0945cd073ce1
    type: regular
    task:
      id: f98fae5d-23c2-4b67-896b-0945cd073ce1
      version: -1
      name: list hostgroups (for resetting)
      description: List the available host groups.
      script: '|||cs-falcon-list-host-groups'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "52"
      - "54"
    scriptarguments:
      limit:
        simple: "100"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 4890
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "44":
    id: "44"
    taskid: 2b3bc241-e34e-46da-80d7-64ea8370cb1a
    type: regular
    task:
      id: 2b3bc241-e34e-46da-80d7-64ea8370cb1a
      version: -1
      name: delete host groups  test_tes (for resetting)
      description: Delete the requested host groups.
      script: '|||cs-falcon-delete-host-groups'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "45"
    scriptarguments:
      host_group_id:
        complex:
          root: CrowdStrike.HostGroup
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: CrowdStrike.HostGroup.name
                iscontext: true
              right:
                value:
                  simple: test_tes
          accessor: id
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 245,
          "y": 5240
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "45":
    id: "45"
    taskid: 0fd6347a-b5b9-4743-8f0e-c72e225e3911
    type: regular
    task:
      id: 0fd6347a-b5b9-4743-8f0e-c72e225e3911
      version: -1
      name: delete CrowdStrike.HostGroup context
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "26"
    scriptarguments:
      key:
        simple: CrowdStrike.HostGroup
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 5415
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "46":
    id: "46"
    taskid: f61bdad1-42bb-4398-8249-50a1ca2d2404
    type: regular
    task:
      id: f61bdad1-42bb-4398-8249-50a1ca2d2404
      version: -1
      name: cs-falcon-list-host-groups
      description: List the available host groups.
      script: '|||cs-falcon-list-host-groups'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "47"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 7690
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "47":
    id: "47"
    taskid: 38358efe-b792-41c2-84b0-8527a8e54d8d
    type: condition
    task:
      id: 38358efe-b792-41c2-84b0-8527a8e54d8d
      version: -1
      name: Verify Outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "48"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.id
            iscontext: true
      - - operator: isEqualString
          left:
            value:
              simple: CrowdStrike.HostGroup.group_type
            iscontext: true
          right:
            value:
              simple: static
      - - operator: isEqualString
          left:
            value:
              simple: CrowdStrike.HostGroup.name
            iscontext: true
          right:
            value:
              simple: test_test
      - - operator: isEqualString
          left:
            value:
              simple: CrowdStrike.HostGroup.description
            iscontext: true
          right:
            value:
              simple: description2
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.created_by
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.created_timestamp
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.modified_by
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.HostGroup.modified_timestamp
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 7865
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "48":
    id: "48"
    taskid: 47eeefab-df61-4b3f-835d-25a071c54cd2
    type: regular
    task:
      id: 47eeefab-df61-4b3f-835d-25a071c54cd2
      version: -1
      name: cs-falcon-delete-host-groups
      description: Delete the requested host groups.
      script: '|||cs-falcon-delete-host-groups'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "49"
    scriptarguments:
      host_group_id:
        complex:
          root: CrowdStrike.HostGroup
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: CrowdStrike.HostGroup.name
                iscontext: true
              right:
                value:
                  simple: test_test
          accessor: id
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 8040
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "49":
    id: "49"
    taskid: 128b6e91-2c7a-4b14-8bb6-fa13a94b38ae
    type: regular
    task:
      id: 128b6e91-2c7a-4b14-8bb6-fa13a94b38ae
      version: -1
      name: Delete CrowdStrike.HostGroup Context
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "50"
    scriptarguments:
      key:
        simple: CrowdStrike.HostGroup
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 8215
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "50":
    id: "50"
    taskid: 62dfd535-d837-49c3-8af7-5227ecfa5c70
    type: regular
    task:
      id: 62dfd535-d837-49c3-8af7-5227ecfa5c70
      version: -1
      name: list host groups
      description: List the available host groups.
      script: '|||cs-falcon-list-host-groups'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "51"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 8390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "51":
    id: "51"
    taskid: ce898f3e-0a55-4ddf-881a-cbac17722a9f
    type: condition
    task:
      id: ce898f3e-0a55-4ddf-881a-cbac17722a9f
      version: -1
      name: Verify Deleted
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "40"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEmpty
          left:
            value:
              complex:
                root: CrowdStrike.HostGroup.name
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: CrowdStrike.HostGroup.name
                      iscontext: true
                    right:
                      value:
                        simple: test_test
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 8565
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "52":
    id: "52"
    taskid: c734ea32-eae5-43ff-8a0e-95a5be090236
    type: condition
    task:
      id: c734ea32-eae5-43ff-8a0e-95a5be090236
      version: -1
      name: check if test_tes in the list
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "45"
      "yes":
      - "44"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: CrowdStrike.HostGroup.name
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: CrowdStrike.HostGroup.name
                      iscontext: true
                    right:
                      value:
                        simple: test_tes
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 357.5,
          "y": 5065
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "53":
    id: "53"
    taskid: 5988cce6-ebb1-4ead-83a8-d307120239b8
    type: regular
    task:
      id: 5988cce6-ebb1-4ead-83a8-d307120239b8
      version: -1
      name: delete host_group test_test (for resetting)
      description: Delete the requested host groups.
      script: '|||cs-falcon-delete-host-groups'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "45"
    scriptarguments:
      host_group_id:
        complex:
          root: CrowdStrike.HostGroup
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: CrowdStrike.HostGroup.name
                iscontext: true
              right:
                value:
                  simple: test_test
          accessor: id
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 695,
          "y": 5240
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "54":
    id: "54"
    taskid: cd1e53a9-7724-4035-8e10-0bf20789b5ea
    type: condition
    task:
      id: cd1e53a9-7724-4035-8e10-0bf20789b5ea
      version: -1
      name: check if test_test in the list
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "45"
      "yes":
      - "53"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: CrowdStrike.HostGroup.name
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: CrowdStrike.HostGroup.name
                      iscontext: true
                    right:
                      value:
                        simple: test_test
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 5065
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "55":
    id: "55"
    taskid: 76ba89dd-8ad8-42ca-862e-6b54b5b3cb29
    type: title
    task:
      id: 76ba89dd-8ad8-42ca-862e-6b54b5b3cb29
      version: -1
      name: Delete Test Host Groups
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "43"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 4745
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "56":
    id: "56"
    taskid: 30bdcf23-f98f-4b48-8c7b-68af2bc935e8
    type: regular
    task:
      id: 30bdcf23-f98f-4b48-8c7b-68af2bc935e8
      version: -1
      name: Delete CrowdStrike.Incidents Context
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "57"
    scriptarguments:
      key:
        simple: CrowdStrike.Incidents
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 9090
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "57":
    id: "57"
    taskid: fe13f950-a715-4d1b-83bc-9dfc7ab345db
    type: regular
    task:
      id: fe13f950-a715-4d1b-83bc-9dfc7ab345db
      version: -1
      name: Get Incidents
      description: Lists incident summaries.
      script: '|||cs-falcon-list-incident-summaries'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "58"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 9265
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "58":
    id: "58"
    taskid: 530c8ebd-74c5-413d-828b-37938e0612af
    type: condition
    task:
      id: 530c8ebd-74c5-413d-828b-37938e0612af
      version: -1
      name: Verify Resolved
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "22"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: CrowdStrike.Incidents.status
            iscontext: true
          right:
            value:
              simple: "20"
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 9440
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "60":
    id: "60"
    taskid: 65adb487-fbcd-46b6-8015-a8fe7b7fc023
    type: regular
    task:
      id: 65adb487-fbcd-46b6-8015-a8fe7b7fc023
      version: -1
      name: 'Clear CrowdStrike.Detection context '
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "61"
    scriptarguments:
      key:
        simple: CrowdStrike.Detection
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "61":
    id: "61"
    taskid: 32792735-705d-4354-8663-dbc031f7bcd3
    type: regular
    task:
      id: 32792735-705d-4354-8663-dbc031f7bcd3
      version: -1
      name: Get detections by filter without extended
      script: '|||cs-falcon-search-detection'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      filter:
        simple: created_timestamp:>'2020-03-05T15:25:00Z'
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "62":
    id: "62"
    taskid: fa086b3a-f8ff-405e-87d7-b2bf20ee0e86
    type: condition
    task:
      id: fa086b3a-f8ff-405e-87d7-b2bf20ee0e86
      version: -1
      name: Check Extended Data
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "60"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: CrowdStrike.Detection
                accessor: Device
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "63":
    id: "63"
    taskid: f3950a70-2e80-4829-8d67-52cf5d452266
    type: title
    task:
      id: f3950a70-2e80-4829-8d67-52cf5d452266
      version: -1
      name: RTR Commands
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "64"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1042.5,
          "y": 9105
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "64":
    id: "64"
    taskid: cbeb6e06-5ad8-491d-8c20-379b03df140b
    type: regular
    task:
      id: cbeb6e06-5ad8-491d-8c20-379b03df140b
      version: -1
      name: RTR Get List Processes
      description: Executes an RTR active-responder ps command to get a list of active
        processes across the given host.
      script: '|||cs-falcon-rtr-list-processes'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "65"
    scriptarguments:
      host_id:
        simple: 046761c46ec84f40b27b6f79ce7cd32c
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1042.5,
          "y": 9265
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "65":
    id: "65"
    taskid: 5f6d2c70-fcf6-4859-869a-8b70cd7923ee
    type: regular
    task:
      id: 5f6d2c70-fcf6-4859-869a-8b70cd7923ee
      version: -1
      name: RTR Get List Netstat
      description: Executes an RTR active-responder netstat command to get a list
        of network status and protocol statistics across the given host.
      script: '|||cs-falcon-rtr-list-network-stats'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "66"
    scriptarguments:
      host_id:
        simple: 046761c46ec84f40b27b6f79ce7cd32c
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1042.5,
          "y": 9440
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "66":
    id: "66"
    taskid: 0e858121-b627-4af2-82f4-0f4405477d5f
    type: regular
    task:
      id: 0e858121-b627-4af2-82f4-0f4405477d5f
      version: -1
      name: RTR Read Registry
      description: Executes an RTR active-responder read registry keys command across
        the given hosts. This command is valid only for Windows hosts.
      script: '|||cs-falcon-rtr-read-registry'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "67"
    scriptarguments:
      host_ids:
        simple: 046761c46ec84f40b27b6f79ce7cd32c
      registry_keys:
        simple: HKEY_USERS
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1042.5,
          "y": 9615
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "67":
    id: "67"
    taskid: dd1b234a-c656-4f5f-8098-4828392c8331
    type: regular
    task:
      id: dd1b234a-c656-4f5f-8098-4828392c8331
      version: -1
      name: RTR Get List Scheduled Tasks
      description: Executes an RTR active-responder netstat command to get a list
        of scheduled tasks across the given host. This command is valid only for Windows
        hosts.
      script: '|||cs-falcon-rtr-list-scheduled-tasks'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "42"
    scriptarguments:
      host_ids:
        simple: 046761c46ec84f40b27b6f79ce7cd32c
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1042.5,
          "y": 9790
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "68":
    id: "68"
    taskid: 4775cbd1-d329-4272-8203-94588be27ca9
    type: regular
    task:
      id: 4775cbd1-d329-4272-8203-94588be27ca9
      version: -1
      name: cs-falcon-spotlight-search-vulnerability
      description: Retrieve vulnerability details according to the selected filter.
        Each request requires at least one filter parameter. Supported with CrowdStrike
        Spotlight license.
      script: '|||cs-falcon-spotlight-search-vulnerability'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "69"
    scriptarguments:
      display_host_info:
        simple: "True"
      limit:
        simple: "2"
      status:
        simple: '"open, closed, reopen, expired"'
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1472.5,
          "y": 9265
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "69":
    id: "69"
    taskid: b97a83e8-8dc4-4f1f-87cc-ca68b61ad2ec
    type: condition
    task:
      id: b97a83e8-8dc4-4f1f-87cc-ca68b61ad2ec
      version: -1
      name: verify search-vulnerability
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "70"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.Vulnerability.cve.id
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1472.5,
          "y": 9440
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "70":
    id: "70"
    taskid: 0ed162a3-ca88-4603-83ae-6680fd2879a7
    type: regular
    task:
      id: 0ed162a3-ca88-4603-83ae-6680fd2879a7
      version: -1
      name: cs-falcon-spotlight-list-host-by-vulnerability
      description: Retrieve vulnerability details for a specific ID and host. Supported
        with CrowdStrike Spotlight license.
      script: '|||cs-falcon-spotlight-list-host-by-vulnerability'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "71"
    scriptarguments:
      cve_ids:
        simple: ${CrowdStrike.Vulnerability.cve.id}
      limit:
        simple: "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1472.5,
          "y": 9615
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "71":
    id: "71"
    taskid: fb9d3a96-9b06-433f-8eed-2a9ec32c2d07
    type: condition
    task:
      id: fb9d3a96-9b06-433f-8eed-2a9ec32c2d07
      version: -1
      name: verify host_by_vulnerability
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "42"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.VulnerabilityHost.host_info.hostname
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1472.5,
          "y": 9790
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "72":
    id: "72"
    taskid: 530be960-6470-4347-8c09-753351f51432
    type: regular
    task:
      id: 530be960-6470-4347-8c09-753351f51432
      version: -1
      name: generate string to create a ioc name
      description: Generates random string
      scriptName: GenerateRandomString
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "73"
    scriptarguments:
      Digits:
        simple: "False"
      Length:
        simple: "5"
      Lowercase:
        simple: "True"
      Punctuation:
        simple: "False"
      Uppercase:
        simple: "False"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2470
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "73":
    id: "73"
    taskid: 2194d108-5c97-4182-8281-c3412cf883a8
    type: regular
    task:
      id: 2194d108-5c97-4182-8281-c3412cf883a8
      version: -1
      name: set ioc name
      description: Set a value in context under the key you entered.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      key:
        simple: ioc_value
      value:
        simple: ${RandomString}.com
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2645
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "77":
    id: "77"
    taskid: 7c8b1048-7b9a-4fc5-8ded-fd60f24b4f75
    type: condition
    task:
      id: 7c8b1048-7b9a-4fc5-8ded-fd60f24b4f75
      version: -1
      name: Assert IOC was created
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "78"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: CrowdStrike.IOC.Value
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2995
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "78":
    id: "78"
    taskid: 95c9b6aa-6a2f-4311-8da9-351157568e0d
    type: regular
    task:
      id: 95c9b6aa-6a2f-4311-8da9-351157568e0d
      version: -1
      name: Clear CrowdStrike.IOC context
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "18"
    scriptarguments:
      key:
        simple: CrowdStrike.IOC
      keysToKeep:
        simple: ioc_value
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3170
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "80":
    id: "80"
    taskid: 13ae447b-dbfd-4044-8778-ce6ce43f0750
    type: regular
    task:
      id: 13ae447b-dbfd-4044-8778-ce6ce43f0750
      version: -1
      name: Create ML exclusion
      description: Create an ML exclusion.
      script: '|||cs-falcon-create-ml-exclusion'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "81"
    scriptarguments:
      excluded_from:
        simple: blocking
      groups:
        simple: 7471ba0636b34cbb8c65fae7979a6a9b
      value:
        simple: test
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1902.5,
          "y": 7865
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "81":
    id: "81"
    taskid: 79d3e0ff-92c3-445a-81f0-7cd25abbc18c
    type: regular
    task:
      id: 79d3e0ff-92c3-445a-81f0-7cd25abbc18c
      version: -1
      name: Update ML exclusion
      description: Updates an ML exclusions. At least one argument is required in
        addition of the ID argument.
      script: '|||cs-falcon-update-ml-exclusion'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "82"
    scriptarguments:
      comment:
        simple: demo comment
      id:
        complex:
          root: CrowdStrike.MLExclusion
          accessor: id
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1902.5,
          "y": 8040
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "82":
    id: "82"
    taskid: 660ec33c-ff59-43c0-88c4-2c533e838dbb
    type: regular
    task:
      id: 660ec33c-ff59-43c0-88c4-2c533e838dbb
      version: -1
      name: Search ML exclusion
      description: Get a list of ML Exclusions by specifying their IDs, value, or
        a specific filter.
      script: '|||cs-falcon-search-ml-exclusion'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "83"
    scriptarguments:
      value:
        complex:
          root: CrowdStrike.MLExclusion
          accessor: value
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1902.5,
          "y": 8215
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "83":
    id: "83"
    taskid: ca7068d3-6a68-4c5c-8f5b-5cf8ee604bee
    type: condition
    task:
      id: ca7068d3-6a68-4c5c-8f5b-5cf8ee604bee
      version: -1
      name: Verify exclusion search results
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "84"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: CrowdStrike.MLExclusion
                accessor: id
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1902.5,
          "y": 8390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "84":
    id: "84"
    taskid: 013b76f0-9df6-464e-8f08-f725d1678e49
    type: regular
    task:
      id: 013b76f0-9df6-464e-8f08-f725d1678e49
      version: -1
      name: Delete ML exclusion
      description: Delete the ML exclusions by id.
      script: '|||cs-falcon-delete-ml-exclusion'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "85"
    scriptarguments:
      ids:
        complex:
          root: CrowdStrike.MLExclusion
          accessor: id
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1902.5,
          "y": 8565
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "85":
    id: "85"
    taskid: 8985297f-c34b-4787-86a8-f68e316d0fa6
    type: regular
    task:
      id: 8985297f-c34b-4787-86a8-f68e316d0fa6
      version: -1
      name: Create IOA exclusion
      description: Create an IOA exclusion.
      script: '|||cs-falcon-create-ioa-exclusion'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "86"
    scriptarguments:
      cl_regex:
        simple: .*
      exclusion_name:
        simple: demo
      groups:
        simple: 7471ba0636b34cbb8c65fae7979a6a9b
      ifn_regex:
        simple: c:\\\\windows\\\\system32\\\\poqexec\\.exe
      pattern_id:
        simple: "10197"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1902.5,
          "y": 8740
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "86":
    id: "86"
    taskid: 7983ac69-8334-4859-805a-c214c94034c3
    type: regular
    task:
      id: 7983ac69-8334-4859-805a-c214c94034c3
      version: -1
      name: Update IOA exclusion
      description: Updates an IOA exclusion. At least one argument is required in
        addition of the ID argument.
      script: '|||cs-falcon-update-ioa-exclusion'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "87"
    scriptarguments:
      description:
        simple: demo-description
      id:
        complex:
          root: CrowdStrike.IOAExclusion
          accessor: id
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1902.5,
          "y": 8915
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "87":
    id: "87"
    taskid: 61a6da48-7283-4e59-8df3-514c57eea02c
    type: regular
    task:
      id: 61a6da48-7283-4e59-8df3-514c57eea02c
      version: -1
      name: Search IOA exclusion
      description: Get a list of IOA Exclusions by specifying their IDs or a filter
      script: '|||cs-falcon-search-ioa-exclusion'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "88"
    scriptarguments:
      name:
        complex:
          root: CrowdStrike.IOAExclusion
          accessor: name
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1902.5,
          "y": 9090
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "88":
    id: "88"
    taskid: 1efa30a4-f777-4cfc-81d7-168107c31a40
    type: condition
    task:
      id: 1efa30a4-f777-4cfc-81d7-168107c31a40
      version: -1
      name: Verify exclusion search results
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "89"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: CrowdStrike.IOAExclusion
                accessor: id
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1902.5,
          "y": 9265
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "89":
    id: "89"
    taskid: 3cd53b96-12a6-48fc-8fd9-43d4f806f35e
    type: regular
    task:
      id: 3cd53b96-12a6-48fc-8fd9-43d4f806f35e
      version: -1
      name: Delete IOA exclusion
      description: Delete the IOA exclusions by id.
      script: '|||cs-falcon-delete-ioa-exclusion'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "90"
    scriptarguments:
      ids:
        complex:
          root: CrowdStrike.IOAExclusion
          accessor: id
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1902.5,
          "y": 9440
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "90":
    id: "90"
    taskid: a92c176a-dec6-4b64-8134-582d9fa98db3
    type: regular
    task:
      id: a92c176a-dec6-4b64-8134-582d9fa98db3
      version: -1
      name: List quarantined file
      description: Get quarantine file metadata by specified ids or a filter.
      script: '|||cs-falcon-list-quarantined-file'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "92"
    scriptarguments:
      limit:
        simple: "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1902.5,
          "y": 9615
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "91":
    id: "91"
    taskid: 91ffb331-610e-4e1e-82f9-013cfdd0ba17
    type: title
    task:
      id: 91ffb331-610e-4e1e-82f9-013cfdd0ba17
      version: -1
      name: Exclusion commands
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "94"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1902.5,
          "y": 7180
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "92":
    id: "92"
    taskid: a38a9ec0-e55a-47d5-81ff-46d25f377ada
    type: condition
    task:
      id: a38a9ec0-e55a-47d5-81ff-46d25f377ada
      version: -1
      name: Verify outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "42"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: CrowdStrike.QuarantinedFile
                accessor: id
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1902.5,
          "y": 9790
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "93":
    id: "93"
    taskid: b8b9f32c-26e0-4166-81e9-3e733b19b171
    type: regular
    task:
      id: b8b9f32c-26e0-4166-81e9-3e733b19b171
      version: -1
      name: Delete ML exclusion
      description: Delete the ML exclusions by id.
      script: '|||cs-falcon-delete-ml-exclusion'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "95"
    scriptarguments:
      ids:
        complex:
          root: CrowdStrike.MLExclusion
          accessor: id
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1902.5,
          "y": 7515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "94":
    id: "94"
    taskid: 311ede80-1f6b-4b96-8aff-f5f261b5ba4a
    type: regular
    task:
      id: 311ede80-1f6b-4b96-8aff-f5f261b5ba4a
      version: -1
      name: Search ML exclusion
      description: Get a list of ML Exclusions by specifying their IDs, value, or
        a specific filter.
      script: '|||cs-falcon-search-ml-exclusion'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "93"
    scriptarguments:
      value:
        simple: test
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1902.5,
          "y": 7340
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "95":
    id: "95"
    taskid: 755d12be-4bc7-4f31-8b29-0be6c1706d44
    type: regular
    task:
      id: 755d12be-4bc7-4f31-8b29-0be6c1706d44
      version: -1
      name: Delete context ML exclusion
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "80"
    scriptarguments:
      key:
        simple: CrowdStrike.MLExclusion
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1902.5,
          "y": 7690
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "96":
    id: "96"
    taskid: af225937-faed-40a3-862c-4928a1ac83b9
    type: title
    task:
      id: af225937-faed-40a3-862c-4928a1ac83b9
      version: -1
      name: ODS commands
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "98"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2332.5,
          "y": 6655
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "98":
    id: "98"
    taskid: f9f911b3-af7a-4086-84e4-41c47243279e
    type: regular
    task:
      id: f9f911b3-af7a-4086-84e4-41c47243279e
      version: -1
      name: list hostgroups
      description: List the available host groups.
      script: '|||cs-falcon-list-host-groups'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "100"
    scriptarguments:
      limit:
        simple: "100"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2332.5,
          "y": 6815
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "100":
    id: "100"
    taskid: 38c84584-f42b-4e6f-8324-a96350926794
    type: regular
    task:
      id: 38c84584-f42b-4e6f-8324-a96350926794
      version: -1
      name: Create Scheduled Scan command
      description: Create an ODS scheduled scan.
      script: '|||cs-falcon-ods-create-scheduled-scan'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "117"
    scriptarguments:
      cpu_priority:
        simple: Medium
      extend-context:
        simple: CrowdStrike.CreatedScheduledScanID=id
      file_paths:
        simple: E:\\
      host_groups:
        complex:
          root: CrowdStrike.HostGroup
          accessor: id
          transformers:
          - operator: atIndex
            args:
              index:
                value:
                  simple: "0"
      pause_duration:
        simple: "3"
      quarantine:
        simple: "true"
      scan_inclusions:
        simple: '*'
      schedule_interval:
        simple: daily
      schedule_start_timestamp:
        simple: in an hour
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2332.5,
          "y": 6990
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "101":
    id: "101"
    taskid: ab8cec70-75e7-4249-8a41-b3a780fff0c7
    type: regular
    task:
      id: ab8cec70-75e7-4249-8a41-b3a780fff0c7
      version: -1
      name: Query Scheduled Scan Command
      description: Retrieve ODS scheduled scan details.
      script: CrowdstrikeFalcon|||cs-falcon-ods-query-scheduled-scan
      type: regular
      iscommand: true
      brand: CrowdstrikeFalcon
    nexttasks:
      '#none#':
      - "120"
    scriptarguments:
      limit:
        simple: "50"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2332.5,
          "y": 8040
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "108":
    id: "108"
    taskid: 555706f8-77b8-4368-807c-853bf5ab9393
    type: regular
    task:
      id: 555706f8-77b8-4368-807c-853bf5ab9393
      version: -1
      name: Query Malicious Files Command
      description: Retrieve ODS malicious file details.
      script: CrowdstrikeFalcon|||cs-falcon-ods-query-malicious-files
      type: regular
      iscommand: true
      brand: CrowdstrikeFalcon
    nexttasks:
      '#none#':
      - "42"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2332.5,
          "y": 9790
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "109":
    id: "109"
    taskid: 27e7c86e-34ea-4182-8a06-3ffe16cc72d5
    type: regular
    task:
      id: 27e7c86e-34ea-4182-8a06-3ffe16cc72d5
      version: -1
      name: Query Scan Hosts
      description: Retrieve ODS scan host details.
      script: CrowdstrikeFalcon|||cs-falcon-ods-query-scan-host
      type: regular
      iscommand: true
      brand: CrowdstrikeFalcon
    nexttasks:
      '#none#':
      - "125"
    scriptarguments:
      filter:
        simple: status:["completed"]
      limit:
        simple: "10"
      offset:
        simple: "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2332.5,
          "y": 9440
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "110":
    id: "110"
    taskid: 96534a7e-8e90-4293-8f45-74645590d44c
    type: regular
    task:
      id: 96534a7e-8e90-4293-8f45-74645590d44c
      version: -1
      name: Delete Scheduled Scan
      description: Delete ODS scheduled scans.
      script: CrowdstrikeFalcon|||cs-falcon-ods-delete-scheduled-scan
      type: regular
      iscommand: true
      brand: CrowdstrikeFalcon
    nexttasks:
      '#none#':
      - "123"
    scriptarguments:
      ids:
        simple: ${CrowdStrike.CreatedScheduledScanID}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2332.5,
          "y": 8915
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "112":
    id: "112"
    taskid: ebffbb16-7c4d-40e9-86d8-5cad1313aabe
    type: regular
    task:
      id: ebffbb16-7c4d-40e9-86d8-5cad1313aabe
      version: -1
      name: Clear Scheduled Scans
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "119"
    scriptarguments:
      all:
        simple: "no"
      key:
        simple: CrowdStrike.ODSScheduledScan
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2332.5,
          "y": 7690
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "114":
    id: "114"
    taskid: 7f270bea-1c7d-4b11-8d37-11af9bec4f30
    type: regular
    task:
      id: 7f270bea-1c7d-4b11-8d37-11af9bec4f30
      version: -1
      name: Create Scan Command
      description: Create an ODS scan and wait for results.
      script: CrowdstrikeFalcon|||cs-falcon-ods-create-scan
      type: regular
      iscommand: true
      brand: CrowdstrikeFalcon
    nexttasks:
      '#none#':
      - "118"
    scriptarguments:
      cpu_priority:
        simple: Highest
      file_paths:
        simple: C:\\Users\\admin\\Downloads\\
      host_groups:
        simple: ${CrowdStrike.HostGroup.id}
      interval_in_seconds:
        simple: "20"
      timeout_in_seconds:
        simple: "700"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2332.5,
          "y": 7340
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "115":
    id: "115"
    taskid: 779ae6fb-e7e9-4cae-80e8-ea854e1f5e99
    type: regular
    task:
      id: 779ae6fb-e7e9-4cae-80e8-ea854e1f5e99
      version: -1
      name: Query Scan Command
      description: Retrieve ODS scan details.
      script: CrowdstrikeFalcon|||cs-falcon-ods-query-scan
      type: regular
      iscommand: true
      brand: CrowdstrikeFalcon
    nexttasks:
      '#none#':
      - "121"
    scriptarguments:
      limit:
        simple: "50"
      offset:
        simple: "1"
      status:
        simple: completed
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2332.5,
          "y": 8390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "117":
    id: "117"
    taskid: f6e0d66b-2a40-4865-8045-452133b6ff78
    type: condition
    task:
      id: f6e0d66b-2a40-4865-8045-452133b6ff78
      version: -1
      name: Verify Scheduled Scan Created
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "114"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: CrowdStrike.ODSScheduledScan.id
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2332.5,
          "y": 7165
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "118":
    id: "118"
    taskid: 222e3bf8-b76c-4e93-8691-b2f00bd178b7
    type: condition
    task:
      id: 222e3bf8-b76c-4e93-8691-b2f00bd178b7
      version: -1
      name: Verify Scan Created
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "112"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: CrowdStrike.ODSScan.id
            iscontext: true
      - - operator: notIn
          left:
            value:
              simple: CrowdStrike.ODSScan.status
            iscontext: true
          right:
            value:
              simple: '["pending", "running"]'
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2332.5,
          "y": 7515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "119":
    id: "119"
    taskid: e21522bd-5484-4eb4-80ea-8b5dbace8dad
    type: regular
    task:
      id: e21522bd-5484-4eb4-80ea-8b5dbace8dad
      version: -1
      name: Clear Scans
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "101"
    scriptarguments:
      all:
        simple: "no"
      key:
        simple: CrowdStrike.ODSScan
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2332.5,
          "y": 7865
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "120":
    id: "120"
    taskid: b566b8cb-5225-4085-8eb0-7c67acd89e06
    type: condition
    task:
      id: b566b8cb-5225-4085-8eb0-7c67acd89e06
      version: -1
      name: Verify Query Scheduled Scans
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "115"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: CrowdStrike.ODSScheduledScan.id
            iscontext: true
      - - operator: isExists
          left:
            value:
              simple: CrowdStrike.ODSScheduledScan.file_paths
            iscontext: true
      - - operator: isExists
          left:
            value:
              simple: CrowdStrike.ODSScheduledScan.schedule.start_timestamp
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2332.5,
          "y": 8215
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "121":
    id: "121"
    taskid: b68b8c39-2bf8-4484-8022-be9523592075
    type: condition
    task:
      id: b68b8c39-2bf8-4484-8022-be9523592075
      version: -1
      name: Verify Query Scan
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "124"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: CrowdStrike.ODSScan.id
            iscontext: true
      - - operator: isExists
          left:
            value:
              simple: CrowdStrike.ODSScan.metadata.filecount.malicious
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2332.5,
          "y": 8565
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "122":
    id: "122"
    taskid: 391600d5-68e7-4475-8487-f1d675fe04b0
    type: condition
    task:
      id: 391600d5-68e7-4475-8487-f1d675fe04b0
      version: -1
      name: Verify Scan Deleted
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "109"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isTrue
          left:
            value:
              simple: CrowdStrike.ODSScheduledScan.deleted
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2332.5,
          "y": 9265
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "123":
    id: "123"
    taskid: 6b69d662-1dd4-4d48-8c3c-f1c4306b3ac3
    type: regular
    task:
      id: 6b69d662-1dd4-4d48-8c3c-f1c4306b3ac3
      version: -1
      name: Query Scheduled Scan With Id
      description: Retrieve ODS scheduled scan details.
      script: '|||cs-falcon-ods-query-scheduled-scan'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "122"
    scriptarguments:
      ids:
        simple: ${CrowdStrike.CreatedScheduledScanID}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2332.5,
          "y": 9090
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "124":
    id: "124"
    taskid: 97f6c327-cdec-4dc5-88ba-9d64d0c2d4dd
    type: regular
    task:
      id: 97f6c327-cdec-4dc5-88ba-9d64d0c2d4dd
      version: -1
      name: Clear Scheduled Scans
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "110"
    scriptarguments:
      all:
        simple: "no"
      key:
        simple: CrowdStrike.ODSScheduledScan
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2332.5,
          "y": 8740
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "125":
    id: "125"
    taskid: 778b6b6e-ae93-4333-8007-0801b193358e
    type: condition
    task:
      id: 778b6b6e-ae93-4333-8007-0801b193358e
      version: -1
      name: Verify Query Scan Hosts
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "108"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: CrowdStrike.ODSScanHost.id
            iscontext: true
      - - operator: isExists
          left:
            value:
              simple: CrowdStrike.ODSScanHost.started_on
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2332.5,
          "y": 9615
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "126":
    id: "126"
    taskid: 0913d54a-5e2f-4dc9-8cc3-b2de800cb668
    type: regular
    task:
      id: 0913d54a-5e2f-4dc9-8cc3-b2de800cb668
      version: -1
      name: cs-falcon-list-identity-entities
      description: List identity entities.
      script: '|||cs-falcon-list-identity-entities'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "128"
    scriptarguments:
      max_risk_score_severity:
        simple: HIGH
      sort_key:
        simple: PRIMARY_DISPLAY_NAME
      type:
        simple: USER
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2760,
          "y": 9615
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "127":
    id: "127"
    taskid: 2a113003-53ae-4590-829f-2f2b5e1c2a02
    type: title
    task:
      id: 2a113003-53ae-4590-829f-2f2b5e1c2a02
      version: -1
      name: GQL commands
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "126"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2760,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "128":
    id: "128"
    taskid: 5a2be6b6-6b97-4431-8557-0484179a3e16
    type: condition
    task:
      id: 5a2be6b6-6b97-4431-8557-0484179a3e16
      version: -1
      name: Verify outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "42"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: CrowdStrike.IDPEntity
                accessor: primaryDisplayName
                transformers:
                - operator: FirstArrayElement
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2760,
          "y": 9790
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 9980,
        "width": 3090,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
