Packs/Tenable_io/TestPlaybooks/playbook-Tenable.io_test.yml
id: Tenable.io test
version: -1
name: Tenable.io test
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 5afe1887-7a82-4201-8e2b-87ed91f4d6e9
    type: start
    task:
      id: 5afe1887-7a82-4201-8e2b-87ed91f4d6e9
      version: -1
      name: ""
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "4"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    continueonerrortype: ""
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 1f1f2594-35d3-4fd3-81af-04f50bcea0c4
    type: regular
    task:
      id: 1f1f2594-35d3-4fd3-81af-04f50bcea0c4
      version: -1
      name: tenable-io-list-scans
      description: Retrive scans from the Tenable platform.
      script: '|||tenable-io-list-scans'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      retry-count:
        simple: "2"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    continueonerrortype: ""
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 9601b222-3c43-4a90-87d1-dd4a78ce6231
    type: regular
    task:
      id: 9601b222-3c43-4a90-87d1-dd4a78ce6231
      version: -1
      name: tenable-io-get-scan-status
      description: 'Check the status of a specific scan using its ID. The status can hold following possible values : Running, Completed and Empty (Ready to run).'
      script: '|||tenable-io-get-scan-status'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    scriptarguments:
      retry-count:
        simple: "2"
      scanId:
        simple: "16"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    continueonerrortype: ""
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: e0d7ba01-293d-47e0-8b14-4892160c6df3
    type: regular
    task:
      id: e0d7ba01-293d-47e0-8b14-4892160c6df3
      version: -1
      name: tenable-io-get-scan-report
      description: Retrive scan-report for the given scan.
      script: '|||tenable-io-get-scan-report'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      retry-count:
        simple: "2"
      detailed:
        simple: "yes"
      info:
        simple: "yes"
      scanId:
        simple: "16"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    continueonerrortype: ""
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: d4815e86-163b-4a25-8144-a11a1bcd6886
    type: regular
    task:
      id: d4815e86-163b-4a25-8144-a11a1bcd6886
      version: -1
      name: DeleteContext
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      all:
        simple: "yes"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    continueonerrortype: ""
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 441a9a18-1123-4cdb-834a-83b6defec520
    type: regular
    task:
      id: 441a9a18-1123-4cdb-834a-83b6defec520
      version: -1
      name: tenable-io-get-vulnerability-details
      description: Retrieve details for the given vulnerability.
      script: '|||tenable-io-get-vulnerability-details'
      type: regular
      iscommand: true
      brand: ""
    scriptarguments:
      retry-count:
        simple: "2"
      vulnerabilityId:
        complex:
          root: TenableIO
          accessor: Vulnerabilities.[0].Id
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    nexttasks:
      '#none#':
      - "7"
    continueonerrortype: ""
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: b8dfde69-7555-46b7-8177-272abbf76cf6
    type: regular
    task:
      id: b8dfde69-7555-46b7-8177-272abbf76cf6
      version: -1
      name: tenable-io-get-vulnerabilities-by-asset
      description: Get a list of up to 5000 of the vulnerabilities recorded for a given asset. By default, this list is sorted by vulnerability count, descending.
      script: '|||tenable-io-get-vulnerabilities-by-asset'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      retry-count:
        simple: "2"
      hostname:
        simple: ec2-52-50-45-109.eu-west-1.compute.amazonaws.com
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    continueonerrortype: ""
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: ce9e5be9-d2eb-43b8-8e85-e2090c9b47de
    type: regular
    task:
      id: ce9e5be9-d2eb-43b8-8e85-e2090c9b47de
      version: -1
      name: Tenable-io-export-assets
      description: Retrieves details for the specified asset to include custom attributes.
      script: '|||tenable-io-export-assets'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "10"
    scriptarguments:
      chunkSize:
        simple: "500"
      serviceNowSysId:
        simple: "false"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1245
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: fac545a4-3995-4dfd-8a13-127595c4ffe9
    type: regular
    task:
      id: fac545a4-3995-4dfd-8a13-127595c4ffe9
      version: -1
      name: Tenable-io-export-vulnerability
      description: Retrieves details for the specified asset to include custom attributes.
      script: Tenable.io|||tenable-io-export-vulnerabilities
      type: regular
      iscommand: true
      brand: Tenable.io
    nexttasks:
      '#none#':
      - "9"
    scriptarguments:
      numAssets:
        simple: "500"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1595
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: 1d023d21-6294-4c3c-8154-84d1a12a6b35
    type: condition
    task:
      id: 1d023d21-6294-4c3c-8154-84d1a12a6b35
      version: -1
      name: Verify vulnerabilities
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "11"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: TenableIO.Vulnerability.asset
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1770
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: 74e6bb9a-997e-49c9-8f37-0e4015e99369
    type: condition
    task:
      id: 74e6bb9a-997e-49c9-8f37-0e4015e99369
      version: -1
      name: Verify assets
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "8"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: TenableIO.Asset.id
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1420
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: eb80d96a-082f-4fda-8631-c9fb15c81a3e
    type: title
    task:
      id: eb80d96a-082f-4fda-8631-c9fb15c81a3e
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      description: ''
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1920
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1935,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
fromversion: 5.0.0
description: ''
