Packs/AnalyzeIncidentContextWithLocalAI/Playbooks/playbook-Analyze_Incident_Context_With_Local_AI.yml
contentitemexportablefields:
  contentitemfields:
    propagationLabels:
    - all
id: 'Analyze Incident Context With Local AI'
inputs: []
name: 'Analyze Incident Context With Local AI'
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 871a7861-61cd-413a-8203-9267e83a4c21
      iscommand: false
      name: ""
      version: -1
      description: ''
    taskid: 871a7861-61cd-413a-8203-9267e83a4c21
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 470,
          "y": 260
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: true
    quietmode: 2
    scriptarguments:
      incident_id:
        complex:
          accessor: id
          root: incident
      model:
        simple: llama3.2:latest
      text:
        simple: are there any indicators linking this to a known APT group
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0e443919-ecd2-466b-8334-c8b75671b6f0
      iscommand: false
      name: Analyze
      scriptName: AnalyzeIncidentContextWithLocalAI
      type: regular
      version: -1
    taskid: 0e443919-ecd2-466b-8334-c8b75671b6f0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 470,
          "y": 410
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 26da5db0-186e-45bb-8431-09d6ce126242
      iscommand: false
      name: Done
      type: title
      version: -1
      description: ''
    taskid: 26da5db0-186e-45bb-8431-09d6ce126242
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 470,
          "y": 620
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 425,
        "width": 380,
        "x": 470,
        "y": 260
      }
    }
  }
tests:
- No tests (auto formatted)
fromversion: 6.0.0
