Packs/CortexXDR/Playbooks/playbook-Cortex_XDR_-_delete_file.yml
id: Cortex XDR - delete file
version: -1
contentitemexportablefields:
  contentitemfields: {}
name: Cortex XDR - delete file
description: Initiates a new endpoint script execution to delete the specified file and retrieve the results.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 2e8588ea-e14e-4a63-87e5-35bcb394c162
    type: start
    task:
      id: 2e8588ea-e14e-4a63-87e5-35bcb394c162
      version: -1
      name: ""
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 2a6a0fd6-b02f-49ee-8d14-4c0a32bb64b7
    type: regular
    task:
      id: 2a6a0fd6-b02f-49ee-8d14-4c0a32bb64b7
      version: -1
      name: Run script delete file
      description: Initiates a new endpoint script execution to delete the specified file.
      script: '|||xdr-file-delete-script-execute'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      endpoint_ids:
        complex:
          root: inputs.endpoint_id
      file_path:
        complex:
          root: inputs.file_path
      timeout:
        complex:
          root: inputs.script_timeout
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 200
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: ec15490c-27b7-4852-80e1-04d66ba73b0c
    type: playbook
    task:
      id: ec15490c-27b7-4852-80e1-04d66ba73b0c
      version: -1
      name: Cortex XDR - Check Action Status
      description: Checks the action status of an action ID. \nEnter the action ID of the action whose status you want to know.
      playbookName: Cortex XDR - Check Action Status
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      action_id:
        complex:
          root: PaloAltoNetworksXDR.ScriptRun
          accessor: action_id
      timeout:
        complex:
          root: inputs.polling_timeout
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 450,
          "y": 380
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 8034abda-d134-4b58-821b-54de3c774b29
    type: regular
    task:
      id: 8034abda-d134-4b58-821b-54de3c774b29
      version: -1
      name: Get script execution results
      description: Retrieve the results of a script execution action.
      script: '|||xdr-get-script-execution-results'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      action_id:
        complex:
          root: PaloAltoNetworksXDR.ScriptRun
          accessor: action_id
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 560
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 91e2d310-e3ac-4781-8866-d2a422edc8b6
    type: title
    task:
      id: 91e2d310-e3ac-4781-8866-d2a422edc8b6
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      description: ''
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 740
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 755,
        "width": 380,
        "x": 450,
        "y": 50
      }
    }
  }
inputs:
- key: endpoint_id
  value: {}
  required: false
  description: 'A comma-separated list of endpoint IDs. '
  playbookInputQuery:
- key: file_path
  value: {}
  required: false
  description: |-
    A comma-separated list of file paths to delete.
    Files will be deleted on all provided endpoint ids
  playbookInputQuery:
- key: script_timeout
  value: {}
  required: false
  description: |-
    The timeout in seconds for this execution.
    (Default is: '600')
  playbookInputQuery:
- key: polling_timeout
  value:
    simple: "10"
  required: false
  description: Amount of time to poll action status before declaring a timeout and resuming the playbook (in minutes).
  playbookInputQuery:
outputs:
- contextPath: PaloAltoNetworksXDR.ScriptResult.results._return_value
  description: Value returned by the script in case the type is not a dictionary.
tests:
- No tests (auto formatted)
fromversion: 5.5.0
