Playbooks/playbook-Intezer_-_Analyze_by_hash.yml
id: 2451509c-125a-4d8d-8ffe-185e8eca1b25
version: 35
name: Intezer - Analyze by hash
description: Analyze the given hash on Intezer Analyze and enrich the file reputation.
  Supports SHA256, SHA1 and MD5.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: fb6cc030-9fdf-4d01-8702-87a7340cb6dc
    type: start
    task:
      id: fb6cc030-9fdf-4d01-8702-87a7340cb6dc
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
    note: false
    timertriggers: []
  "5":
    id: "5"
    taskid: d81d9fb9-89d5-48ce-8c5d-07d09edae0ae
    type: condition
    task:
      id: d81d9fb9-89d5-48ce-8c5d-07d09edae0ae
      version: -1
      name: Is Intezer enabled
      description: Verify that there is a valid instance of Intezer enabled.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "14"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: modules
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: modules.brand
                      iscontext: true
                    right:
                      value:
                        simple: Intezer_v2
                    ignorecase: true
                - - operator: isEqualString
                    left:
                      value:
                        simple: modules.state
                      iscontext: true
                    right:
                      value:
                        simple: active
                    ignorecase: true
                accessor: brand
            iscontext: true
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
    note: false
    timertriggers: []
  "6":
    id: "6"
    taskid: a4942a1c-5f24-45e0-8110-3f7b44049743
    type: title
    task:
      id: a4942a1c-5f24-45e0-8110-3f7b44049743
      version: -1
      name: Done
      description: Done
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
  "13":
    id: "13"
    taskid: ba60f063-bab7-41ad-88c4-ae4655f54307
    type: regular
    task:
      id: ba60f063-bab7-41ad-88c4-ae4655f54307
      version: -1
      name: Intezer - Analyze File by hash
      description: Checks file reputation for uploaded file (up to 20MB)
      script: Intezer_v2|||intezer-analyze-by-hash
      type: regular
      iscommand: true
      brand: Intezer_v2
    nexttasks:
      '#none#':
      - "16"
    scriptarguments:
      file_hash:
        complex:
          root: File
          accessor: SHA256
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 275,
          "y": 545
        }
      }
    note: false
    timertriggers: []
  "14":
    id: "14"
    taskid: 93c4375d-f7c5-4067-8f7b-109890016eaf
    type: condition
    task:
      id: 93c4375d-f7c5-4067-8f7b-109890016eaf
      version: -1
      name: Is there a hash to analyze?
      description: Asserts there's a hash to analyze
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "13"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: inputs.HASH
            iscontext: true
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 370
        }
      }
    note: false
    timertriggers: []
  "16":
    id: "16"
    taskid: 37ddde91-d11b-449d-8872-312def232706
    type: playbook
    task:
      id: 37ddde91-d11b-449d-8872-312def232706
      version: -1
      name: GenericPolling
      description: |-
        Use as a sub-playbook to block execution of the master playbook until a remote action is complete.
        This playbook implements polling by continually running the command in Step #2 until the operation completes.
        The remote action should have the following structure:

        1. Initiate the operation.
        2. Poll to check if the operation completed.
        3. (optional) Get the results of the operation.
      playbookName: GenericPolling
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      AdditionalPollingCommandArgNames: {}
      AdditionalPollingCommandArgValues: {}
      Ids:
        complex:
          root: Intezer
          accessor: Analysis.ID
      Interval:
        complex:
          root: inputs.Interval
      PollingCommandArgName:
        simple: analysis_id
      PollingCommandName:
        simple: intezer-get-analysis-result
      Timeout:
        complex:
          root: inputs.Timeout
      dt:
        simple: Intezer.Analysis(val.Status !== 'Done').Status
    separatecontext: true
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
    view: |-
      {
        "position": {
          "x": 275,
          "y": 720
        }
      }
    note: false
    timertriggers: []
  "17":
    id: "17"
    taskid: 5d156084-78f3-4c70-818e-c1b9ed0d81e7
    type: regular
    task:
      id: 5d156084-78f3-4c70-818e-c1b9ed0d81e7
      version: -1
      name: Intezer - get analysis result
      description: Wait and get analysis result, support file and endpoint analysis
      script: Intezer_v2|||intezer-get-analysis-result
      type: regular
      iscommand: true
      brand: Intezer_v2
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      analysis_id:
        complex:
          root: Intezer
          accessor: Analysis.ID
      analysis_type: {}
      indicator_name: {}
      result_url:
        complex:
          root: Intezer
          accessor: Analysis.ResultUrl
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 275,
          "y": 895
        }
      }
    note: false
    timertriggers: []
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1085,
        "width": 605,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: Interval
  value:
    simple: "1"
  required: true
  description: Polling frequency - how often the polling command should run (minutes)
- key: Timeout
  value:
    simple: "10"
  required: true
  description: How much time to wait before a timeout occurs  (minutes)
- key: HASH
  value:
    complex:
      root: File
      accessor: SHA256
  required: false
  description: ""
outputs:
- contextPath: File.SHA256
  description: SHA256 hash of the file
  type: string
- contextPath: File.Malicious
  description: The File malicious description
  type: unknown
- contextPath: File.Type
  description: File type e.g. "PE"
  type: string
- contextPath: File.Size
  description: File size
  type: number
- contextPath: File.MD5
  description: MD5 hash of the file
  type: string
- contextPath: File.Name
  description: Filename
  type: string
- contextPath: File.SHA1
  description: SHA1 hash of the file
  type: string
- contextPath: File
  description: The File object
  type: unknown
- contextPath: File.Malicious.Vendor
  description: For malicious files, the vendor that made the decision
  type: string
- contextPath: DBotScore
  description: The DBotScore object
  type: unknown
- contextPath: DBotScore.Indicator
  description: The indicator we tested
  type: string
- contextPath: DBotScore.Type
  description: The type of the indicator
  type: string
- contextPath: DBotScore.Vendor
  description: Vendor used to calculate the score
  type: string
- contextPath: DBotScore.Score
  description: The actual score
  type: number
tests:
  - No Tests