Packs/Phishing/Playbooks/Phishing_Investigation_-_Generic_v2_-_6_0.yml
id: Phishing Investigation - Generic v2
version: -1
contentitemexportablefields:
  contentitemfields: {}
name: Phishing Investigation - Generic v2
description: |-
  Use this playbook to investigate and remediate a potential phishing incident. The playbook simultaneously engages with the user that triggered the incident, while investigating the incident itself.

  The final remediation tasks are always decided by a human analyst.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: ac4755be-b17d-4464-8224-15aee51d29de
    type: start
    task:
      id: ac4755be-b17d-4464-8224-15aee51d29de
      version: -1
      name: ""
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "39"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": -90
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "2":
    id: "2"
    taskid: b8fe1f1e-c1ae-499e-83d7-f466009b5790
    type: regular
    task:
      id: b8fe1f1e-c1ae-499e-83d7-f466009b5790
      version: -1
      name: Assign to analyst
      description: Assign the incident to an analyst based on the analyst's organizational
        role.
      scriptName: AssignAnalystToIncident
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "15"
    scriptarguments:
      assignBy: {}
      email: {}
      onCall:
        complex:
          root: inputs.OnCall
      roles:
        complex:
          root: inputs.Role
      username: {}
    reputationcalc: 1
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 642.5,
          "y": 2810
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "7":
    id: "7"
    taskid: d6dfa5b6-7756-4f6f-8e97-c9c7bcd67ad7
    type: regular
    task:
      id: d6dfa5b6-7756-4f6f-8e97-c9c7bcd67ad7
      version: -1
      name: Manually review the incident
      description: Review the incident to determine if the email that the user reported
        is malicious.
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "33"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 130,
          "y": 3305
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "8":
    id: "8"
    taskid: 11da73b5-8815-42ea-89e6-d17ed25787d9
    type: regular
    task:
      id: 11da73b5-8815-42ea-89e6-d17ed25787d9
      version: -1
      name: Close investigation
      description: Close the investigation.
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "29"
    scriptarguments:
      assetid: {}
      closeNotes: {}
      closeReason: {}
      id: {}
      importantfield: {}
      test2: {}
      timefield1: {}
    reputationcalc: 1
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -187.5,
          "y": 5300
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "11":
    id: "11"
    taskid: 61327623-b9c8-4683-892e-82ed6a2005f7
    type: title
    task:
      id: 61327623-b9c8-4683-892e-82ed6a2005f7
      version: -1
      name: Triage
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "26"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 7.5,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "12":
    id: "12"
    taskid: 3fa6bd94-e6fa-4cad-8e42-a35aa3370a56
    type: regular
    task:
      id: 3fa6bd94-e6fa-4cad-8e42-a35aa3370a56
      version: -1
      name: Store the email address of the reporting user
      description: Store the email address of the user that reported the incident.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "53"
      - "85"
    scriptarguments:
      append: {}
      key:
        simple: ReporterAddress
      value:
        complex:
          root: incident
          accessor: labels.Email/from
    reputationcalc: 1
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1182.5,
          "y": 350
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "13":
    id: "13"
    taskid: 9551bc3f-272d-4db9-8a40-30b48d1ba33b
    type: regular
    task:
      id: 9551bc3f-272d-4db9-8a40-30b48d1ba33b
      version: -1
      name: Acknowledge incident was received
      description: |
        Send an auto-response to user that reported the incident, informing them the incident was received and being handled.
      script: '|||send-mail'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      additionalHeader: {}
      attachCIDs: {}
      attachIDs: {}
      attachNames: {}
      bcc: {}
      body:
        simple: "Hi ${.=function(val) { var reporter = val.ReporterAddress ;var account\
          \ = val.Account && val.Account.filter(function(acc) { return acc.DisplayName\
          \ && acc.Email && acc.Email.Address === reporter }); return account && account[0]\
          \ && account[0].DisplayName || reporter || ''; }(val)},\nWe've received\
          \ your email and are investigating.\nPlease do not touch the email until\
          \ further notice.\n\nCordially, \n  Your friendly neighborhood security\
          \ team"
      cc: {}
      from: {}
      htmlBody: {}
      replyTo: {}
      subject:
        simple: 'Re: Phishing Investigation - ${incident.name}'
      templateParams: {}
      to:
        complex:
          root: incident
          accessor: labels.Email/from
      transientFile: {}
      transientFileCID: {}
      transientFileContent: {}
    reputationcalc: 1
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1182.5,
          "y": 710
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "15":
    id: "15"
    taskid: 4defb0e5-cc6d-4939-8e4b-d69e261714f1
    type: condition
    task:
      id: 4defb0e5-cc6d-4939-8e4b-d69e261714f1
      version: -1
      name: Is the email malicious?
      description: Determines if the email is malicious based on the calculated severity.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "31"
      Malicious:
      - "30"
    separatecontext: false
    conditions:
    - label: Malicious
      condition:
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: incident.severity
            iscontext: true
          right:
            value:
              simple: "2"
    view: |-
      {
        "position": {
          "x": 642.5,
          "y": 2985
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "16":
    id: "16"
    taskid: b2b37a86-85e8-4385-811c-004dd3b0b215
    type: regular
    task:
      id: b2b37a86-85e8-4385-811c-004dd3b0b215
      version: -1
      name: Update  the user that the reported email is safe
      description: Send an email to the user explaining that the email they reported
        is safe.
      script: '|||send-mail'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      attachCIDs: {}
      attachIDs: {}
      attachNames: {}
      bcc: {}
      body:
        simple: |-
          Hi ${.=val.Account.DisplayName && val.Email.Address === val.incident.labels['Email/from'] ? val.Account.DisplayName : val.incident.labels['Email/from']},
          We've concluded that the email you forwarded to us is safe.
          Thank you for your alertness and your participation in keeping our organization secure.

          Cordially,
            Your security team
      cc: {}
      htmlBody: {}
      replyTo: {}
      subject:
        simple: 'Re: Phishing Investigation - ${incident.name}'
      to:
        simple: ${incident.labels.Email/from}
    reputationcalc: 1
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -187.5,
          "y": 3670
        }
      }
    note: false
    timertriggers:
    - fieldname: detectionsla
      action: stop
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "17":
    id: "17"
    taskid: 15992576-62ed-4c42-82a7-474746e05461
    type: regular
    task:
      id: 15992576-62ed-4c42-82a7-474746e05461
      version: -1
      name: Update  the user that the reported email is malicious
      description: Send an email to the user explaining that the email they reported
        is malicious.
      script: '|||send-mail'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "27"
    scriptarguments:
      attachCIDs: {}
      attachIDs: {}
      attachNames: {}
      bcc: {}
      body:
        simple: |-
          Hi ${.=val.Account.DisplayName && val.Email.Address === val.incident.labels['Email/from'] ? val.Account.DisplayName : val.incident.labels['Email/from']},
          We've concluded that the email you forwarded to us is malicious. No further action is required on your part. Good job on detecting and forwarding it to us!

          All the best,
            Your security team
      cc: {}
      htmlBody: {}
      replyTo: {}
      subject:
        simple: 'Re: Phishing Investigation - ${incident.name}'
      to:
        simple: ${incident.labels.Email/from}
      transientFile: {}
      transientFileContent: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1062.5,
          "y": 3670
        }
      }
    note: false
    timertriggers:
    - fieldname: detectionsla
      action: stop
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "18":
    id: "18"
    taskid: dda5420c-7de7-4f2d-8da5-09f3ed8a12b9
    type: title
    task:
      id: dda5420c-7de7-4f2d-8da5-09f3ed8a12b9
      version: -1
      name: Engage with User
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "12"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1182.5,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "22":
    id: "22"
    taskid: be406ffc-c93b-4890-830c-2536ffbedc6e
    type: playbook
    task:
      id: be406ffc-c93b-4890-830c-2536ffbedc6e
      version: -1
      name: Detonate File - Generic
      playbookName: Detonate File - Generic
      type: playbook
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "52"
    separatecontext: true
    view: |-
      {
        "position": {
          "x": 272.5,
          "y": 530
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "26":
    id: "26"
    taskid: 151f9ed5-3b43-4380-8ced-9892eb91104d
    type: playbook
    task:
      id: 151f9ed5-3b43-4380-8ced-9892eb91104d
      version: -1
      name: Process Email - Generic
      playbookName: Process Email - Generic
      type: playbook
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "55"
      - "22"
      - "88"
    separatecontext: true
    view: |-
      {
        "position": {
          "x": 7.5,
          "y": 340
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "27":
    id: "27"
    taskid: 421eef34-f338-4c46-89cf-844afa2a2e48
    type: title
    task:
      id: 421eef34-f338-4c46-89cf-844afa2a2e48
      version: -1
      name: Remediation
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "97"
      - "98"
      - "99"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1062.5,
          "y": 3850
        }
      }
    note: false
    timertriggers:
    - fieldname: remediationsla
      action: start
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "28":
    id: "28"
    taskid: 2335c87b-b3cf-466f-8025-b89257e53bf4
    type: playbook
    task:
      id: 2335c87b-b3cf-466f-8025-b89257e53bf4
      version: -1
      name: Search And Delete Emails - Generic
      description: This playbook searches and delete emails with similar attributes
        of a malicious email.
      playbookName: Search And Delete Emails - Generic
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "43"
    scriptarguments:
      AttachmentName:
        complex:
          root: incident
          accessor: attachmentname
      From:
        complex:
          root: incident
          accessor: emailfrom
      Subject:
        complex:
          root: incident
          accessor: emailsubject
    separatecontext: true
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 1490,
          "y": 4400
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "29":
    id: "29"
    taskid: fc429ec3-8231-46f6-8b25-2c7a06d2f005
    type: title
    task:
      id: fc429ec3-8231-46f6-8b25-2c7a06d2f005
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      description: ''
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -187.5,
          "y": 5485
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "30":
    id: "30"
    taskid: c2119cb4-091b-433a-8aeb-dac70d4a296e
    type: title
    task:
      id: c2119cb4-091b-433a-8aeb-dac70d4a296e
      version: -1
      name: Email Is Malicious
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "17"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1062.5,
          "y": 3160
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "31":
    id: "31"
    taskid: d560749b-2218-466f-856e-18986e9a1885
    type: title
    task:
      id: d560749b-2218-466f-856e-18986e9a1885
      version: -1
      name: Undetermined
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "7"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 130,
          "y": 3160
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "33":
    id: "33"
    taskid: 231bb05f-9f96-4a43-82a4-70b3ef434bf8
    type: condition
    task:
      id: 231bb05f-9f96-4a43-82a4-70b3ef434bf8
      version: -1
      name: Is the email malicious?
      description: Is the email that the user reported malicious?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "No":
      - "16"
      "Yes":
      - "17"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 130,
          "y": 3470
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "34":
    id: "34"
    taskid: 945915a4-395f-444f-8500-c80791cddcfd
    type: regular
    task:
      id: 945915a4-395f-444f-8500-c80791cddcfd
      version: -1
      name: Manually remediate  the incident
      description: "Consider the following:\n1. Search for and delete similar emails\n\
        2. Inform the organization about the threat\n3. Hunt the relevant IOCs\n4.\
        \ Update proxies and firewalls as necessary\n5. Block the malicious sender/\
        \ domain in the mail-gateway "
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "43"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 52.5,
          "y": 4315
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "36":
    id: "36"
    taskid: 371fd6a2-07fd-4368-86e5-9b85359315f0
    type: condition
    task:
      id: 371fd6a2-07fd-4368-86e5-9b85359315f0
      version: -1
      name: Should emails be searched and deleted?
      description: Checks whether the "SearchAndDelete" playbook input is set to True.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "43"
      Yes, use EWS:
      - "28"
      Yes, use O365:
      - "94"
    separatecontext: false
    conditions:
    - label: Yes, use EWS
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: inputs.SearchAndDelete
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: inputs.SearchAndDelete
                      iscontext: true
                    right:
                      value:
                        simple: "True"
                    ignorecase: true
            iscontext: true
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.UseO365ForSearchAndDelete
            iscontext: true
          right:
            value:
              simple: "False"
          ignorecase: true
    - label: Yes, use O365
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.SearchAndDelete
            iscontext: true
          right:
            value:
              simple: "True"
          ignorecase: true
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.UseO365ForSearchAndDelete
            iscontext: true
          right:
            value:
              simple: "True"
          ignorecase: true
    view: |-
      {
        "position": {
          "x": 1062.5,
          "y": 4200
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "37":
    id: "37"
    taskid: 7fd08a0b-6da3-45d1-8b49-7d1a8eaa450f
    type: condition
    task:
      id: 7fd08a0b-6da3-45d1-8b49-7d1a8eaa450f
      version: -1
      name: Should indicators be blocked automatically?
      description: Checks whether the "BlockIndicators" playbook input is set to True.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "43"
      "yes":
      - "91"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: inputs.BlockIndicators
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: inputs.BlockIndicators
                      iscontext: true
                    right:
                      value:
                        simple: "True"
                    ignorecase: true
            iscontext: true
    view: |-
      {
        "position": {
          "x": 2160,
          "y": 4305
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "39":
    id: "39"
    taskid: 151326c6-7adc-48bf-8710-6b0b01d86f48
    type: title
    task:
      id: 151326c6-7adc-48bf-8710-6b0b01d86f48
      version: -1
      name: Start Detection Timer
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "18"
      - "11"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 40
        }
      }
    note: false
    timertriggers:
    - fieldname: detectionsla
      action: start
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "43":
    id: "43"
    taskid: 17f9d1ad-24e9-4ddc-813f-15ff190032a1
    type: title
    task:
      id: 17f9d1ad-24e9-4ddc-813f-15ff190032a1
      version: -1
      name: Stop Remediation Timer
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "8"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1062.5,
          "y": 5030
        }
      }
    note: false
    timertriggers:
    - fieldname: remediationsla
      action: stop
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "52":
    id: "52"
    taskid: 29d97b94-fad1-490d-8ddb-b0e16c107da8
    type: title
    task:
      id: 29d97b94-fad1-490d-8ddb-b0e16c107da8
      version: -1
      name: Indicator Enrichment
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "92"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -260,
          "y": 725
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "53":
    id: "53"
    taskid: 9efe139c-3485-464d-8122-1a3bc8587888
    type: playbook
    task:
      id: 9efe139c-3485-464d-8122-1a3bc8587888
      version: -1
      name: Email Address Enrichment - Generic v2.1
      playbookName: Email Address Enrichment - Generic v2.1
      type: playbook
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      Domain:
        complex:
          root: Domain
          transformers:
          - operator: uniq
      Email:
        complex:
          root: ReporterAddress
          transformers:
          - operator: uniq
      InternalDomains: {}
    separatecontext: true
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 0
    view: |-
      {
        "position": {
          "x": 1182.5,
          "y": 530
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "55":
    id: "55"
    taskid: 675eab21-6e48-46f8-8c48-831d694b90bc
    type: playbook
    task:
      id: 675eab21-6e48-46f8-8c48-831d694b90bc
      version: -1
      name: Extract Indicators From File - Generic v2
      playbookName: Extract Indicators From File - Generic v2
      type: playbook
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "52"
    separatecontext: true
    view: |-
      {
        "position": {
          "x": -260,
          "y": 530
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "56":
    id: "56"
    taskid: 54dab694-bd86-4fb5-8c85-b01dfd91a15d
    type: title
    task:
      id: 54dab694-bd86-4fb5-8c85-b01dfd91a15d
      version: -1
      name: Investigation
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "79"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -260,
          "y": 1270
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "79":
    id: "79"
    taskid: d18654f5-16fd-441e-8db0-4e55f0df0f43
    type: condition
    task:
      id: d18654f5-16fd-441e-8db0-4e55f0df0f43
      version: -1
      name: Should the email be authenticated?
      description: Whether the email should be authenticated using DKIM, SPF and DMARC.
        This checks whether "AuthenticateEmail" output is set to "True" and whether
        there are headers from an email to authenticate.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "84"
      "yes":
      - "80"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.AuthenticateEmail
            iscontext: true
          right:
            value:
              simple: "True"
          ignorecase: true
      - - operator: isExists
          left:
            value:
              complex:
                root: Email
                accessor: HeadersMap
            iscontext: true
    view: |-
      {
        "position": {
          "x": -260,
          "y": 1440
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "80":
    id: "80"
    taskid: 254b1455-3c72-4a76-85ef-603e9cd4cda4
    type: title
    task:
      id: 254b1455-3c72-4a76-85ef-603e9cd4cda4
      version: -1
      name: Email Authenticity Check
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "82"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -260,
          "y": 1640
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "82":
    id: "82"
    taskid: 0f654686-0911-450d-86e6-0689df621d61
    type: regular
    task:
      id: 0f654686-0911-450d-86e6-0689df621d61
      version: -1
      name: Authenticate email
      description: Checks the authenticity of an email based on the email's SPF, DMARC,
        and DKIM.
      scriptName: CheckEmailAuthenticity
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "83"
    scriptarguments:
      DKIM_override_fail: {}
      DKIM_override_neutral: {}
      DKIM_override_none: {}
      DKIM_override_pass: {}
      DKIM_override_permerror: {}
      DKIM_override_policy: {}
      DKIM_override_temperror: {}
      DMARC_override_fail: {}
      DMARC_override_none: {}
      DMARC_override_pass: {}
      DMARC_override_permerror: {}
      DMARC_override_temperror: {}
      SPF_override_fail: {}
      SPF_override_neutral: {}
      SPF_override_none: {}
      SPF_override_pass: {}
      SPF_override_permerror: {}
      SPF_override_softfail: {}
      SPF_override_temperror: {}
      headers:
        complex:
          root: Email
          accessor: Headers
          transformers:
          - operator: uniq
    reputationcalc: 1
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -260,
          "y": 1810
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "83":
    id: "83"
    taskid: e80e3f5a-a74f-44a8-8e83-8eee96def1d0
    type: regular
    task:
      id: e80e3f5a-a74f-44a8-8e83-8eee96def1d0
      version: -1
      name: Save authenticity check result to incident field
      description: Save the verdict, regarding the authenticity of the email, in an
        incident field.
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "84"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedhosts: {}
      affectedindividualscontactinformation: {}
      affectedips: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentitem: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      backupowner: {}
      bugtraq: {}
      campaigntargetcount: {}
      campaigntargets: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      criticalassets: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      daysbetweenreportcreation: {}
      deleteEmptyField: {}
      dest: {}
      destinationip: {}
      destntdomain: {}
      details: {}
      detectedusers: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailauthenticitycheck:
        complex:
          root: Email
          accessor: AuthenticityCheck
          transformers:
          - operator: replace
            args:
              limit: {}
              replaceWith:
                value:
                  simple: Undetermined
              toReplace:
                value:
                  simple: undetermined
          - operator: replace
            args:
              limit: {}
              replaceWith:
                value:
                  simple: Pass
              toReplace:
                value:
                  simple: pass
          - operator: replace
            args:
              limit: {}
              replaceWith:
                value:
                  simple: Fail
              toReplace:
                value:
                  simple: fail
          - operator: replace
            args:
              limit: {}
              replaceWith:
                value:
                  simple: Suspicious
              toReplace:
                value:
                  simple: suspicious
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailbodyhtmlraw: {}
      emailcc: {}
      emailclientname: {}
      emailfrom: {}
      emailfromdisplayname: {}
      emailhtml: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderdomain: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailsubjectlanguage: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventid: {}
      falses: {}
      fetchid: {}
      fetchtype: {}
      filehash: {}
      filename: {}
      filepath: {}
      hostid: {}
      hostname: {}
      htmlimage: {}
      htmlrenderedimage: {}
      id: {}
      important: {}
      importantfield: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      mdtest: {}
      measurestomitigate: {}
      myfield: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      phishingsubtype: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      relateddomain: {}
      replacePlaybook: {}
      reporteduser: {}
      reportinguser: {}
      roles: {}
      screenshot: {}
      screenshot2: {}
      sectorofaffectedparty: {}
      selector: {}
      severity: {}
      signature: {}
      single: {}
      single2: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      source: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      systems: {}
      telephoneno: {}
      test: {}
      test2: {}
      testfield: {}
      timeassignedtolevel2: {}
      timefield1: {}
      timelevel1: {}
      type: {}
      user: {}
      username: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
      xdr: {}
    reputationcalc: 1
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -260,
          "y": 1985
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "84":
    id: "84"
    taskid: 32673e2e-72fc-4a00-8054-7e0f357a6981
    type: playbook
    task:
      id: 32673e2e-72fc-4a00-8054-7e0f357a6981
      version: -1
      name: Calculate Severity - Generic v2
      playbookName: Calculate Severity - Generic v2
      type: playbook
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "2"
    separatecontext: true
    view: |-
      {
        "position": {
          "x": 180,
          "y": 2160
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "85":
    id: "85"
    taskid: c325df0c-5e0f-4ba9-8863-0b0c18410025
    type: regular
    task:
      id: c325df0c-5e0f-4ba9-8863-0b0c18410025
      version: -1
      name: Save reporter email address in field
      description: Saves the email address of the reporter of the email, in an incident
        field.
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedhosts: {}
      affectedindividualscontactinformation: {}
      affectedips: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentitem: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      backupowner: {}
      bugtraq: {}
      campaigntargetcount: {}
      campaigntargets: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      criticalassets: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      daysbetweenreportcreation: {}
      deleteEmptyField: {}
      dest: {}
      destinationip: {}
      destntdomain: {}
      details: {}
      detectedusers: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailauthenticitycheck: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclassification: {}
      emailclientname: {}
      emailfrom: {}
      emailfromdisplayname: {}
      emailheaders: {}
      emailhtml: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderdomain: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailsubjectlanguage: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventid: {}
      falses: {}
      fetchid: {}
      fetchtype: {}
      filehash: {}
      filename: {}
      filepath: {}
      hostid: {}
      hostname: {}
      htmlimage: {}
      htmlrenderedimage: {}
      id: {}
      important: {}
      importantfield: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      mdtest: {}
      measurestomitigate: {}
      myfield: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      phishingsubtype: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      relateddomain: {}
      replacePlaybook: {}
      reporteduser: {}
      reporteremailaddress:
        complex:
          root: ReporterAddress
      reportinguser: {}
      roles: {}
      screenshot: {}
      screenshot2: {}
      sectorofaffectedparty: {}
      selector: {}
      severity: {}
      signature: {}
      single: {}
      single2: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      source: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      systems: {}
      telephoneno: {}
      test: {}
      test2: {}
      testfield: {}
      timeassignedtolevel2: {}
      timefield1: {}
      timelevel1: {}
      type: {}
      urlsslverification: {}
      user: {}
      username: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
      xdr: {}
      xdralertcount: {}
      xdralerts: {}
      xdrassigneduseremail: {}
      xdrassigneduserprettyname: {}
      xdrdescription: {}
      xdrdetectiontime: {}
      xdrfileartifacts: {}
      xdrhighseverityalertcount: {}
      xdrincidentid: {}
      xdrlowseverityalertcount: {}
      xdrmediumseverityalertcount: {}
      xdrnetworkartifacts: {}
      xdrnotes: {}
      xdrresolvecomment: {}
      xdrstatus: {}
      xdrurl: {}
      xdrusercount: {}
    reputationcalc: 1
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1650,
          "y": 530
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "87":
    id: "87"
    taskid: bf7ea13b-64cd-46fb-8563-825432a1c808
    type: regular
    task:
      id: bf7ea13b-64cd-46fb-8563-825432a1c808
      version: -1
      name: Predict phishing type using pre-trained phishing model
      description: Predicts the specific type of phishing mail using a pre-trained
        machine learning model, and highlights the most important words used in the
        classification decision.
      scriptName: DBotPredictPhishingWords
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "90"
    scriptarguments:
      emailBody:
        complex:
          root: Email
          accessor: Text
          transformers:
          - operator: uniq
      emailBodyHTML:
        complex:
          root: Email
          accessor: HTML
          transformers:
          - operator: uniq
      emailSubject:
        complex:
          root: Email
          accessor: Subject
          transformers:
          - operator: uniq
      hashSeed: {}
      labelProbabilityThreshold: {}
      minTextLength: {}
      modelName:
        simple: phishing_model
      modelStoreType: {}
      returnError:
        simple: "false"
      topWordsLimit: {}
      wordThreshold: {}
    reputationcalc: 1
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -1142.5,
          "y": 680
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "88":
    id: "88"
    taskid: 601d6fe6-08ac-42f0-8ce1-cf65cd4fe1d1
    type: title
    task:
      id: 601d6fe6-08ac-42f0-8ce1-cf65cd4fe1d1
      version: -1
      name: Machine Learning
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "87"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -1142.5,
          "y": 530
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "89":
    id: "89"
    taskid: 40fe8e89-4a2c-470f-8bd6-6bae51b4794e
    type: regular
    task:
      id: 40fe8e89-4a2c-470f-8bd6-6bae51b4794e
      version: -1
      name: Update incident with predictions
      description: Updates incident fields with the predictions of the machine-learning
        phishing model.
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "56"
    scriptarguments:
      account: {}
      accountid: {}
      accountname: {}
      activedirectoryaccountstatus: {}
      activedirectorydisplayname: {}
      activedirectorypasswordstatus: {}
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      agentid: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      blockedaction: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      commandline: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      companypropertystatus: {}
      contactaddress: {}
      contactname: {}
      coordinates: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      criticalassets: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      dbotprediction:
        complex:
          root: DBotPredictPhishingWords
          accessor: Label
          transformers:
          - operator: uniq
      dbotpredictionprobability:
        complex:
          root: DBotPredictPhishingWords
          accessor: Probability
          transformers:
          - operator: uniq
      dbottextsuggestionhighlighted:
        complex:
          root: DBotPredictPhishingWords
          accessor: TextTokensHighlighted
          transformers:
          - operator: uniq
      deleteEmptyField: {}
      dest: {}
      destinationip: {}
      destntdomain: {}
      details: {}
      detectionendtime: {}
      detectionid: {}
      detectionticketed: {}
      detectionupdatetime: {}
      detectionurl: {}
      devicegsuiteaccountstatus: {}
      devicename: {}
      dpoemailaddress: {}
      duoaccountstatus: {}
      duration: {}
      emailaddress: {}
      emailauthenticitycheck: {}
      emailautoreply: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclassification: {}
      emailclientname: {}
      emailfrom: {}
      emailheaders: {}
      emailhtml: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      employeedisplayname: {}
      employeeemail: {}
      employeemanageremail: {}
      extrahopapplianceid: {}
      extrahophostname: {}
      filehash: {}
      filename: {}
      filepath: {}
      filesize: {}
      firstseen: {}
      globaldirectoryvisibility: {}
      googleaccountstatus: {}
      googleadminrolesstatus: {}
      googledisplayname: {}
      googledrivestatus: {}
      googlemailstatus: {}
      googlepasswordstatus: {}
      hostname: {}
      id: {}
      infectedhosts: {}
      isolated: {}
      isthedatasubjecttodpia: {}
      labels: {}
      lastmodifiedby: {}
      lastmodifiedon: {}
      lastseen: {}
      likelyimpact: {}
      mailboxdelegation: {}
      maliciousbehavior: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      markdowntest: {}
      measurestomitigate: {}
      name: {}
      niststage: {}
      occurred: {}
      offboardingstage: {}
      oktaaccountstatus: {}
      owner: {}
      parentprocessid: {}
      participants: {}
      phase: {}
      phishingsubtype: {}
      pid: {}
      policydeleted: {}
      policydescription: {}
      policydetails: {}
      policyid: {}
      policyrecommendation: {}
      policyremediable: {}
      policyseverity: {}
      policytype: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      previouscoordinates: {}
      previouscountry: {}
      previoussignindatetime: {}
      previoussourceip: {}
      prismacloudid: {}
      prismacloudreason: {}
      prismacloudrules: {}
      prismacloudstatus: {}
      prismacloudtime: {}
      rating: {}
      rawparticipants: {}
      region: {}
      regionid: {}
      replacePlaybook: {}
      reporteremailaddress: {}
      resourceapiname: {}
      resourcecloudtype: {}
      resourceid: {}
      resourcename: {}
      resourcetype: {}
      riskrating: {}
      riskscore: {}
      roles: {}
      rrn: {}
      sectorofaffectedparty: {}
      severity: {}
      signature: {}
      signindatetime: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      skuname: {}
      skutier: {}
      sla: {}
      slaField: {}
      sourceip: {}
      src: {}
      srcntdomain: {}
      srcos: {}
      srcuser: {}
      subscriptionassignedby: {}
      subscriptioncreatedby: {}
      subscriptioncreatedon: {}
      subscriptiondescription: {}
      subscriptionid: {}
      subscriptionname: {}
      subscriptiontype: {}
      subscriptionupdatedby: {}
      subscriptionupdatedon: {}
      subtype: {}
      systemdefault: {}
      systems: {}
      telephoneno: {}
      terminatedaction: {}
      threatactor: {}
      trapsid: {}
      travelmaplink: {}
      triggeredsecurityprofile: {}
      type: {}
      urlsslverification: {}
      user: {}
      username: {}
      vendorid: {}
      vendorproduct: {}
      vpcid: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
      xdralertcount: {}
      xdralerts: {}
      xdrassigneduseremail: {}
      xdrassigneduserprettyname: {}
      xdrdescription: {}
      xdrdetectiontime: {}
      xdrfileartifacts: {}
      xdrhighseverityalertcount: {}
      xdrincidentid: {}
      xdrlowseverityalertcount: {}
      xdrmediumseverityalertcount: {}
      xdrnetworkartifacts: {}
      xdrnotes: {}
      xdrresolvecomment: {}
      xdrstatus: {}
      xdrurl: {}
      xdrusercount: {}
    reputationcalc: 1
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -1142.5,
          "y": 1060
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "90":
    id: "90"
    taskid: 585dd252-1010-44ae-8c8d-1331c6d907ab
    type: condition
    task:
      id: 585dd252-1010-44ae-8c8d-1331c6d907ab
      version: -1
      name: Did the model predict the phishing type?
      description: Checks whether the model predicted the phishing type.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "56"
      "yes":
      - "89"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: DBotPredictPhishingWords
                accessor: Label
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: DBotPredictPhishingWords
                accessor: Probability
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: DBotPredictPhishingWords
                accessor: TextTokensHighlighted
            iscontext: true
    view: |-
      {
        "position": {
          "x": -1142.5,
          "y": 860
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "91":
    id: "91"
    taskid: 3001d958-52e1-4bb2-8c2f-700d478b032d
    type: playbook
    task:
      id: 3001d958-52e1-4bb2-8c2f-700d478b032d
      version: -1
      name: Block Indicators - Generic v2
      playbookName: Block Indicators - Generic v2
      type: playbook
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "43"
    scriptarguments:
      AutoCommit:
        simple: "No"
      CustomBlockRule:
        simple: "True"
      CustomURLCategory: {}
      DAG: {}
      EDLServerIP: {}
      IP:
        complex:
          root: DBotScore
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: DBotScore.Type
                iscontext: true
              right:
                value:
                  simple: ip
              ignorecase: true
          - - operator: greaterThanOrEqual
              left:
                value:
                  simple: DBotScore.Score
                iscontext: true
              right:
                value:
                  simple: "3"
          accessor: Indicator
          transformers:
          - operator: uniq
      IPBlacklistMiner: {}
      IPListName: {}
      LogForwarding: {}
      MD5:
        complex:
          root: DBotScore
          filters:
          - - operator: stringHasLength
              left:
                value:
                  simple: DBotScore.Indicator
                iscontext: true
              right:
                value:
                  simple: "32"
          - - operator: greaterThanOrEqual
              left:
                value:
                  simple: DBotScore.Score
                iscontext: true
              right:
                value:
                  simple: "3"
          - - operator: isEqualString
              left:
                value:
                  simple: DBotScore.Type
                iscontext: true
              right:
                value:
                  simple: file
              ignorecase: true
            - operator: isEqualString
              left:
                value:
                  simple: DBotScore.Type
                iscontext: true
              right:
                value:
                  simple: hash
              ignorecase: true
          accessor: Indicator
          transformers:
          - operator: uniq
      SHA256:
        complex:
          root: DBotScore
          filters:
          - - operator: stringHasLength
              left:
                value:
                  simple: DBotScore.Indicator
                iscontext: true
              right:
                value:
                  simple: "64"
          - - operator: greaterThanOrEqual
              left:
                value:
                  simple: DBotScore.Score
                iscontext: true
              right:
                value:
                  simple: "3"
          - - operator: isEqualString
              left:
                value:
                  simple: DBotScore.Type
                iscontext: true
              right:
                value:
                  simple: file
              ignorecase: true
            - operator: isEqualString
              left:
                value:
                  simple: DBotScore.Type
                iscontext: true
              right:
                value:
                  simple: hash
              ignorecase: true
          accessor: Indicator
          transformers:
          - operator: uniq
      StaticAddressGroup: {}
      URL:
        complex:
          root: DBotScore
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: DBotScore.Type
                iscontext: true
              right:
                value:
                  simple: url
              ignorecase: true
          - - operator: greaterThanOrEqual
              left:
                value:
                  simple: DBotScore.Score
                iscontext: true
              right:
                value:
                  simple: "3"
          accessor: Indicator
          transformers:
          - operator: uniq
      URLBlacklistMiner: {}
      URLListName: {}
      Username:
        complex:
          root: DBotScore
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: DBotScore.Type
                iscontext: true
              right:
                value:
                  simple: username
              ignorecase: true
          - - operator: greaterThanOrEqual
              left:
                value:
                  simple: DBotScore.Score
                iscontext: true
              right:
                value:
                  simple: "3"
          accessor: Indicator
          transformers:
          - operator: uniq
      categories: {}
      device-group: {}
      type: {}
    separatecontext: true
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 0
    view: |-
      {
        "position": {
          "x": 2160,
          "y": 4675
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "92":
    id: "92"
    taskid: 476e3b9e-4fb8-4edb-8f46-de3aa23f2d90
    type: playbook
    task:
      id: 476e3b9e-4fb8-4edb-8f46-de3aa23f2d90
      version: -1
      name: Entity Enrichment - Phishing v2
      description: Enrich entities using one or more integrations
      playbookName: Entity Enrichment - Phishing v2
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "56"
    separatecontext: true
    view: |-
      {
        "position": {
          "x": -260,
          "y": 860
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "93":
    id: "93"
    taskid: 788396bf-5289-4acb-8be2-2f720684dc70
    type: playbook
    task:
      id: 788396bf-5289-4acb-8be2-2f720684dc70
      version: -1
      name: O365 - Security And Compliance - Search And Delete
      description: |-
        This playbook performs the following steps:
        1. Creates a compliance search.
        2. Starts a compliance search.
        3. Waits for the compliance search to complete.
        4. Gets the results of the compliance search.
        5. Gets the preview results, if specified.
        6. Deletes the search results (Hard/Soft).
      playbookName: O365 - Security And Compliance - Search And Delete
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "43"
    scriptarguments:
      allow_not_found_exchange_locations:
        simple: "true"
      case: {}
      delete_type:
        complex:
          root: inputs.O365DeleteMethod
      description:
        simple: Search for potential phishing
      exchange_location:
        complex:
          root: ExchangeLocation
      exchange_location_exclusion: {}
      force:
        simple: "false"
      kql:
        simple: from:${incident.emailfrom} AND subject:${Email.Subject}
      preview:
        simple: "true"
      search_name: {}
    separatecontext: true
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 590,
          "y": 4840
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: true
    quietmode: 0
  "94":
    id: "94"
    taskid: 468a9d20-de34-4874-8cc2-e11bfadc2eb6
    type: condition
    task:
      id: 468a9d20-de34-4874-8cc2-e11bfadc2eb6
      version: -1
      name: Where should emails be searched & deleted?
      description: Checks where to search for and delete emails from. Determined by
        the O365DeleteTarget playbook input.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "95"
      All mailboxes:
      - "96"
    separatecontext: false
    conditions:
    - label: All mailboxes
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.O365DeleteTarget
            iscontext: true
          right:
            value:
              simple: All
          ignorecase: true
    view: |-
      {
        "position": {
          "x": 590,
          "y": 4390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "95":
    id: "95"
    taskid: a0c678c9-1d27-4a5f-8880-4d4f12bcc4b4
    type: regular
    task:
      id: a0c678c9-1d27-4a5f-8880-4d4f12bcc4b4
      version: -1
      name: Set the "email to" as the mailbox to search
      description: Sets the email address of the person who received the phishing
        email in a context key which determines where to search and delete emails.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "93"
    scriptarguments:
      append: {}
      key:
        simple: ExchangeLocation
      stringify: {}
      value:
        complex:
          root: incident
          accessor: emailto
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 802.5,
          "y": 4620
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "96":
    id: "96"
    taskid: f6ea8fad-ac4f-41d5-8890-c99607306e9a
    type: regular
    task:
      id: f6ea8fad-ac4f-41d5-8890-c99607306e9a
      version: -1
      name: Set all mailboxes to be searched
      description: Sets the value of "All" in a context key which determines where
        to search and delete emails.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "93"
    scriptarguments:
      append: {}
      key:
        simple: ExchangeLocation
      stringify: {}
      value:
        simple: All
    reputationcalc: 1
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 370,
          "y": 4620
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "97":
    id: "97"
    taskid: 646e672b-9f6c-4147-8e4b-4afc3b57321b
    type: title
    task:
      id: 646e672b-9f6c-4147-8e4b-4afc3b57321b
      version: -1
      name: Block Indicators
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "37"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 2160,
          "y": 4060
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "98":
    id: "98"
    taskid: a443be1b-8b73-4645-8aa1-acc53fcbf525
    type: title
    task:
      id: a443be1b-8b73-4645-8aa1-acc53fcbf525
      version: -1
      name: Search & Delete Email
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "36"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1062.5,
          "y": 4070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "99":
    id: "99"
    taskid: 49efbf61-f01f-4883-8be2-eab322544851
    type: title
    task:
      id: 49efbf61-f01f-4883-8be2-eab322544851
      version: -1
      name: Manual Remediation
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "34"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 52.5,
          "y": 4070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
view: |-
  {
    "linkLabelsPosition": {
      "15_31_#default#": 0.44,
      "33_16_No": 0.64,
      "33_17_Yes": 0.35,
      "36_28_Yes, use EWS": 0.59,
      "36_43_#default#": 0.15,
      "37_43_#default#": 0.27,
      "79_80_yes": 0.49,
      "79_84_#default#": 0.38,
      "90_56_#default#": 0.3,
      "90_89_yes": 0.48,
      "94_96_All mailboxes": 0.66
    },
    "paper": {
      "dimensions": {
        "height": 5640,
        "width": 3682.5,
        "x": -1142.5,
        "y": -90
      }
    }
  }
inputs:
- key: Role
  value:
    simple: Administrator
  required: true
  description: The default role to assign the incident to.
  playbookInputQuery:
- key: SearchAndDelete
  value:
    simple: "False"
  required: false
  description: |-
    Enable the "Search and Delete" capability (can be either "True" or "False").
    In case of a malicious email, the "Search and Delete" sub-playbook will look for other instances of the email and delete them pending analyst approval.
  playbookInputQuery:
- key: BlockIndicators
  value:
    simple: "False"
  required: false
  description: |-
    Enable the "Block Indicators" capability (can be either "True" or "False").
    In case of a malicious email, the "Block Indicators" sub-playbook will block all malicious indicators in the relevant integrations.
  playbookInputQuery:
- key: AuthenticateEmail
  value:
    simple: "False"
  required: false
  description: Whether the authenticity of the email should be verified, using SPF,
    DKIM and DMARC.
  playbookInputQuery:
- key: OnCall
  value:
    simple: "False"
  required: false
  description: Set to true to assign only user that is currently on shift. Requires
    Cortex XSOAR v5.5 or later.
  playbookInputQuery:
- key: UseO365ForSearchAndDelete
  value:
    simple: "False"
  required: false
  description: Whether to use the O365 - Security And Compliance - Search And Delete
    playbook to search and delete the phishing email from all mailboxes.
  playbookInputQuery:
- key: O365DeleteType
  value: {}
  required: false
  description: The method by which to delete emails using the O365 - Security And
    Compliance - Search And Delete playbook. Could be "Soft" (recoverable), or "Hard"
    (unrecoverable). Leave empty to decide manually for each email incident.
  playbookInputQuery:
- key: O365DeleteTarget
  value: {}
  required: false
  description: The exchange location. Determines where to search and delete emails
    searched using O365 playbooks. Use the value "All" to search all mailboxes. If
    any another input is specified, the email will be searched and deleted only from
    the mailbox of the person to whom it was sent. Note - searching all mailboxes
    may take significantly longer to complete. This input is only applicable if the
    UseO365ForSearchAndDelete input is set to True.
  playbookInputQuery:
outputs: []
tests:
- playbook-checkEmailAuthenticity-test
- Phishing v2 - Test - Incident Starter
fromversion: 6.0.0
