Packs/Palo_Alto_Networks_WildFire/TestPlaybooks/playbook-Wildfire_Test.yml
description: 'A test playbook for Wild Fire.

  Does not test the deprecated detonate commands.'
id: Wildfire Test
inputs: []
name: Wildfire Test
outputs: []
starttaskid: '0'
system: true
tasks:
  '0':
    id: '0'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '10'
    note: false
    separatecontext: false
    task:
      brand: ''
      id: 53895f5a-6686-4bc6-8de6-9fcf25dca51d
      iscommand: false
      name: ''
      version: -1
    taskid: 53895f5a-6686-4bc6-8de6-9fcf25dca51d
    timertriggers: []
    type: start
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 50\n  }\n}"
  '10':
    id: '10'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '6'
    note: false
    scriptarguments:
      all:
        simple: 'yes'
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    task:
      brand: ''
      description: Delete field from context
      id: 95ea07d3-bac7-46ba-8ee8-cba8942d6612
      iscommand: false
      name: DeleteContext
      scriptName: DeleteContext
      type: regular
      version: -1
    taskid: 95ea07d3-bac7-46ba-8ee8-cba8942d6612
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 195\n  }\n}"
  '13':
    id: '13'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '18'
    note: false
    scriptarguments:
      upload:
        simple: ${InfoFile.EntryID}
    separatecontext: false
    task:
      brand: ''
      description: Upload file to WildFire for analysis.
      id: 8b95c716-9987-42fd-8363-68c62f4b26bb
      iscommand: true
      name: wildfire-upload
      script: '|||wildfire-upload'
      type: regular
      version: -1
    taskid: 8b95c716-9987-42fd-8363-68c62f4b26bb
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 895\n  }\n}"
  '15':
    id: '15'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '20'
    note: false
    scriptarguments:
      format:
        simple: xml
      hash:
        complex:
          accessor: Report.SHA256
          root: WildFire
      md5: {}
      sha256: {}
      verbose:
        simple: 'true'
    separatecontext: false
    task:
      brand: ''
      description: Retrieve results for a file hash using WildFire
      id: efe01132-e8e7-4d85-8320-80ddde1f73fc
      iscommand: true
      name: wildfire-report
      script: '|||wildfire-report'
      type: regular
      version: -1
    taskid: efe01132-e8e7-4d85-8320-80ddde1f73fc
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 1245\n  }\n}"
  '17':
    id: '17'
    ignoreworker: false
    note: false
    separatecontext: false
    task:
      brand: ''
      id: 718b0bc8-beff-417d-80cd-b872401c587e
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 718b0bc8-beff-417d-80cd-b872401c587e
    timertriggers: []
    type: title
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 6145\n  }\n}"
  '18':
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Report.SHA256
                root: WildFire
                transformers:
                - args:
                    index:
                      value:
                        simple: '0'
                  operator: atIndex
          operator: isExists
      label: 'yes'
    id: '18'
    ignoreworker: false
    nexttasks:
      '#default#':
      - '15'
      'yes':
      - '19'
    note: false
    separatecontext: false
    task:
      brand: ''
      id: 71fcd5bf-c8f5-4958-88ac-7c7e45ed7d10
      iscommand: false
      name: Search for hashes for report download
      type: condition
      version: -1
    taskid: 71fcd5bf-c8f5-4958-88ac-7c7e45ed7d10
    timertriggers: []
    type: condition
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 1070\n  }\n}"
  '19':
    id: '19'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '20'
    note: false
    scriptarguments:
      format: {}
      hash:
        complex:
          accessor: Report.SHA256
          root: WildFire
          transformers:
          - args:
              index:
                value:
                  simple: '0'
            operator: atIndex
      md5: {}
      verbose: {}
    separatecontext: false
    task:
      brand: ''
      description: Retrieve results for a file hash using WildFire
      id: 8af34dd8-2862-4967-8526-9c9bdd4a6d42
      iscommand: true
      name: wildfire-report
      script: '|||wildfire-report'
      type: regular
      version: -1
    taskid: 8af34dd8-2862-4967-8526-9c9bdd4a6d42
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 480,\n    \"y\": 1245\n  }\n}"
  '20':
    id: '20'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '41'
    note: false
    scriptarguments:
      format:
        simple: xml
      hash:
        simple: bf31789a028bfbc44e5c1ae05d8e412dd521bedc7f0c7ec6df3dc4078210a25e
      md5: {}
      sha256: {}
      verbose: {}
    separatecontext: false
    task:
      brand: ''
      description: Retrieve results for a file hash using WildFire
      id: a19d90a6-2fc8-4d8c-8588-cdc688dee615
      iscommand: true
      name: wildfire-report - no network data
      script: '|||wildfire-report'
      type: regular
      version: -1
    taskid: a19d90a6-2fc8-4d8c-8588-cdc688dee615
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 1420\n  }\n}"
  '21':
    id: '21'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '22'
    note: false
    scriptarguments:
      body: {}
      filename:
        simple: my_verdicts
      headers: {}
      insecure: {}
      method:
        simple: GET
      password: {}
      proxy: {}
      saveAsFile:
        simple: 'yes'
      unsecure: {}
      url:
        simple: https://raw.githubusercontent.com/demisto/content/master/TestData/verdicts_for_wildfire_test_pb.txt
      username: {}
    separatecontext: false
    task:
      brand: ''
      description: Sends http request. Returns the response as json.
      id: bb23219f-380d-48a2-8907-9fb12dbf8f35
      iscommand: false
      name: http download test data file
      scriptName: http
      type: regular
      version: -1
    taskid: bb23219f-380d-48a2-8907-9fb12dbf8f35
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 2470\n  }\n}"
  '22':
    id: '22'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '24'
    note: false
    scriptarguments:
      EntryID:
        simple: ${File.EntryID}
    separatecontext: false
    task:
      brand: ''
      description: Get a verdict regarding multiple hashes
      id: 6ea4d576-e7ad-4c7c-8300-e10fd19ddca4
      iscommand: true
      name: wildfire-get-verdicts
      script: '|||wildfire-get-verdicts'
      type: regular
      version: -1
    taskid: 6ea4d576-e7ad-4c7c-8300-e10fd19ddca4
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 2645\n  }\n}"
  '23':
    id: '23'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '21'
    note: false
    scriptarguments:
      all:
        simple: 'yes'
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    task:
      brand: ''
      description: Delete field from context
      id: 76be44c3-7496-40c0-89f4-eddbb2343115
      iscommand: false
      name: Delete Context
      scriptName: DeleteContext
      type: regular
      version: -1
    taskid: 76be44c3-7496-40c0-89f4-eddbb2343115
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 2295\n  }\n}"
  '24':
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Verdicts
                root: WildFire
          operator: isExists
      label: 'yes'
    id: '24'
    ignoreworker: false
    nexttasks:
      'yes':
      - '30'
    note: false
    separatecontext: false
    task:
      brand: ''
      id: 59f4106a-63cd-4065-8461-ec05f4a8a3b6
      iscommand: false
      name: test wildfire-get-verdicts
      type: condition
      version: -1
    taskid: 59f4106a-63cd-4065-8461-ec05f4a8a3b6
    timertriggers: []
    type: condition
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 2820\n  }\n}"
  '25':
    id: '25'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '26'
    note: false
    scriptarguments:
      all:
        simple: 'yes'
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    task:
      brand: ''
      description: Delete field from context
      id: 152a6284-28e1-4c52-8105-df38ac78f0d4
      iscommand: false
      name: DeleteContext
      scriptName: DeleteContext
      type: regular
      version: -1
    taskid: 152a6284-28e1-4c52-8105-df38ac78f0d4
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 1770\n  }\n}"
  '26':
    id: '26'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '27'
    note: false
    scriptarguments:
      hash:
        simple: afe6b95ad95bc689c356f34ec8d9094c495e4af57c932ac413b65ef132063acc
    separatecontext: false
    task:
      brand: ''
      description: Get a verdict regarding a hash
      id: bf71c670-3e16-4b14-80db-719a2d5886fb
      iscommand: true
      name: wildfire-get-verdict
      script: '|||wildfire-get-verdict'
      type: regular
      version: -1
    taskid: bf71c670-3e16-4b14-80db-719a2d5886fb
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 1945\n  }\n}"
  '27':
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Score
                root: DBotScore
          operator: isEqualNumber
          right:
            value:
              simple: '3'
      label: 'yes'
    id: '27'
    ignoreworker: false
    nexttasks:
      'yes':
      - '23'
    note: false
    separatecontext: false
    task:
      brand: ''
      id: 7e8658c9-1fec-47fa-8777-998f758beb22
      iscommand: false
      name: test wildfire-get-verdict
      type: condition
      version: -1
    taskid: 7e8658c9-1fec-47fa-8777-998f758beb22
    timertriggers: []
    type: condition
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 2120\n  }\n}"
  '28':
    id: '28'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '29'
    note: false
    scriptarguments:
      file:
        simple: a31986a65068af86dbfeddad3e63e05f759b2b32
      long: {}
      md5: {}
      retries: {}
      sha256: {}
      threshold: {}
      wait: {}
    separatecontext: false
    task:
      brand: WildFire-v2
      description: Retrieve results for a file hash using WildFire
      id: cf19a4db-4e2d-4158-87cd-681f6a625d51
      iscommand: true
      name: file (with sha1 value in the argument file)
      script: WildFire-v2|||file
      type: regular
      version: -1
    taskid: cf19a4db-4e2d-4158-87cd-681f6a625d51
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 3170\n  }\n}"
  '29':
    id: '29'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '31'
    note: false
    scriptarguments:
      contextKey:
        simple: checkFile
      entryId:
        simple: ${lastCompletedTaskEntries.[0]}
      listSeperator: {}
    separatecontext: false
    task:
      brand: ''
      description: "Takes the comments of a given entry ID and stores them in the\
        \ incident context, under a provided context key. \nFor accessing the last\
        \ executed task's comments, provide ${lastCompletedTaskEntries.[0]} as the\
        \ value for the entryId input parameter."
      id: b581de4c-23a8-4f99-83d1-3abbd8e6cb96
      iscommand: false
      name: commentsToContext
      scriptName: commentsToContext
      type: regular
      version: -1
    taskid: b581de4c-23a8-4f99-83d1-3abbd8e6cb96
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 3345\n  }\n}"
  '30':
    id: '30'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '28'
    note: false
    scriptarguments:
      all:
        simple: 'yes'
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    task:
      brand: ''
      description: Delete field from context
      id: d20a5284-2f59-4eaa-85f4-46bec3fe1acc
      iscommand: false
      name: DeleteContext
      scriptName: DeleteContext
      type: regular
      version: -1
    taskid: d20a5284-2f59-4eaa-85f4-46bec3fe1acc
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 2995\n  }\n}"
  '31':
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: checkFile
          operator: containsString
          right:
            value:
              simple: WildFire file hash reputation supports only MD5, SHA256
      label: 'yes'
    id: '31'
    ignoreworker: false
    nexttasks:
      'yes':
      - '32'
    note: false
    separatecontext: false
    task:
      brand: ''
      id: f6ad72e2-5d0d-4bcb-8f40-82b1a844292c
      iscommand: false
      name: test file with sha1 input
      type: condition
      version: -1
    taskid: f6ad72e2-5d0d-4bcb-8f40-82b1a844292c
    timertriggers: []
    type: condition
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 3520\n  }\n}"
  '32':
    id: '32'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '33'
    note: false
    reputationcalc: 2
    separatecontext: false
    task:
      brand: ''
      id: 1d9f76d2-b3c7-4f9c-8470-ae6f6b97d5e2
      iscommand: false
      name: file_command_enrichment_test_script_helper
      scriptName: file_command_enrichment_test_script_helper
      type: regular
      version: -1
    taskid: 1d9f76d2-b3c7-4f9c-8470-ae6f6b97d5e2
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 3695\n  }\n}"
  '33':
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Indicator
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Indicator
                    operator: stringHasLength
                    right:
                      value:
                        simple: '32'
                root: DBotScore
                transformers:
                - operator: uniq
          operator: isEqualString
          right:
            value:
              simple: 8cbf90aeab2c93b2819fcfd6262b2cdb
        - left:
            iscontext: true
            value:
              complex:
                accessor: Indicator
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Indicator
                    operator: stringHasLength
                    right:
                      value:
                        simple: '64'
                root: DBotScore
                transformers:
                - operator: uniq
          operator: isEqualString
          right:
            value:
              simple: fa5953e0c34a4bbf69ac31f3a1360024101c1232bb45cccaad3611b682c92387
      label: 'yes'
    id: '33'
    ignoreworker: false
    nexttasks:
      'yes':
      - '34'
    note: false
    separatecontext: false
    task:
      brand: ''
      description: Test enrichment of md5 or sha 256 does exist
      id: 8bac8203-5d1a-45ef-877d-89d9ce66a65a
      iscommand: false
      name: Test enrichment of md5 or sha 256 does exist
      type: condition
      version: -1
    taskid: 8bac8203-5d1a-45ef-877d-89d9ce66a65a
    timertriggers: []
    type: condition
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 3870\n  }\n}"
  '34':
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Indicator
                    operator: isEqualString
                    right:
                      value:
                        simple: 74eb807ea392650562b43a0e326e5d14b86f43ce
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Vendor
                    operator: isEqualString
                    right:
                      value:
                        simple: WildFire
                root: DBotScore
          operator: isNotExists
      label: 'yes'
    id: '34'
    ignoreworker: false
    nexttasks:
      'yes':
      - '35'
    note: false
    separatecontext: false
    task:
      brand: ''
      id: 2f96368c-5010-4440-8419-4f7635bf125c
      iscommand: false
      name: Test enrichment of sha1 does not exist
      type: condition
      version: -1
    taskid: 2f96368c-5010-4440-8419-4f7635bf125c
    timertriggers: []
    type: condition
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 4045\n  }\n}"
  '35':
    id: '35'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '36'
    note: false
    scriptarguments:
      all:
        simple: 'yes'
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    task:
      brand: ''
      description: Delete field from context
      id: 0fe7d87c-0a55-4a2f-8bdb-8222faad9fda
      iscommand: false
      name: DeleteContext
      scriptName: DeleteContext
      type: regular
      version: -1
    taskid: 0fe7d87c-0a55-4a2f-8bdb-8222faad9fda
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 4220\n  }\n}"
  '36':
    id: '36'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '37'
    note: false
    scriptarguments:
      md5:
        simple: 5af84a3db5883627bfdff909e210634e
      sha256: {}
    separatecontext: false
    task:
      brand: ''
      description: Retrieve a sample from WildFire
      id: 7bbfcd3f-f51f-413f-815a-e4ca96ee9a13
      iscommand: true
      name: wildfire-get-sample
      script: '|||wildfire-get-sample'
      type: regular
      version: -1
    taskid: 7bbfcd3f-f51f-413f-815a-e4ca96ee9a13
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 4395\n  }\n}"
  '37':
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Name
                root: File
          operator: containsString
          right:
            value:
              simple: 1d457069cb511af47a587287d59817148d404a2a7f39e1032d16094811f648e3.xlsx
      label: 'yes'
    id: '37'
    ignoreworker: false
    nexttasks:
      'yes':
      - '38'
    note: false
    separatecontext: false
    task:
      brand: ''
      id: f0db14ad-d0d6-4d8c-87dc-8bcf65cf303e
      iscommand: false
      name: Test wildfire-get-sample
      type: condition
      version: -1
    taskid: f0db14ad-d0d6-4d8c-87dc-8bcf65cf303e
    timertriggers: []
    type: condition
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 4570\n  }\n}"
  '38':
    id: '38'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '39'
    note: false
    scriptarguments:
      md5: {}
      sha256:
        simple: 4b4f3e336514eedf8c8a1f9d929b97e42921f757056eb640706bd17e096ddad0
    separatecontext: false
    task:
      brand: ''
      description: Retrieve a sample
      id: a6c56eb1-7faf-4876-8263-e65af9f8dbc3
      iscommand: true
      name: wildfire-get-sample benign
      script: '|||wildfire-get-sample'
      type: regular
      version: -1
    taskid: a6c56eb1-7faf-4876-8263-e65af9f8dbc3
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 4745\n  }\n}"
  '39':
    id: '39'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '40'
    note: false
    scriptarguments:
      contextKey:
        simple: benignSample
      entryId:
        simple: ${lastCompletedTaskEntries.[0]}
      listSeperator: {}
    separatecontext: false
    task:
      brand: Builtin
      description: "Takes the comments of a given entry ID and stores them in the\
        \ incident context, under a provided context key. \nFor accessing the last\
        \ executed task's comments, provide ${lastCompletedTaskEntries.[0]} as the\
        \ value for the entryId input parameter."
      id: dceddbf4-6230-4c4e-81fb-1f8a93b35767
      iscommand: false
      name: comments to context
      scriptName: commentsToContext
      type: regular
      version: -1
    taskid: dceddbf4-6230-4c4e-81fb-1f8a93b35767
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 4920\n  }\n}"
  '40':
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: benignSample
          operator: containsString
          right:
            value:
              simple: Sample was not found.
      label: 'yes'
    id: '40'
    ignoreworker: false
    nexttasks:
      'yes':
      - '42'
    note: false
    separatecontext: false
    task:
      brand: ''
      id: e80d96be-e692-4f52-8c90-82ee6aaaa742
      iscommand: false
      name: info message of sample not found
      type: condition
      version: -1
    taskid: e80d96be-e692-4f52-8c90-82ee6aaaa742
    timertriggers: []
    type: condition
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 5095\n  }\n}"
  '41':
    id: '41'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '25'
    note: false
    scriptarguments:
      file:
        simple: 458464b0d08e76020f65f0c5fe8cfb4259dfb39161c1ed8d7fcb164ce49ab50c
      long: {}
      md5: {}
      retries: {}
      sha256: {}
      threshold: {}
      wait: {}
    separatecontext: false
    task:
      brand: WildFire-v2
      description: Retrieve results for a file hash using WildFire
      id: ce60334c-6b86-49aa-83fe-5b59115a1298
      iscommand: true
      name: wildfire-file
      script: WildFire-v2|||file
      type: regular
      version: -1
    taskid: ce60334c-6b86-49aa-83fe-5b59115a1298
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 1595\n  }\n}"
  '42':
    id: '42'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '43'
    note: false
    scriptarguments:
      all:
        simple: 'yes'
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    task:
      brand: ''
      description: Delete field from context
      id: 77ff5316-f701-4b31-8483-7a3c1c75829f
      iscommand: false
      name: DeleteContext
      scriptName: DeleteContext
      type: regular
      version: -1
    taskid: 77ff5316-f701-4b31-8483-7a3c1c75829f
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 5270\n  }\n}"
  '43':
    id: '43'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '44'
    note: false
    scriptarguments:
      data:
        simple: jojo
      entryId: {}
      filename:
        simple: lolo.xml
    separatecontext: false
    task:
      brand: ''
      description: 'Will create a file (using the given data input or entry ID) and
        upload it to current investigation war room.

        '
      id: fe35bf07-6c9c-427e-8442-9c3147253a1a
      iscommand: false
      name: FileCreateAndUpload
      scriptName: FileCreateAndUpload
      type: regular
      version: -1
    taskid: fe35bf07-6c9c-427e-8442-9c3147253a1a
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 5445\n  }\n}"
  '44':
    id: '44'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '45'
    note: false
    scriptarguments:
      upload:
        complex:
          accessor: EntryID
          root: File
    separatecontext: false
    task:
      brand: ''
      description: Uploads a file to WildFire for analysis.
      id: 71cc04bb-5cd2-4c47-8e27-724814d8f4bb
      iscommand: true
      name: wildfire-upload non supported file type
      script: '|||wildfire-upload'
      type: regular
      version: -1
    taskid: 71cc04bb-5cd2-4c47-8e27-724814d8f4bb
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 5620\n  }\n}"
  '45':
    id: '45'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '46'
    note: false
    scriptarguments:
      contextKey:
        simple: WarningMessage
      entryId:
        simple: ${lastCompletedTaskEntries.[0]}
      listSeperator: {}
    separatecontext: false
    task:
      brand: ''
      description: "Takes the comments of a given entry ID and stores them in the\
        \ incident context, under a provided context key. \nFor accessing the last\
        \ executed task's comments, provide ${lastCompletedTaskEntries.[0]} as the\
        \ value for the entryId input parameter."
      id: c17c4352-c580-4316-8c44-12a165473b7b
      iscommand: false
      name: Comments of warning message to context
      scriptName: commentsToContext
      type: regular
      version: -1
    taskid: c17c4352-c580-4316-8c44-12a165473b7b
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 5795\n  }\n}"
  '46':
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: WarningMessage
          operator: containsString
          right:
            value:
              simple: Unsupported File Type Sample, file type is not supported
      label: 'yes'
    id: '46'
    ignoreworker: false
    nexttasks:
      'yes':
      - '17'
    note: false
    separatecontext: false
    task:
      brand: ''
      id: ff60ce66-d3cd-47be-8419-3c0cbc527a89
      iscommand: false
      name: Warning message of not supported file type
      type: condition
      version: -1
    taskid: ff60ce66-d3cd-47be-8419-3c0cbc527a89
    timertriggers: []
    type: condition
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 5970\n  }\n}"
  '6':
    id: '6'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '7'
    note: false
    scriptarguments:
      upload:
        simple: http://www.pdf995.com/samples/pdf.pdf
    separatecontext: false
    task:
      brand: ''
      description: Upload a URL of remote file to WildFire for analysis
      id: 9816f0d5-e554-43d7-8726-ffa5e0f6523d
      iscommand: true
      name: wildfire-upload-file-url
      script: '|||wildfire-upload-file-url'
      type: regular
      version: -1
    taskid: 9816f0d5-e554-43d7-8726-ffa5e0f6523d
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 370\n  }\n}"
  '7':
    id: '7'
    ignoreworker: false
    nexttasks:
      '#none#':
      - '9'
    note: false
    scriptarguments:
      format: {}
      hash:
        simple: ebb031c3945e884e695dbc63c52a5efcd075375046c49729980073585ee13c52
      md5: {}
      sha256: {}
      verbose:
        simple: 'true'
    separatecontext: false
    task:
      brand: ''
      description: Retrieve results for a file hash using WildFire
      id: a67047ef-9070-4a13-8f32-a24a7ba2ac5a
      iscommand: true
      name: wildfire-report
      script: '|||wildfire-report'
      type: regular
      version: -1
    taskid: a67047ef-9070-4a13-8f32-a24a7ba2ac5a
    timertriggers: []
    type: regular
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 545\n  }\n}"
  '9':
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Score
                root: DBotScore
          operator: isEqualNumber
          right:
            value:
              simple: '1'
      label: 'yes'
    id: '9'
    ignoreworker: false
    nexttasks:
      'yes':
      - '13'
    note: false
    separatecontext: false
    task:
      brand: ''
      description: Verifies context
      id: 5d4100c8-f6a4-4513-8eed-9190dfbe6ee9
      iscommand: false
      name: test wildfire-report
      type: condition
      version: -1
    taskid: 5d4100c8-f6a4-4513-8eed-9190dfbe6ee9
    timertriggers: []
    type: condition
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 720\n  }\n}"
toversion: 4.1.9
version: -1
view: "{\n  \"linkLabelsPosition\": {\n    \"31_32_yes\": 0.9,\n    \"40_42_yes\"\
  : 0.85\n  },\n  \"paper\": {\n    \"dimensions\": {\n      \"height\": 6160,\n \
  \     \"width\": 810,\n      \"x\": 50,\n      \"y\": 50\n    }\n  }\n}"
