Packs/Grafana/TestPlaybooks/Grafana-Test.yml
id: Grafana-Test
version: -1
name: Grafana-Test
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 859437fa-6d1b-4e38-83b5-38daa32f0d77
    type: start
    task:
      id: 859437fa-6d1b-4e38-83b5-38daa32f0d77
      version: -1
      name: ""
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 920,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "1":
    id: "1"
    taskid: e9421284-7b40-4c72-842a-f256851c5d51
    type: regular
    task:
      id: e9421284-7b40-4c72-842a-f256851c5d51
      version: -1
      name: DeleteContext
      script: DeleteContext
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "2"
      - "15"
      - "8"
      - "23"
      - "36"
      - "44"
    scriptarguments:
      all:
        simple: "yes"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 920,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "2":
    id: "2"
    taskid: b1b36f05-b27a-415a-8bcb-fa2e4aa4b91e
    type: regular
    task:
      id: b1b36f05-b27a-415a-8bcb-fa2e4aa4b91e
      version: -1
      name: grafana-alerts-list
      script: '|||grafana-alerts-list'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 385
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "3":
    id: "3"
    taskid: 2fd94cc7-90af-47b4-813b-052cee598cc7
    type: condition
    task:
      id: 2fd94cc7-90af-47b4-813b-052cee598cc7
      version: -1
      name: Verify Outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "4"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Alert.id
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Alert.dashboardId
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Alert.dashboardUid
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Alert.dashboardSlug
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Alert.panelId
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Alert.name
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Alert.state
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Alert.newStateDate
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Alert.url
            iscontext: true
    view: |-
      {
        "position": {
          "x": 50,
          "y": 560
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "4":
    id: "4"
    taskid: 074ab907-315f-4c5c-87f5-a83f0d4ad860
    type: regular
    task:
      id: 074ab907-315f-4c5c-87f5-a83f0d4ad860
      version: -1
      name: grafana-alert-pause
      script: '|||grafana-alert-pause'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      alert_id:
        complex:
          root: Grafana.Alert
          accessor: id
          transformers:
          - operator: atIndex
            args:
              index:
                value:
                  simple: "0"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 735
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "5":
    id: "5"
    taskid: 25e5c956-e1ab-4f1a-8c74-38d65bf39b9a
    type: condition
    task:
      id: 25e5c956-e1ab-4f1a-8c74-38d65bf39b9a
      version: -1
      name: Verify Outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "43"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Alert.id
            iscontext: true
      - - operator: isEqualString
          left:
            value:
              simple: Grafana.Alert.state
            iscontext: true
          right:
            value:
              simple: paused
    view: |-
      {
        "position": {
          "x": 50,
          "y": 910
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "7":
    id: "7"
    taskid: 4ddb7a56-cae6-484c-8cc3-5646833a8734
    type: condition
    task:
      id: 4ddb7a56-cae6-484c-8cc3-5646833a8734
      version: -1
      name: Verify Outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "34"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Alert.id
            iscontext: true
      - - operator: isEqualString
          left:
            value:
              simple: Grafana.Alert.state
            iscontext: true
          right:
            value:
              simple: un-paused
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1260
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "8":
    id: "8"
    taskid: 164c1968-2b3c-4940-8d90-06e516a7e079
    type: regular
    task:
      id: 164c1968-2b3c-4940-8d90-06e516a7e079
      version: -1
      name: grafana-users-search
      script: '|||grafana-users-search'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "9"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 920,
          "y": 385
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "9":
    id: "9"
    taskid: 5a03ac4f-1828-491a-83f0-aa61b2a56afb
    type: condition
    task:
      id: 5a03ac4f-1828-491a-83f0-aa61b2a56afb
      version: -1
      name: Verify Outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "30"
      - "21"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.User.id
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.User.login
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.User.email
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.User.avatarUrl
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.User.lastSeenAt
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.User.lastSeenAtAge
            iscontext: true
    view: |-
      {
        "position": {
          "x": 910,
          "y": 560
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "10":
    id: "10"
    taskid: 9ffbb2f0-5ea5-4e87-8de7-56716edc2ff9
    type: regular
    task:
      id: 9ffbb2f0-5ea5-4e87-8de7-56716edc2ff9
      version: -1
      name: grafana-user-teams-get
      script: '|||grafana-user-teams-get'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "11"
    scriptarguments:
      user_id:
        complex:
          root: Grafana.User
          accessor: id
          transformers:
          - operator: atIndex
            args:
              index:
                value:
                  simple: "0"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 920,
          "y": 1610
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "11":
    id: "11"
    taskid: 54806e39-7452-45c3-8162-8c0645a71f6e
    type: condition
    task:
      id: 54806e39-7452-45c3-8162-8c0645a71f6e
      version: -1
      name: Verify Outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "42"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.User.id
            iscontext: true
    view: |-
      {
        "position": {
          "x": 920,
          "y": 1780
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "12":
    id: "12"
    taskid: fc6bfdab-c2c1-4b46-855a-88e4a48cf96b
    type: regular
    task:
      id: fc6bfdab-c2c1-4b46-855a-88e4a48cf96b
      version: -1
      name: grafana-user-orgs-get
      script: '|||grafana-user-orgs-get'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      user_id:
        complex:
          root: Grafana.User
          accessor: id
          transformers:
          - operator: atIndex
            args:
              index:
                value:
                  simple: "0"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 920,
          "y": 1260
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "13":
    id: "13"
    taskid: 64729d94-23c8-42b3-844d-d9a21d46c92b
    type: condition
    task:
      id: 64729d94-23c8-42b3-844d-d9a21d46c92b
      version: -1
      name: Verify Outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "10"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.User.id
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.User.orgs.orgId
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.User.orgs.name
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.User.orgs.role
            iscontext: true
    view: |-
      {
        "position": {
          "x": 920,
          "y": 1435
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "14":
    id: "14"
    taskid: f3058359-be15-4aa6-8b2b-c32d52758af3
    type: regular
    task:
      id: f3058359-be15-4aa6-8b2b-c32d52758af3
      version: -1
      name: grafana-user-update
      script: '|||grafana-user-update'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      email:
        simple: TestUser
      login:
        simple: TestUser
      name:
        simple: TestUser
      user_id:
        simple: "3"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 920,
          "y": 1085
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "15":
    id: "15"
    taskid: 43af3b76-8675-4ebc-8e20-e2f5f56d2f4c
    type: regular
    task:
      id: 43af3b76-8675-4ebc-8e20-e2f5f56d2f4c
      version: -1
      name: grafana-annotation-create
      script: '|||grafana-annotation-create'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "16"
    scriptarguments:
      text:
        simple: playbook
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 385
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "16":
    id: "16"
    taskid: 0b7bce71-482c-43fe-81ed-aab769f3c60e
    type: condition
    task:
      id: 0b7bce71-482c-43fe-81ed-aab769f3c60e
      version: -1
      name: Verify Outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "28"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Annotation.id
            iscontext: true
    view: |-
      {
        "position": {
          "x": 480,
          "y": 560
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "17":
    id: "17"
    taskid: 7e236d0c-ce4e-4f00-819b-33126801d9b9
    type: regular
    task:
      id: 7e236d0c-ce4e-4f00-819b-33126801d9b9
      version: -1
      name: grafana-teams-search
      script: '|||grafana-teams-search'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "18"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1362.5,
          "y": 1085
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "18":
    id: "18"
    taskid: 47bc6b17-ee24-4c00-8f0f-71038186c9c1
    type: condition
    task:
      id: 47bc6b17-ee24-4c00-8f0f-71038186c9c1
      version: -1
      name: Verify Outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "19"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Team.id
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Team.orgId
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Team.name
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Team.avatarUrl
            iscontext: true
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: Grafana.Team.memberCount
            iscontext: true
          right:
            value:
              simple: "0"
    view: |-
      {
        "position": {
          "x": 1362.5,
          "y": 1260
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "19":
    id: "19"
    taskid: c2cc2eb8-1ec1-4196-8a18-bce1f65f6132
    type: regular
    task:
      id: c2cc2eb8-1ec1-4196-8a18-bce1f65f6132
      version: -1
      name: grafana-team-members-list
      script: '|||grafana-team-members-list'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "20"
    scriptarguments:
      team_id:
        complex:
          root: Grafana.Team
          accessor: id
          transformers:
          - operator: atIndex
            args:
              index:
                value:
                  simple: "0"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1362.5,
          "y": 1435
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "20":
    id: "20"
    taskid: cc9b4427-f0ea-416a-8f08-f2ab3c4012bd
    type: condition
    task:
      id: cc9b4427-f0ea-416a-8f08-f2ab3c4012bd
      version: -1
      name: Verify Outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "32"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Team.id
            iscontext: true
    view: |-
      {
        "position": {
          "x": 1362.5,
          "y": 1610
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "21":
    id: "21"
    taskid: e213b41a-a23d-4274-8c32-0e023a1dc430
    type: regular
    task:
      id: e213b41a-a23d-4274-8c32-0e023a1dc430
      version: -1
      name: grafana-user-add-to-team
      script: '|||grafana-user-add-to-team'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "22"
    scriptarguments:
      team_id:
        complex:
          root: Grafana.Team
          accessor: id
          transformers:
          - operator: atIndex
            args:
              index:
                value:
                  simple: "0"
      user_id:
        simple: "3"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1362.5,
          "y": 735
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "22":
    id: "22"
    taskid: 95e074ac-40be-4018-86b8-953db43ab8aa
    type: regular
    task:
      id: 95e074ac-40be-4018-86b8-953db43ab8aa
      version: -1
      name: grafana-user-remove-from-team
      script: '|||grafana-user-remove-from-team'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      team_id:
        complex:
          root: Grafana.Team
          accessor: id
          transformers:
          - operator: atIndex
            args:
              index:
                value:
                  simple: "0"
      user_id:
        simple: "3"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1362.5,
          "y": 910
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "23":
    id: "23"
    taskid: f11efa6c-71a0-4622-8752-7c47a93428d6
    type: regular
    task:
      id: f11efa6c-71a0-4622-8752-7c47a93428d6
      version: -1
      name: grafana-team-add
      script: '|||grafana-team-add'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "24"
    scriptarguments:
      name:
        simple: Test Playbook Team
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1362.5,
          "y": 385
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "24":
    id: "24"
    taskid: dbff833e-daaa-4324-8d59-436ccf74e9d1
    type: condition
    task:
      id: dbff833e-daaa-4324-8d59-436ccf74e9d1
      version: -1
      name: Verify Outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "21"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Team.id
            iscontext: true
    view: |-
      {
        "position": {
          "x": 1362.5,
          "y": 560
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "25":
    id: "25"
    taskid: 9d4f93a0-2216-496e-8484-e13d590f5ac7
    type: regular
    task:
      id: 9d4f93a0-2216-496e-8484-e13d590f5ac7
      version: -1
      name: grafana-team-delete
      script: '|||grafana-team-delete'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "42"
    scriptarguments:
      team_id:
        complex:
          root: Grafana.Team
          accessor: id
          transformers:
          - operator: atIndex
            args:
              index:
                value:
                  simple: "0"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1362.5,
          "y": 2120
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "28":
    id: "28"
    taskid: 31980a85-6281-4425-8112-26499d06370b
    type: regular
    task:
      id: 31980a85-6281-4425-8112-26499d06370b
      version: -1
      name: grafana-dashboards-search
      script: '|||grafana-dashboards-search'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "29"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 735
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "29":
    id: "29"
    taskid: df13ce8d-ef5e-4f1b-8b8e-89bb1eb47775
    type: condition
    task:
      id: df13ce8d-ef5e-4f1b-8b8e-89bb1eb47775
      version: -1
      name: Verify Outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "42"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Dashboard.id
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Dashboard.uid
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Dashboard.title
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Dashboard.uri
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Dashboard.url
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Dashboard.type
            iscontext: true
    view: |-
      {
        "position": {
          "x": 480,
          "y": 910
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "30":
    id: "30"
    taskid: 219798dc-7c47-4797-854f-42b6d9fdde2c
    type: regular
    task:
      id: 219798dc-7c47-4797-854f-42b6d9fdde2c
      version: -1
      name: grafana-user-get-by-id
      script: '|||grafana-user-get-by-id'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "31"
    scriptarguments:
      user_id:
        complex:
          root: Grafana.User
          accessor: id
          transformers:
          - operator: atIndex
            args:
              index:
                value:
                  simple: "0"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 920,
          "y": 735
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "31":
    id: "31"
    taskid: dc456253-9590-4b17-8281-b17da4a5bc4d
    type: condition
    task:
      id: dc456253-9590-4b17-8281-b17da4a5bc4d
      version: -1
      name: Verify Outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "14"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.User.id
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.User.email
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.User.login
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.User.orgId
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.User.updatedAt
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.User.createdAt
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.User.avatarUrl
            iscontext: true
    view: |-
      {
        "position": {
          "x": 920,
          "y": 910
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "32":
    id: "32"
    taskid: bb60fde6-f375-443e-8497-b5cb3713e540
    type: regular
    task:
      id: bb60fde6-f375-443e-8497-b5cb3713e540
      version: -1
      name: grafana-team-get-by-id
      script: '|||grafana-team-get-by-id'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "33"
    scriptarguments:
      team_id:
        complex:
          root: Grafana.Team
          accessor: id
          transformers:
          - operator: atIndex
            args:
              index:
                value:
                  simple: "0"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1362.5,
          "y": 1780
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "33":
    id: "33"
    taskid: bb400281-660c-4271-8b20-b9b4c48a73d5
    type: condition
    task:
      id: bb400281-660c-4271-8b20-b9b4c48a73d5
      version: -1
      name: Verify Outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "25"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Team.id
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Team.orgId
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Team.name
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Team.avatarUrl
            iscontext: true
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: Grafana.Team.memberCount
            iscontext: true
          right:
            value:
              simple: "0"
    view: |-
      {
        "position": {
          "x": 1362.5,
          "y": 1945
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "34":
    id: "34"
    taskid: 723c5a89-d90e-40fe-82d4-892d86411248
    type: regular
    task:
      id: 723c5a89-d90e-40fe-82d4-892d86411248
      version: -1
      name: grafana-alert-get-by-id
      script: '|||grafana-alert-get-by-id'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "35"
    scriptarguments:
      alert_id:
        complex:
          root: Grafana.Alert
          accessor: id
          transformers:
          - operator: atIndex
            args:
              index:
                value:
                  simple: "0"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1435
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "35":
    id: "35"
    taskid: 884c813b-c85b-4876-8bcd-ec5799bd2a31
    type: condition
    task:
      id: 884c813b-c85b-4876-8bcd-ec5799bd2a31
      version: -1
      name: Verify Outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "42"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Alert.id
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Alert.orgId
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Alert.dashboardId
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Alert.panelId
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Alert.state
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Alert.frequency
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Alert.for
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Alert.newStateDate
            iscontext: true
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: Grafana.Alert.stateChanges
            iscontext: true
          right:
            value:
              simple: "0"
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Alert.created
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Alert.updated
            iscontext: true
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1610
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "36":
    id: "36"
    taskid: bb122621-f53f-4e0d-8c25-1081a9d58aa5
    type: regular
    task:
      id: bb122621-f53f-4e0d-8c25-1081a9d58aa5
      version: -1
      name: grafana-org-list
      script: '|||grafana-org-list'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "37"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1800,
          "y": 385
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "37":
    id: "37"
    taskid: d01df84a-a457-4dab-8f13-7955f67af84f
    type: condition
    task:
      id: d01df84a-a457-4dab-8f13-7955f67af84f
      version: -1
      name: Verify Outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "38"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Organization.id
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Organization.name
            iscontext: true
    view: |-
      {
        "position": {
          "x": 1800,
          "y": 560
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "38":
    id: "38"
    taskid: 2c99840e-6b12-4558-8d58-762b04c7982f
    type: regular
    task:
      id: 2c99840e-6b12-4558-8d58-762b04c7982f
      version: -1
      name: grafana-org-get-by-name
      script: '|||grafana-org-get-by-name'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "39"
    scriptarguments:
      name:
        complex:
          root: Grafana.Organization
          accessor: name
          transformers:
          - operator: atIndex
            args:
              index:
                value:
                  simple: "0"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1800,
          "y": 735
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "39":
    id: "39"
    taskid: 16244f40-a2b4-45e8-84be-dc4081b8aea4
    type: condition
    task:
      id: 16244f40-a2b4-45e8-84be-dc4081b8aea4
      version: -1
      name: Verify Outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "40"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Organization.id
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Organization.name
            iscontext: true
    view: |-
      {
        "position": {
          "x": 1800,
          "y": 910
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "40":
    id: "40"
    taskid: fd56e80b-eae5-4b2f-8b30-3dd6353cc9e8
    type: regular
    task:
      id: fd56e80b-eae5-4b2f-8b30-3dd6353cc9e8
      version: -1
      name: grafana-org-get-by-id
      script: '|||grafana-org-get-by-id'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "41"
    scriptarguments:
      org_id:
        complex:
          root: Grafana.Organization
          accessor: id
          transformers:
          - operator: atIndex
            args:
              index:
                value:
                  simple: "0"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1800,
          "y": 1085
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "41":
    id: "41"
    taskid: 8ca2a1f3-b853-441e-895b-820d87975f6f
    type: condition
    task:
      id: 8ca2a1f3-b853-441e-895b-820d87975f6f
      version: -1
      name: Verify Outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "42"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Organization.id
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Grafana.Organization.name
            iscontext: true
    view: |-
      {
        "position": {
          "x": 1800,
          "y": 1250
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "42":
    id: "42"
    taskid: d457d4bc-5885-49d4-8a11-995e430704c0
    type: title
    task:
      id: d457d4bc-5885-49d4-8a11-995e430704c0
      version: -1
      name: Test Done
      type: title
      iscommand: false
      brand: ""
      description: ''
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 2295
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "43":
    id: "43"
    taskid: 5785ebe7-d2c7-44cd-8222-862bb914eedf
    type: regular
    task:
      id: 5785ebe7-d2c7-44cd-8222-862bb914eedf
      version: -1
      name: grafana-alert-unpause
      description: Unpauses an alert by id.
      script: '|||grafana-alert-unpause'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      alert_id:
        complex:
          root: Grafana.Alert
          accessor: id
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1085
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "44":
    id: "44"
    taskid: b4e33059-efb3-4022-8a81-881b9b2b4a16
    type: playbook
    task:
      id: b4e33059-efb3-4022-8a81-881b9b2b4a16
      version: -1
      name: Fetch Incidents Test
      playbookName: Fetch Incidents Test
      type: playbook
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "42"
    scriptarguments:
      searchfield:
        simple: name
      sourcebrand:
        simple: Grafana
    separatecontext: true
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": -390,
          "y": 385
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2310,
        "width": 2570,
        "x": -390,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
fromversion: 6.0.0
description: ''
