Packs/Bonusly/Playbooks/Bonusly_-_Create_Bonus.yml
id: Bonusly - Create Bonus
version: -1
name: Bonusly - Create Bonus
description: 'This playbook allows you to create a bonusly bonus with an email address
  and a reason. It can be used in other playbooks. '
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 75b1c5eb-676a-4237-8835-c609f3fe463a
    type: start
    task:
      id: 75b1c5eb-676a-4237-8835-c609f3fe463a
      version: -1
      name: ""
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "1":
    id: "1"
    taskid: 5b23004a-4dad-4035-8f4f-de94fd983275
    type: regular
    task:
      id: 5b23004a-4dad-4035-8f4f-de94fd983275
      version: -1
      name: Create Bonusly Bonus
      description: Creates a bonusly bonus
      script: '|||bonusly-create-bonus'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      giver-email:
        simple: ${inputs.GiverEmail}
      parent-bonus-id: {}
      reason:
        simple: ${inputs.GiverReason}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "2":
    id: "2"
    taskid: 0b8037e6-4e8a-4540-8b73-7ddc212b99c8
    type: title
    task:
      id: 0b8037e6-4e8a-4540-8b73-7ddc212b99c8
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      description: ''
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 385,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: GiverEmail
  value: {}
  required: true
  description: ""
  playbookInputQuery:
- key: GiverReason
  value:
    simple: '+10 @tyler.rorabaugh #collaboration'
  required: false
  description: ""
  playbookInputQuery:
outputs: []
fromversion: 5.0.0
tests:
- No tests (auto formatted)
