Packs/AggregatedScripts/TestPlaybooks/ExpirePassword-Test.yml
id: ac542d78-347a-4903-8a51-144c3869fca6
version: 4
vcShouldKeepItemLegacyProdMachine: false
name: ExpirePassword - Test
description: Test Playbook for the Expire Password Script
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 39cde21f-dd54-43a2-81f7-dcadee83546e
    type: start
    task:
      id: 39cde21f-dd54-43a2-81f7-dcadee83546e
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 5eb6c72f-9b23-4417-b1a1-93f6c0c8d981
    type: title
    task:
      id: 5eb6c72f-9b23-4417-b1a1-93f6c0c8d981
      version: -1
      name: Case 1 - Disable by user_name Okta v2
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 230
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 34a237dd-6c11-4dfd-87e8-96d9e142eba5
    type: regular
    task:
      id: 34a237dd-6c11-4dfd-87e8-96d9e142eba5
      version: -1
      name: Delete Context
      description: "Delete field from context.\n\nThis automation runs using the default
        Limited User role, unless you explicitly change the permissions.\nFor more
        information, see the section about permissions here:\n- For Cortex XSOAR 6
        see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      all:
        simple: "yes"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 400
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 4ca7d40a-fdaf-458d-bfca-004153e512b7
    type: regular
    task:
      id: 4ca7d40a-fdaf-458d-bfca-004153e512b7
      version: -1
      name: Create User Okta With Password
      description: Creates a new user with an option of setting a password, recovery
        question, and answer. The new user will immediately be able to log in after
        activation with the assigned password. This flow is common when developing
        a custom user registration experience.
      script: Okta v2|||okta-create-user
      type: regular
      iscommand: true
      brand: Okta v2
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      activate:
        simple: "true"
      email:
        simple: ${TimeNowUnix}@test.com
      firstName:
        simple: ${TimeNowUnix}
      lastName:
        simple: ${TimeNowUnix}
      login:
        simple: ${TimeNowUnix}@test.com
      password:
        simple: ${NEW_PASSWORD}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 770
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: a99e3029-2ae7-47ce-b365-0e858a870a83
    type: regular
    task:
      id: a99e3029-2ae7-47ce-b365-0e858a870a83
      version: -1
      name: Get Timestamp
      description: |
        Retrieves the current date and time.
      scriptName: GetTime
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "12"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 540
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 94240bd1-da8d-4a90-8c5d-c0e78870c837
    type: regular
    task:
      id: 94240bd1-da8d-4a90-8c5d-c0e78870c837
      version: -1
      name: Expire Password By user_name and Brand
      description: This script expires users password for multiple services.
      scriptName: expire-password
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      brands:
        simple: Okta v2
      user_name:
        simple: ${Account.Username}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 890
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: e0f39487-537b-4d84-84f5-7ab050043165
    type: condition
    task:
      id: e0f39487-537b-4d84-84f5-7ab050043165
      version: -1
      name: Verify Results
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      "yes":
      - "7"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ExpirePassword.Result
            iscontext: true
          right:
            value:
              simple: Success
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1020
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: e64f3bed-e439-4f45-93ad-dd3ebbf35e4c
    type: title
    task:
      id: e64f3bed-e439-4f45-93ad-dd3ebbf35e4c
      version: -1
      name: Expire Password Again
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "13"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1190
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 59c13fe5-d8d9-4423-8eba-f482a6b9d1d3
    type: regular
    task:
      id: 59c13fe5-d8d9-4423-8eba-f482a6b9d1d3
      version: -1
      name: Expire Password by user_email and brand
      description: This script expires users password for multiple services.
      scriptName: expire-password
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "9"
    scriptarguments:
      brands:
        simple: Okta v2
      user_email:
        simple: ${Account.Email}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1410
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: f0af11d9-1e27-4897-833e-4ead1f31bc72
    type: condition
    task:
      id: f0af11d9-1e27-4897-833e-4ead1f31bc72
      version: -1
      name: Verify Results
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      "yes":
      - "11"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ExpirePassword.Result
            iscontext: true
          right:
            value:
              simple: Success
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1560
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: 8821cad8-007c-401d-b13b-7632847cdce1
    type: regular
    task:
      id: 8821cad8-007c-401d-b13b-7632847cdce1
      version: -1
      name: Delete Okta User
      description: Deletes the specified user.
      script: Okta v2|||okta-delete-user
      type: regular
      iscommand: true
      brand: Okta v2
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    scriptarguments:
      userId:
        simple: ${Account.ID}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: 1024108c-b4c5-4951-a83a-432628911b9a
    type: regular
    task:
      id: 1024108c-b4c5-4951-a83a-432628911b9a
      version: -1
      name: Generate Password
      description: "This function generates a password and allows various parameters
        to customize the properties of the password depending on the use case (e.g.
        password complexity requirements).  The default behavior is to generate a
        password of  *random length* including all four character classes (upper,
        lower, digits, symbols) with at least five and at most ten characters per
        class. \n\nThe min_* values all default to 0. This means that if the command
        is executed in this way:\n!GeneratePassword max_lcase=10\nIt is possible that
        a password of length zero could be generated. It is therefore recommended
        to always include a min_* parameter that matches. \n\nThe debug parameter
        will print certain properties of the command into the WarRoom for easy diagnostics."
      scriptName: GeneratePassword
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      min_digits:
        simple: "1"
      min_lcase:
        simple: "1"
      min_symbols:
        simple: "1"
      min_ucase:
        simple: "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 650
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: 3ea9b447-3a2e-4d0d-8a35-ac157e2cbaa3
    type: regular
    task:
      id: 3ea9b447-3a2e-4d0d-8a35-ac157e2cbaa3
      version: -1
      name: Delete Context
      description: "Delete field from context.\n\nThis automation runs using the default
        Limited User role, unless you explicitly change the permissions.\nFor more
        information, see the section about permissions here:\n- For Cortex XSOAR 6
        see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      all:
        simple: "no"
      key:
        simple: ExpirePassword
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1280
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1745,
        "width": 380,
        "x": 450,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
quiet: true
adopted: true
